
<div id="<%= dom_id club %>">

<%= turbo_frame_tag "club_#{club.id}"  do %>
<div class="p-3 mb-2 mt-2 border border-blue-900 rounded-lg shadow-md shadow-blue-900 hover:shadow-2xlmb-2">
     
    <div class="club">
     
        <div class="flex justify-between">

          <div class="mb-2 bg-blue-100">  
            <span class="whitespace-nowrap text-2xl"> <%= club.name %>  </span>
            <span class="font-light text-base"> - <%= club.city %>,  <%= club.us_state %>
            : (Estimated Active: <%= club.estimate_total_active_members %>/ Part-Time: <%= club.estimate_total_part_time_members %>) </span>
          </div>
          
          <div class="club__actions">

            <%= link_to "Edit club",
              edit_club_path(club),
              class: "font-semibold text-teal-600 border border-teal-600 p-1 rounded-lg hover:bg-teal-100" %>
                </div>
        </div>

        <div class="flex justify-left gap-4">
          <div> 
            <% if club.website? %>
              <span class="text-gray-500"><i class="fa-solid fa-globe"></i> <%= link_to club.website, "#(club.website)", class: link_class %> </span><% end %>
          </div> 
          
          <div>
             <% if club.facebook? %>
              <span class="text-gray-500"><i class="fa-brands fa-facebook"></i> <%= link_to club.facebook, "https://www.facebook.com/#{club.facebook}", class: link_class %>  </span><% end %>
          </div> 
          
          <div>
             <% if club.instagram? %>
              <span class="text-gray-800"><i class="fa-brands fa-instagram"></i> <%= link_to club.instagram, "http://www.instagram.com/#{club.instagram}", class: link_class %>  </span><% end %>
          </div>  
          
          <div>
            <% if club.twitter? %>
              <span class="text-gray-500"><i class="fa-brands fa-twitter"></i><i class="fa-brands fa-x-twitter"></i> <%= club.twitter %> </span><% end %>
          </div> 
          
          <div>
              <% if club.other_sm? %>
                <span class="text-gray-500"><i class="fa-regular fa-thumbs-up"></i> <%= club.other_sm %> </span><% end %>
          </div> 
        </div>

        <br>
        <% if is_admin? %>
        <%= link_to "Add / Edit Members, Roles or Teams ", club_path(club), class: teal_button_class,
        data: { turbo_frame: "_top" } %>
           
        <% else %>

        <%= link_to "(2) Add / Edit active members ", club_path(club), class: teal_button_class,
        data: { turbo_frame: "_top" } %>
        <% end %>
      
        <br><br>
      <div>
      <%= render "club_members", club: club %>
      </div>  

      <% if is_admin? %>
        <br>
      <div class="my-2">
        Individual Members (self managed)
      </div>
      <div>
       <%= render "club_individual_members", club: club %>
      </div>  

     <br>
      
       <div class="my-2">
          Key Roles
        </div>
        <div>
          <%= render "club_key_roles", club: club %>
        </div>  
    
        <br>
    
        <div class="my-2">
         Teams
      </div>
        <div>
        <%= render "club_teams", club: club %>
        </div>  
     <% end %>

      <div>
    </div>
    </div>
<% end %>
</div>

