<div id="<%= dom_id club %>">
  <p>
    <strong>Name:</strong>
    <%= club.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= club.city %>
  </p>

  <p>
    <strong>Us state:</strong>
    <%= club.us_state %>
  </p>

  <p>
    <strong>Membership category:</strong>
    <%= club.membership_category %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= club.website %>
  </p>

  <p>
    <strong>Facebook:</strong>
    <%= club.facebook %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= club.twitter %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= club.instagram %>
  </p>

  <p>
    <strong>Other sm:</strong>
    <%= club.other_sm %>
  </p>

  <p>
    <strong>Estimate total number of club members:</strong>
    <%= club.estimate_total_number_of_club_members %>
  </p>

  <p>
    <strong>Estimate total active members:</strong>
    <%= club.estimate_total_active_members %>
  </p>

  <p>
    <strong>Estimate total part time members:</strong>
    <%= club.estimate_total_part_time_members %>
  </p>

</div>
