<% content_for(:page_title, "#{@club.name}: Next Actions")%>

<div class="container m-2 mr-6">

   <div class="font-semibold text-gray-500 m-4">
  <% if is_admin? %>  
    <%= link_to "<< Back to All Clubs", index_admin_path %><br>
    <%= link_to "<< Back to Admin Managed Clubs", clubs_path %>
  <% else %>
    <% if NetballAssociation.exists?(user_id: current_user.id) %>
      <% association = NetballAssociation.find_by(user_id: current_user.id) %>
      <%= link_to "<< Back to Association", netball_association_path(association) %>
    <% else %>
      <%= link_to "<< Back to Overview", clubs_path %>
    <% end %>
  <% end %>
</div>

    <div class=" m-4">
     <span class="text-2xl text-blue-900"> <%= @club.name %></span><br>
      <span class="text-sm text-gray-500 ml-4">administered by: <%= @club.creator.full_name %> </span>
       <div class="flex justify-left gap-4 ">
          <div> 
            <% if @club.website? %>
              <span class="text-gray-500"><i class="fa-solid fa-globe"></i> <%= link_to @club.website, "#(club.website)", class: link_class %> </span><% end %>
          </div> 
          <div>
            <% if @club.email? %>
              <span class="text-gray-500">
                <i class="fa-solid fa-envelope"></i> 
                <%= mail_to @club.email, @club.email, class: link_class %>
              </span>
            <% end %>
          </div>
          
          <div>
             <% if @club.facebook? %>
              <span class="text-gray-500"><i class="fa-brands fa-facebook"></i> <%= link_to @club.facebook, "https://www.facebook.com/#{@club.facebook}", class: link_class %>  </span><% end %>
          </div> 
          
          <div>
             <% if @club.instagram? %>
              <span class="text-gray-800"><i class="fa-brands fa-instagram"></i> <%= link_to @club.instagram, "http://www.instagram.com/#{@club.instagram}", class: link_class %>  </span><% end %>
          </div>  
          
          <div>
            <% if @club.twitter? %>
              <span class="text-gray-500"><i class="fa-brands fa-twitter"></i><i class="fa-brands fa-x-twitter"></i> <%= @club.twitter %> </span><% end %>
          </div> 
          
          <div>
              <% if @club.other_sm? %>
                <span class="text-gray-500"><i class="fa-regular fa-thumbs-up"></i> <%= @club.other_sm %> </span><% end %>
          </div> 
        </div></span>
    </div>
   
    <div class="p-4 m-2 border border-grey-500 shadow-md shadow-blue-900 hover:border-black rounded-lg">
      <div class="ml-4 text-gray-700 text-lg text-left font-semibold">
        Club Members
      </div>
      <br>
      
      <div class="ml-2">
          <%= link_to "(2) Add / Edit active members",
                new_club_member_path(@club),
                data: { turbo_frame: dom_id(Member.new) },
                class: teal_button_class %>
                <br> <br>
      </div>

        <%= turbo_frame_tag Member.new %>
        <%= turbo_frame_tag  "members" do %>
          <div class="text-sm">
            <% if @club.members.any? %>
             <% active_members = @club.members.ordered.select { |m| ['Active', 'Part-Time'].include?(m.engagement_status) } %>
              <% inactive_members = @club.members.ordered.select { |m| m.engagement_status == 'Inactive' } %>

              <% if active_members.any? %>
                <div class="mb-2 font-semibold text-green-700">Active Members</div>
                <%= render active_members, club: @club %>
              <% end %>

              <% if inactive_members.any? %>
                <div class="mt-4 mb-2 font-semibold text-red-700">Inactive Members</div>
                  <div class="bg-gray-100 p-2 rounded-md">
                    <%= render inactive_members, club: @club %>
                  </div>
              <% end %>
            <% end %>
            </div>
        <% end %>

        
    </div>

   
    <div class="p-4 m-2 border border-grey-500 shadow-md shadow-blue-900 hover:border-black rounded-lg">
    <div class="ml-4 text-gray-700 text-lg text-left font-semibold">
      Individual Members
    </div>
    
    <% if is_admin? ||  current_user.teams_grants?  %>
    <div class="ml-2 my-2">
       <%= link_to "To add or remove Individual Membership records click here", individual_members_path, class: link_class %>
    </div>
    <% end %>

      <%= turbo_frame_tag Member.new %>
      <%= turbo_frame_tag "members" do %>
        <div class="text-sm">
          <% if @club.individual_members.any? %>
          <%= render "club_individual_members", club: @club %>
          <% end %>
          </div>
      <% end %>

  </div>


    <div class="flex flex-row flex-wrap">
    <div class="basis-1/2">
    <div class="p-4 basis-1/3 m-2 border border-grey-500 shadow-md shadow-blue-900 hover:border-black rounded-lg">
      <div class=" ml-4 text-gray-700 text-lg text-left font-semibold">
        Key Roles 
        <span class="text-sm text-gray-500">(please try to identify at least Club Key Contact and Club President)</span>  
      </div>
      <br>
      <div class="ml-2">
      <%= link_to "(3) Assign key roles",
            new_club_member_key_role_path(@club),
            data: { turbo_frame: dom_id(MemberKeyRole.new) },
            class: teal_button_class %>
            <br> <br>
        </div>
            <%= turbo_frame_tag MemberKeyRole.new %>
            <%= turbo_frame_tag "member_key_roles" do %>
              <div class="text-sm">
                <% if @club.member_key_roles.any? %>
                  <%= render @club.member_key_roles, club: @club %>
                <% end %>
            <% end %>
          </div>
      </div>    
    </div>

    <div class="basis-1/2">
      <div class="p-4 m-2 border border-grey-500 shadow-md shadow-blue-900 hover:border-black rounded-lg">
        <div class="ml-4 text-gray-700 text-lg text-left font-semibold"> 
          Teams <span class="text-grey-300 text-sm">(if multiple teams)</span>
        </div>
        <br>
        
        <div class="ml-2">
        <%= link_to "Add / Edit teams",
              new_club_team_path(@club),
              data: { turbo_frame: dom_id(Team.new) },
              class: teal_button_class %>
              <br> <br>
          </div>
              <%= turbo_frame_tag Team.new %>
                <%= turbo_frame_tag "teams" do %>
                  <div class="text-sm">
                    <% if @club.teams.any? %>
                      <%= render @club.teams, team: @team %>
                    <% end %>
                    
              <% end %>
  
            </div>
        </div>    
      </div>
  </div>

  <% if is_admin? %>
    <% if @club.payments.any? %>
      <%= render partial: "payments_simple", clubs: @clubs %>
    <% end %>

    <% if @club.notes.any? %>
    <%= render partial: "club_notes", clubs: @clubs %>
    <% else %>
      <div class="p-4 m-2 border border-grey-500 shadow-md shadow-blue-900 hover:border-black rounded-lg">
        <div class="ml-4 text-gray-700 text-lg text-left font-semibold"> 
          Notes <span class="text-grey-300 text-sm font-thin">[Click on note to EDIT]</span>
          </div>
      <p class="italic text-blue-600 ml-4 font-bold"><%= link_to 'Add Note', new_club_note_path(@club) %></p>  
      </div> 
    <% end %>
  <% end %>

  </div>

  

 <div class="font-semibold text-gray-500 m-4">
  <% if is_admin? %>  
    <%= link_to "<< Back to All Clubs", index_admin_path %><br>
    <%= link_to "<< Back to Admin Managed Clubs", clubs_path %>
  <% else %>
    <% if NetballAssociation.exists?(user_id: current_user.id) %>
      <% association = NetballAssociation.find_by(user_id: current_user.id) %>
      <%= link_to "<< Back to Association", netball_association_path(association) %>
    <% else %>
      <%= link_to "<< Back to Overview", clubs_path %>
    <% end %>
  <% end %>
</div>

</div>