 <% content_for(:page_title, "My Teams")%>
 
<div class="container m-4 ml-4">
 
  <div class="text-gray-700 text-lg font-semibold mb-6">
  Team Administrator Actions List:
  </div> 
 
  <div class="flex flex-row">
    <div>
     <div class="flex flex-row gap-4">
     <% if @teams.any? %>
        <div class="flex-none h-8 w-8 border-2 text-center justify-middle pt-1 rounded-full border-green-500"><i class="fa-solid fa-1"></i></div>
      <% else %>
        <div class="flex-none h-8 w-8 border text-center justify-middle pt-1 rounded-full border-slate-400"><i class="fa-solid fa-1"></i></div>
      <% end %>  
       <div class="text-lg w-50">Create Your Team</div>
    </div>
    
    <div class="flex flex-row gap-4">   
    <% if @teams.first.members.any? %>
       <div class="flex-none h-8 w-8 border-2 text-center justify-middle pt-1 rounded-full border-green-500"><i class="fa-solid fa-2"></i></div>
     <% else %>
       <div class="flex-none h-8 w-8 border text-center justify-middle pt-1 rounded-full border-slate-400"><i class="fa-solid fa-2"></i></div>
     <% end %>  
       <div class="text-lg w-50">Add Team Members</div>
    </div>
    
    <div class="flex flex-row gap-4">   
      <div class="flex-none h-8 w-8 border text-center justify-middle pt-1 rounded-full border-slate-400"><i class="fa-solid fa-3"></i></div>
      <div class="text-lg w-50">Identify Key Roles</div>
    </div>
   <div class="flex flex-row gap-4">    
   <p class="text-sm text-gray-500 mt-2">Mandatory fields are marked with a *, please provide as much information as you can,<br> it helps us understand and serve our membership group better.</p>
   </div>
   
    </div>
    <div class="pr-10 justify-self-end">b
    </div>
</div>
  
 
  
      
     
    <br><hr><br>
    <div class="col-span-4 bg-white align-bottom text-left pt-2">
        <%= link_to "Add a Team", new_team_path, class: form_button_class %>
    </div>
    
  <br><hr>
 

<% if @teams.any? %>
  <div class="text-gray-700 text-lg text-left font-semibold mb-2 mt-4">
   <% if @teams.count>1 %>
     Your Teams
    <% else %>  
     Your Team
   <% end %>  
  </div>

  <div class="grid grid-cols-3  gap-4 items-left m-4">
   <% @teams.each do |team| %>
 
    <div class="border border-grey-500 shadow-xl shadow-blue-900 hover:border-black rounded-lg">
      <div class="m-4">
          <span class="font-semibold"> <%= team.name  %></span>
          <br>
          <span class="font-light text-sm"> <%= team.city  %>, <%= @team.state  %><br></span>
          <br>
           <% team.members&.each do |member| %>
               <span class="font-light text-blue-900 ml-4"> <%= member.full_name  %><br></span>
              <% end %>  
      </div>
      <div class="col-span-4 bg-white m-4 pb-2 text-sm text-right">
               <%= link_to "Add Team Members", team_path(team), class: form_button_class %>
           </div>
    </div>
    <% end %>
      <% end %>
  
 </div>
 </div>
  <br><br> 
