<div id="<%= dom_id team %>">

<%= turbo_frame_tag team do %>
  <div class="new_team"> 
  
  <div class="items-right border border-blue-900 rounded-lg shadow-sm shadow-grey-600 hover:border-black m-2 p-2">
       <div class"w-full">
          <span class="font-semibold">  <%= team.name  %></span> 
       </div>

      <div class="team__actions">
            <div class="flex justify-right gap-4">
            <%= button_to "Delete",
                      club_team_path(@club, team),
                          method: :delete,
                          form: { data: { turbo_confirm: "Are you sure?" } },
                          class: red_link_class %>
            <%= link_to "Edit",
                        [:edit, @club, team],
                        class: green_link_class %>
          </div>
      </div>

      <div class="m-2 text-sm text-gray-700">
        Assigned To Team:
      </div> 
      <div class="m-2 ml-2 text-sm text-blue-900 italic">
        <% if team.members.any? %>
        <ul>
        <% team.members.each do |member| %>
          <li> o <%= member.full_name %></li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
    
  </div>
  <% end %>
  </div>