<div id="<%= dom_id team %>">
 
  <%= turbo_frame_tag team do %>
 
  <div class="team">
    <div class="w-1/2">
      <div class="flex justify-between items-center border border-blue-900 rounded-lg shadow-xl shadow-blue-900 hover:border-black m-4 p-4">
        <div class="ml-4">
          <span class="text-lg"> <%= link_to team.name, team_path(team),  data: { turbo_frame: "_top" }, class: link_class %></span>
          <span class="font-light text-sm"> - <%= team.city  %>, <%= team.state  %></span>
            <br>
          <span class="text-blue-900"> Members #: </span><%= team.members.count %>
            <br>
          <span class="text-gray-600 text-sm"> Team administered by: </span><%= team.creator.full_name %>
          <div class="mt-4 bg-white text-sm text-left mb-4">
            <%= link_to "(2) Add Team Members", team_path(team), class: small_button_class %>
          </div>
          <div class="font-light text-blue-900 ml-8 mb-4"> 
            <% team.members&.each do |member| %>
              <%= member.full_name  %><br>
            <% end %>  
            </div>
        </div>
      
        <div class="justify-between flex items-center m-4 w-32">
          <div>
          <%= button_to "Delete",
                    team_path(team),
                    method: :delete,
                    form: { data: { turbo_confirm: "Are you sure?" } },
                    class: red_link_class %>
          </div>
          <div>
            <%= link_to "Edit",
                      edit_team_path(team),
                      class: green_link_class %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
