<% content_for(:page_title, "Team")%>

<main class="container max-w-1/2">

<div class="header">
  <div class="m-2">
   <span class="font-semibold"> <%= @team.name  %></span>
   <br>
   <span class="font-light"> <%= @team.city  %>, <%= @team.state  %></span>
   <br> <br>
   <span class="text-gray-600 text-sm"> Team administered by: </span><%= @team.creator.full_name %>
  </div>
  <hr>
  <br>
    <%= link_to "New member",
                new_team_member_path(@team),
                data: { turbo_frame: dom_id(Member.new) },
                class: form_button_class %>
                  <br> <br>  
  </div>
   
  <%= turbo_frame_tag Member.new %>
   <%= turbo_frame_tag "members" do %>
    <%= render @members, team: @team %>
  <% end %>
  
    <hr><br>
    <%= link_to sanitize("&larr; Back to teams"), teams_path %>
</main>