<div class="sm:mx-auto sm:w-full sm:max-w-md max-w-md">
  <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">


<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label :role,"Role*", class: label_class  %>
    <div class="mt-1">
     <%= form.select :role, options_for_select(people_role, :selected => person.role),{}, :required => true, class: input_class %>
    </div>
  </div>
  
  <div class="mb-6">
    <%= form.label :region,"Region*", class: label_class  %>
    <div class="mt-1">
     <%= form.select :region, options_for_select(people_region, :selected => person.region),{}, class: input_class %>
    </div>
  </div>
  
  <div class="mb-6">
   <%= form.label :first_name, class: label_class%>
    <div class="mt-1">
   <%= form.text_field :first_name, class: input_class  %>
  </div> </div>
  
  <div class="mb-6">
   <%= form.label :last_name, class: label_class%>
    <div class="mt-1">
   <%= form.text_field :last_name, class: input_class  %>
  </div> </div>
  
  <div class="mb-6">
   <%= form.label :location, class: label_class%>
    <div class="mt-1">
   <%= form.text_field :location, class: input_class  %>
  </div> </div>
  
   <div class="p-2 border-double border-4 border-blue-900 rounded-md mt-2">
   <div class="text-xs text-center text-gray-400 m-2">Umpires/Scorers Only</div>
  <div class="mb-6">
    <%= form.label :level, class: label_class  %>
    <div class="mt-1">
     <%= form.select :level, options_for_select(people_level, :selected => person.level),{prompt: true}, class: input_class %>
    </div>
  </div>
  
  <div class="mb-4">
   <%= form.label :level_note,"Level notes", class: label_class%>
    <div class="mt-1">
   <%= form.text_field :level_note, class: input_class  %>
  </div> </div>
  </div>

  <div class="mb-6 mt-4">
   <%= form.label :email, class: label_class%>
    <div class="mt-1">
   <%= form.text_field :email, class: input_class  %>
  </div> </div>
 
  <div class="mb-6">
   <%= form.label :phone, class: label_class%>
    <div class="mt-1">
   <%= form.text_field :phone, class: input_class  %>
  </div> </div>

  <div class="mb-6">
   <%= form.label :address, class: label_class%>
    <div class="mt-1">
   <%= form.text_field :address, class: input_class  %>
  </div> </div>

  <div class="p-2 border-double border-4 border-blue-900 rounded-md mt-2">
    <div class="text-xs text-center text-gray-400 m-2">Trainers/Ambassadors Only</div>
   
    <div class="flex items-center mb-4">
        <%= form.check_box :in_person_trained, class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>      
        <%= form.label :in_person_trained, "In Person Trained?",class: "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"  %>
    </div>
    
    <div class="flex items-center mb-4">
        <%= form.check_box :virtually_trained, class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>      
        <%= form.label :virtually_trained, "Virtually Trained?",class: "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"  %>
    </div>

    <div class="flex items-center mb-4">
        <%= form.check_box :booth_trained, class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>      
        <%= form.label :booth_trained, "Booth Trained?",class: "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"  %>
    </div>
  </div>
 
  <div class="mb-6 mt-4">
   <%= form.label :associated, "Associated or Independent?", class: label_class%>
    <div class="mt-1">
   <%= form.text_field :associated, class: input_class  %>
  </div> </div>
 
  <div class="mb-6">
    <%= form.label :gender, class: label_class  %>
    <div class="mt-1">
     <%= form.select :gender, options_for_select(gender, :selected => person.gender),{}, class: input_class %>
    </div>
  </div>
  
  <div class="mb-6">
    <%= form.label :tshirt_size, class: label_class  %>
    <div class="mt-1">
     <%= form.select :tshirt_size, options_for_select(tshirt_size, :selected => person.tshirt_size),{prompt: true}, class: input_class %>
    </div>
  </div>

  <div class="mb-6">
   <%= form.label :uniform_size, class: label_class%>
    <div class="mt-1">
   <%= form.text_field :uniform_size, class: input_class  %>
  </div> </div>
  
  <div class="mb-6">
     <%= form.label :headshot, style: "display: block", class: label_class  %>
     <div class="mt-1">
     <%= form.check_box :headshot, class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
    </div>
   </div>
  
   <div class="mb-6">
    <%= form.label :headshot_file, class: label_class%>
     <div class="mt-1">
    <%= form.text_field :headshot_file, class: input_class  %>
   </div> </div>
   
   <div class="mb-6">
      <%= form.label :invite_back, style: "display: block", class: label_class  %>
      <div class="mt-1">
      <%= form.check_box :invite_back, class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
     </div>
    </div>
  
    <div class="mb-6">
       <%= form.label :notes, style: "display: block", class: label_class  %>
       <div class="mt-1">
       <%= form.text_area :notes, class: input_class %>
      </div>
     </div>
     
     <div class="mt-2">
        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
            Events:
        </p>
        <p class="text-sm font-medium text-gray-900 dark:text-white">
        <% if person.events.any? %>
          <% person.events.each do |event| %>
          <ul class="list-disc ms-6">
            <li class="text-sm"><%= event.date.to_formatted_s(:usa) unless (event.date.to_s.empty?) %> - <%= event.name %> <br>
            </li>
          </ul>
           <% end %>
          <% end %>
        </p>
       
       <%= link_to "Assign to New Event? >>", events_path, class: "text-sm text-blue-900" %>
       </div>
       <br>
      <div>
       <%= form.submit "Save Record", class: form_button_class %>
     </div>
   <% end %>