<% content_for(:page_title, "People - Scorers")%>

<div class="bg-white py-4 px-2 shadow sm:rounded-lg sm:px-10 text-sm">
 

<div class="">
   <ul class="flex flex-wrap text-xs font-medium text-left text-gray-500">
      <li class="me-2">
          <a href="/people/" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">Umpires:<br>US & Canada</a>
        </li>
        <li class="me-2">
          <a href="/people/index_int/" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">Umpires:<br>International</a>
        </li>
         <li class="me-2">
         <a href="/people/index_scorers" class="inline-block p-4 text-blue-900 bg-gray-100 rounded-t-lg active" aria-current="page">Scorers:<br></a>
        </li>
      </ul>
</div>

<br>

<div id="people">
<div class="relative overflow-x-auto">
    <table class="table-fixed w-full text-left rtl:text-right">
        <thead class="bg-white border-b text-gray-300 font-light text-xs ">
             <tr>
                 <th scope="col" class="px-6 py-3 w-52">
            
                 </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Name 
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Location
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Level
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Email
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Phone
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Adress
                </th>
                <th scope="col" class="px-6 py-3 w-40">
                    Associated?
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                   Gender
                </th>
                <th scope="col" class="px-6 py-3 w-60 truncate">
                    Notes
                </th>
            </tr>
        </thead>
        <tbody>
         <% if @people.count >0 %>
         <% @people.each do |person| %>
            <tr class="bg-white border-b hover:bg-gray-100">
                <td class="px-6 py-4">
                  <%= link_to image_tag("view.png", :class=>"mx-2 h-6 w-auto"), person  %>
                 </td>
            
                <td class="px-6 py-4">
                   <%= link_to person.full_name, edit_person_path(person), class: link_class %>
                </td>
               
                <td class="px-6 py-4">
                   <%= person.location %>
                </td>
                
                <td class="px-6 py-4">
                  <%= person.level %><br>
                 </td>
                
                <td class="px-6 py-4">
                   <%= person.email %>
                </td>
                
                 <td class="px-6 py-4">
                    <%= person.phone %>
                </td>
                
                <td class="px-6 py-4">
                   <%= person.address %>
                </td>
                
                <td class="px-6 py-4">
                   <%= person.associated  %>
                </td>
                
                <td class="px-6 py-4">
                   <%= person.gender  %>
                </td>

                 <td class="px-6 py-4">
                  <p class="text-wrap truncate"> <%= person.notes %></p>
                </td>
            </tr>
            <% end %>
              <% else %>
              No Records
              <% end %>
        </tbody>
    </table>
</div>
 </div>
</div>


<br>
<div class="mt-1">
<%= link_to "Add New Person", new_person_path, class: small_button_class %>
<br>
</div>


    
   

