<% content_for(:page_title, "Person ")%>

  <div class="bg-white py-4 px-4 shadow sm:rounded-lg sm:px-10  ">
    <%= render @person %>
  </div>


<div>
  <%= link_to "Edit this person", edit_person_path(@person), class: link_class  %> |
  <%= link_to "Back to people", people_path, class: link_class  %> | 
  <%= link_to "Add new people", new_person_path, class: link_class  %>
  <%= button_to "Delete this record", @person, method: :delete %>
</div>
</div>
