<div class="grid grid-cols-1 sm:grid-cols-2 gap-2 p-2 border border-blue-900 rounded-lg shadow  ">

    <div class="">
        <p class="text-sm text-gray-500 ">
            Contact name:
        </p>
        <p class="text-lg font-medium text-gray-900 ">
          <%= @partner.first_name_primary %>  <%= @partner.last_name_primary %>
        </p>
    </div>

    <div class="">
        <p class="text-sm text-gray-500 ">
          Role/Title
        </p>
        <p class="text-sm font-medium text-gray-900 ">
          <%= @partner.role_primary %>
        </p>
    </div>
   
    <div class="">
        <p class="text-sm text-gray-500 ">
            Email:
        </p>
        <p class="text-sm font-medium text-gray-900">
           <%= @partner.email_primary %>
        </p>
    </div>

    <div class="">
        <p class="text-sm text-gray-500 ">
            Cell:  <span class="text-sm font-medium text-gray-900">
            <%= @partner.cell_primary %>
            </span>
        </p>
        <p class="text-sm text-gray-500 ">
            Work:  <span class="text-sm font-medium text-gray-900">
            <%= @partner.work_phone_primary %>
            </span>
        </p>
    </div>
</div>

<br>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-2 p-2 border border-blue-900 rounded-lg shadow  ">

    <div class="">
        <p class="text-sm text-gray-500 ">
            Contact name:
        </p>
        <p class="text-lg font-medium text-gray-900 ">
          <%= @partner.first_name_secondary %>  <%= @partner.last_name_secondary %>
        </p>
    </div>

    <div class="">
        <p class="text-sm text-gray-500 ">
          Role/Title
        </p>
        <p class="text-sm font-medium text-gray-900 ">
          <%= @partner.role_secondary %>
        </p>
    </div>
   
    <div class="">
        <p class="text-sm text-gray-500 ">
            Email:
        </p>
        <p class="text-sm font-medium text-gray-900">
           <%= @partner.email_secondary %>
        </p>
    </div>

    <div class="">
        <p class="text-sm text-gray-500 ">
            Cell:  <span class="text-sm font-medium text-gray-900">
            <%= @partner.cell_secondary %>
            </span>
        </p>
        <p class="text-sm text-gray-500 ">
            Work:  <span class="text-sm font-medium text-gray-900">
            <%= @partner.work_phone_secondary %>
            </span>
        </p>
    </div>
</div>

<br>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-2 p-2 border border-blue-900 rounded-lg shadow  ">

    <div class="">
        <p class="text-sm text-gray-500 ">
            Contact name:
        </p>
        <p class="text-lg font-medium text-gray-900 ">
          <%= @partner.first_name_third %>  <%= @partner.last_name_third %>
        </p>
    </div>

    <div class="">
        <p class="text-sm text-gray-500 ">
          Role/Title
        </p>
        <p class="text-sm font-medium text-gray-900 ">
          <%= @partner.role_third %>
        </p>
    </div>
   
    <div class="">
        <p class="text-sm text-gray-500 ">
            Email:
        </p>
        <p class="text-sm font-medium text-gray-900">
           <%= @partner.email_third %>
        </p>
    </div>

    <div class="">
        <p class="text-sm text-gray-500 ">
            Cell:  <span class="text-sm font-medium text-gray-900">
            <%= @partner.cell_third %>
            </span>
        </p>
        <p class="text-sm text-gray-500 ">
            Work:  <span class="text-sm font-medium text-gray-900">
            <%= @partner.work_phone_third %>
            </span>
        </p>
    </div>
</div>

