<div id="<%= dom_id partner %>">
<div class="grid grid-cols-1 sm:grid-cols-2 gap-2 p-2 border border-blue-900 rounded-lg shadow  ">

  <p>
    <strong>Company:</strong>
    <%= partner.company %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= partner.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= partner.location %>
  </p>

  <p>
    <strong>City:</strong>
    <%= partner.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= partner.state %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= partner.website %>
  </p>

  <p>
    <strong>Date initially connected:</strong>
    <%= partner.date_initially_connected %>
  </p>

  <p>
    <strong>Date pitch to na:</strong>
    <%= partner.date_pitch_to_na %>
  </p>

  <p>
    <strong>Date pitch by na:</strong>
    <%= partner.date_pitch_by_na %>
  </p>

  <p>
    <strong>Pitch to na:</strong>
    <%= partner.pitch_to_na %>
  </p>

  <p>
    <strong>Pitch by na:</strong>
    <%= partner.pitch_by_na %>
  </p>

  <p>
    <strong>Follow up action:</strong>
    <%= partner.follow_up_action %>
  </p>

  <p>
    <strong>Partnership agreement:</strong>
    <%= partner.partnership_agreement %>
  </p>

  <p>
    <strong>Accept partnership:</strong>
    <%= partner.accept_partnership %>
  </p>

  <p>
    <strong>Date of decision:</strong>
    <%= partner.date_of_decision %>
  </p>

  </div>
</div>
