<div id="<%= dom_id netball_academy %>">
  <p>
    <strong>First name:</strong>
    <%= netball_academy.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= netball_academy.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= netball_academy.email %>
  </p>

  <p>
    <strong>City:</strong>
    <%= netball_academy.city %>
  </p>

  <p>
    <strong>Us state:</strong>
    <%= netball_academy.us_state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= netball_academy.country %>
  </p>

  <p>
    <strong>Club:</strong>
    <%= netball_academy.club_id %>
  </p>

  <p>
    <strong>Other club name:</strong>
    <%= netball_academy.other_club_name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= netball_academy.status %>
  </p>

  <p>
    <strong>Signed up:</strong>
    <%= netball_academy.signed_up %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= netball_academy.purchase_date %>
  </p>

  <p>
    <strong>Subscribed plans:</strong>
    <%= netball_academy.subscribed_plans %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= netball_academy.amount %>
  </p>

  <p>
    <strong>Training completed date:</strong>
    <%= netball_academy.training_completed_date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= netball_academy.notes %>
  </p>

</div>
