<% content_for(:page_title, "Membership Administration Hub")%>
 
<div class="container m-4 ml-4">
 
  <div class="text-gray-700 text-lg font-semibold mb-4">
  Team Administrator Actions List:
  </div> 

  <div class="container max-w-md">
    <div class="grid grid-rows-3 grid-flow-col gap-2 max-w-1/2">
      <div class="flex-none h-8 w-8 border text-center justify-self-end pt-1 rounded-full border-slate-400"><i class="fa-solid fa-1"></i></div>
      <div class="flex-none h-8 w-8 border text-center justify-self-end pt-1 rounded-full border-slate-400"><i class="fa-solid fa-2"></i></div>
      <div class="flex-none h-8 w-8 border text-center justify-self-end pt-1 rounded-full border-slate-400"><i class="fa-solid fa-3"></i></div>
      <div class="text-base w-50 mt-1">Create Your Team</div>
      <div class="text-base w-50 mt-1">Add Team Members</div>
      <div class="text-base w-50 mt-1">Assign Key Roles</div>
      </div>
  </div>
   <div class="mt-4">    
     <p class="text-sm text-gray-500 mt-2">Mandatory fields are marked with a *, please provide as much information as you can,<br> it helps us to better understand and serve our membership group.</p>
   </div> 
</div> 
  
<hr>
<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <div class="header">
     <br>
      <%= link_to "(1) Create taem",
                  new_taem_path,                  
                  class: form_button_class,
                  data: { turbo_frame: dom_id(Taem.new) }  %>
    </div>
  <% end %>
<br>
<%= turbo_frame_tag Taem.new %>

<%= turbo_frame_tag "taems" do %>
    <%= render @taems %>
  <% end %>  
</main>