<div id="<%= dom_id na_team %>">

<%= turbo_frame_tag "na_team_#{na_team.id}"  do %>
<div class="p-3 mb-2 mt-2 border border-blue-900 rounded-lg shadow-md shadow-blue-900 hover:shadow-2xlmb-2">
     
    <div class="na_team">
     
        <div class="flex justify-between">
          <div class="mb-2">  
            <span class="whitespace-nowrap"> <%= link_to na_team.name, na_team_path(na_team) %></span>
            <span class="font-light text-sm"> - <%= na_team.city %>,  <%= na_team.state %></span>
            <div class="mb-2">
                <% if na_team.website? %>
                <span class="text-gray-500"><i class="fa-solid fa-globe"></i> <%= na_team.website %> </span><% end %>
                <% if na_team.facebook? %>
                <span class="text-gray-500"><i class="fa-brands fa-facebook"></i> <%= na_team.facebook %>  </span><% end %>
                <% if na_team.instagram? %>
                <span class="text-gray-500"><i class="fa-brands fa-instagram"></i> <%= na_team.facebook %>  </span><% end %>
                <% if na_team.twitter? %>
                <span class="text-gray-500"><i class="fa-brands fa-twitter"></i> <%= na_team.twitter %> </span><% end %>
                <% if na_team.other_sm? %>
                <span class="text-gray-500"><i class="fa-regular fa-thumbs-up"></i> <%= na_team.twitter %> </span><% end %>
            </div>
          </div> 

          <div class="na_team__actions">
            <%= button_to "Delete",
              na_team_path(na_team),
              method: :delete,
              class: "font-semibold text-red-500" %>
            <%= link_to "Edit",
              edit_na_team_path(na_team),
              class: "font-semibold text-green-500" %>
          </div>

        </div>
    </div>

    <br>
            <%= link_to "(2) Add team members ", na_team_path(na_team), class: teal_button_class,
            data: { turbo_frame: "_top" } %>
        <br><br>
        
          <%= render "na_team_members", na_team: na_team %>
          </div>  
         
<% end %>


</div>