<% content_for(:page_title, "Membership Administration Hub")%>
 
<div class="container m-4 ml-4">
 
  <div class="text-gray-700 text-lg font-semibold mb-4">
    Team Administrator Actions List:
  </div> 

  <div class="container max-w-md">
    <div class="grid grid-rows-4 grid-flow-col gap-2 max-w-1/2">
      <div class="flex-none h-8 w-8 border text-center justify-self-end pt-1 rounded-full border-slate-400"><i class="fa-solid fa-1"></i></div>
      <div class="flex-none h-8 w-8 border text-center justify-self-end pt-1 rounded-full border-slate-400"><i class="fa-solid fa-2"></i></div>
      <div class="flex-none h-8 w-8 border text-center justify-self-end pt-1 rounded-full border-slate-400"><i class="fa-solid fa-3"></i></div>
      <div class="flex-none h-8 w-8 border text-center justify-self-end pt-1 rounded-full border-slate-400"><i class="fa-solid fa-4"></i></div>
     
      <div class="text-base w-50 mt-1">Create Your Team</div>
      <div class="text-base w-50 mt-1">Add Team Members</div>
      <div class="text-base w-50 mt-1">Assign Key Roles</div>
      <div class="text-base w-50 mt-1">Pay Membership<br><span class="text-sm"><%= link_to "See Membership Structure & Payment Info >>", pages_teams_membership_fees_path, class: link_class %> </span></div>
   
      <div class="text-green-500 justify-start-end text-semibold pt-2"><% if @na_teams.any? %> <i class="fa-solid fa-check"></i><% end %></div>
      <div class="text-green-500 justify-start-end text-semibold pt-2"><% if (@na_teams.any? && @na_teams.first.members.any?)  %> <i class="fa-solid fa-check"></i><% end %></div>
      <div class="text-green-500 justify-start-end text-semibold pt-2"><% if @na_teams.any? && @na_teams.first.member_key_roles.any? %> <i class="fa-solid fa-check"></i><% end %></div>
      <div class="text-green-500 justify-start-end text-semibold pt-2"></div>
      </div>
    </div>
  </div>
   <div class="mt-4 ml-4">    
     <p class="text-sm text-gray-500 mt-2">Mandatory fields are marked with a *, please provide as much information as you can,<br> it helps us to better understand and serve our membership group.</p>
   </div> 

  
<hr>

<main class="container m-2">

  <%= turbo_frame_tag "first_turbo_frame" do %>
    <div class="header">
     <br>
      <%= link_to "(1) Create team",
                new_na_team_path,                  
                  class: teal_button_class,
                  data: { turbo_frame: dom_id(NaTeam.new) }  %>
    </div>
  <% end %>
<br>
<%= turbo_frame_tag NaTeam.new %>

<hr>
<div class="flex flex-row gap-4"> 

  <div class="basis-1/2 grow-0" >  
    <div id="na_teams">
      <% @na_teams.each do |na_team| %>
       
        <%= turbo_frame_tag na_team do %>
            <%= render na_team %>
         <% end %>
        
      <% end %> 
    </div> 
  </div> 
 
  
  <% if @na_teams.any? %>

  <div class="basis-1/2 grow-0 h-50 pr-8">
  <div class="ml-4 p-3 mb-2 mt-2 border border-blue-900 rounded-lg shadow-md shadow-blue-900 hover:shadow-2xlmb-2">
  
      <div class="flex justify-between">
        <div class="text-lg pt-2"> Key Roles</div>
          <div class="col-span-4 bg-white m-4 pb-2 text-sm text-right">
              <%= link_to "(3) Assign Key Roles", na_team_path(@na_teams.first), class: teal_button_class %>
          </div>
      </div>
      
          <div class="ml-6 mb-2 font-light">
              Team President:  <span class="text-blue-900"> <%= @na_teams.first.team_president %></span><br>
              Head Coach:   <span class="text-blue-900"><%= @na_teams.first.head_coach %></span><br>
              Head Umpire:   <span class="text-blue-900"> <%= @na_teams.first .head_umpire %></span><br>
          </div>
      </div>
  </div>
    <br>
  <% end %>
  </div>
</main>
