<div class=" sm:mx-auto sm:w-full sm:max-w-md max-w-md">
  <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">

<%= form_with(model: budget) do |form| %>
  <% if budget.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
        <% budget.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="block max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
 
  <div class="mb-6">
   <%= form.label :event_id, "Event",class: label_class%>
    <div class="mt-1">
    <%= form.collection_select(:event_id, @events, :id, :name,{:prompt=>true}, {:class=>"block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-blue-900 focus:outline-none focus:ring-blue-900 sm:text-sm"
  }) %>
    </div> 
  </div>


 <div class="block justify-between p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-blue-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

 <div class="mb-6">
  <%= form.label :flight, class: label_class%>
   <div class="mt-1">
    <%= form.number_field :flight, step: 0.01, placeholder: "$ 0.00",  class: small_input_class %>
    </div>
  </div>

   <div class="mb-2">
      <%= form.text_area :flight_notes, placeholder: "Enter flight notes here", class: input_class  %>
   </div>   
 </div>
 
 <div class="block justify-between p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-blue-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

  <div class="mb-6">
   <%= form.label :hotel, class: label_class%>
    <div class="mt-1">
     <%= form.number_field :hotel, step: 0.01, placeholder: "$ 0.00", class: small_input_class %>
     </div>
   </div>

   <div class="mb-2">
      <%= form.text_area :hotel_notes, placeholder: "Enter hotel notes here", class: input_class  %>
   </div> 
   </div>
 
 <div class="block justify-between p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-blue-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

 <div class="mb-6">
  <%= form.label :transport, class: label_class%>
   <div class="mt-1">
    <%= form.number_field :transport, step: 0.01, placeholder: "$ 0.00",  class: small_input_class %>
    </div>
  </div>

   <div class="mb-2">
      <%= form.text_area :transport_notes, placeholder: "Enter transport notes here", class: input_class  %>
   </div>   
 </div>
 
 <div class="block justify-between p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-blue-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

 <div class="mb-6">
  <%= form.label :shipping, class: label_class%>
   <div class="mt-1">
    <%= form.number_field :shipping, step: 0.01, placeholder: "$ 0.00",  class: small_input_class %>
    </div>
  </div>

   <div class="mb-2">
      <%= form.text_area :shipping_notes, placeholder: "Enter shipping notes here", class: input_class  %>
   </div>   
 </div>
  
 <div class="block justify-between p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-blue-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

 <div class="mb-6">
  <%= form.label :booth, class: label_class%>
   <div class="mt-1">
    <%= form.number_field :booth, step: 0.01, placeholder: "$ 0.00",  class: small_input_class %>
    </div>
  </div>

   <div class="mb-2">
      <%= form.text_area :booth_notes, placeholder: "Enter booth notes here", class: input_class  %>
   </div>   
 </div>
 
 <div class="block justify-between p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-blue-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

 <div class="mb-6">
  <%= form.label :carpet, class: label_class%>
   <div class="mt-1">
    <%= form.number_field :carpet, step: 0.01, placeholder: "$ 0.00",  class: small_input_class %>
    </div>
  </div>

   <div class="mb-2">
      <%= form.text_area :carpet_notes, placeholder: "Enter carpet notes here", class: input_class  %>
   </div>   
 </div>
 
 <div class="block justify-between p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-blue-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

 <div class="mb-6">
  <%= form.label :banners, class: label_class%>
   <div class="mt-1">
    <%= form.number_field :banners, step: 0.01, placeholder: "$ 0.00",  class: small_input_class %>
    </div>
  </div>

   <div class="mb-2">
      <%= form.text_area :banner_notes, placeholder: "Enter banner notes here", class: input_class  %>
   </div>   
 </div>
 
 <div class="block justify-between p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-blue-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
 <div class="mb-6">
  <%= form.label :giveaways, class: label_class%>
   <div class="mt-1">
    <%= form.number_field :giveaways, step: 0.01, placeholder: "$ 0.00",  class: small_input_class %>
    </div>
  </div>

   <div class="mb-4">
      <%= form.text_area :giveaway_notes, placeholder: "Enter giveaways notes here", class: input_class  %>
   </div>   
 </div>
 
 <br>
  <div>
   <%= form.submit "Save Record", class: form_button_class %>
  </div>
<% end %>
