<% content_for(:page_title, "Budgets")%>

<div id="budgets">
<div class="relative overflow-x-auto">
    <table class="table-auto w-full text-right rtl:text-right">
        <thead class="bg-white border-b text-gray-300 font-light text-xs ">
             <tr>
                 <th scope="col" class="px-6 py-3">
                     Details
                 </th>
                <th colspan="2" scope="col" class="px-6 py-3 w-52 text-left">
                    Event Name
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Event Date
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Flight
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Hotel
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Transport
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Shipping
                </th>
                <th scope="col" class="px-6 py-3 w-40">
                    Booth
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                   Carpet
                </th>
                <th scope="col" class="px-6 py-3 w-60 truncate">
                    Banners
                </th>
                <th scope="col" class="px-6 py-3 w-60 truncate">
                    Giveaways
                </th>
                <th scope="col" class="px-6 py-3 w-60 truncate">
                    Total
                </th>
                
            </tr>
        </thead>
        <tbody>
        <% @budgets.each do |budget| %>
            <tr class="bg-white border-b hover:bg-gray-100">
                
                <td scope="row" class="px-6 py-4 font-medium text-gray-800 whitespace-nowrap dark:text-white">
                    <%= link_to image_tag("view.png", :class=>"mx-2 h-6 w-auto"), budget %>
                </td>
                
                <td colspan="2" class="px-6 py-4 text-left truncate">
                    <%= (link_to budget.budget_event_name, edit_budget_path(budget), class: link_class) unless (budget.event_id.to_s.empty?) %>
                   </td>
                
                <td class="px-6 py-4">
                   <%= budget.budget_event_date unless (budget.event_id.to_s.empty?) %> <br> 
                   
                </td>
                
                <td class="px-6 py-4">
                   <%= number_to_currency(budget.flight, precision: 2) %>
                </td>
                
                <td class="px-6 py-4">
                  <%= number_to_currency(budget.hotel, precision: 2) %>
                  
                </td>
                <td class="px-6 py-4">
                   <%= number_to_currency(budget.transport, precision: 2) %>
                </td>
                
                 <td class="px-6 py-4">
                    <%= number_to_currency(budget.shipping, precision: 2) %>
                </td>
                
                <td class="px-6 py-4">
                   <%= number_to_currency(budget.booth, precision: 2) %>   
                </td>
                
                <td class="px-6 py-4 truncate">
                   <%= number_to_currency(budget.carpet, precision: 2) %>
                </td>

                 <td class="px-6 py-4">
                 <%= number_to_currency(budget.banners, precision: 2) %>
                </td>
                
                <td class="px-6 py-4">
                    <%= number_to_currency(budget.giveaways, precision: 2) %> 
                </td>
                
                <td class="px-6 py-4 font-medium">
                    <%= number_to_currency(budget.budget_total, precision: 2) %> 
                </td>
            <% end %>
        </tbody>
    </table>

 </div>
</div>

<br>

<div class="mt-1">
<%= link_to "Add New Budget", new_budget_path, class: form_button_class %>
<br><br>
</div>



