<% content_for(:page_title, "Budget")%>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md md:max-w-lg">
  <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">

   <br>
 
<%= render @budget %>

</div>
</div>

<br>

<div>
  <%= link_to "Edit this budget", edit_budget_path(@budget), class: link_class %> |
  <%= link_to "Back to budgets", budgets_path, class: link_class %>
  <br>
  <%= link_to "Show this event", @budget.event, class: link_class %> |
  <%= link_to "Edit this event", edit_event_path(@budget.event), class: link_class %>
  <br> <br>

  <%= button_to "Delete this record",  @budget, method: :delete %>
</div>

