<%= form_for [@club, member_key_role], html: { class: "form member_key_role" } do |form| %>

  <% if member_key_role.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(member_key_role.errors.count, "error") %> prohibited this member_key_role from being saved:</h2>

      <ul>
        <% member_key_role.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="border border-blue-900 rounded ">
    <div class="border border-white rounded m-2">
      <div class="grid grid-cols-2 gap-4">
      
        <div>
          <%= form.label :key_role,  "Position", class: label_class %>
          <%= form.select :key_role, options_for_select(member_positions, :selected => member_key_role.key_role),{:prompt=>true}, class: input_class %>
        </div>
            
        <div>
          <%= form.label :member_id, "Member Name",class: label_class %>
          <%= form.collection_select :member_id, @members_belonging_to_administrator, :id, :full_name,{:prompt=>true}, {:class=>"block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-blue-900 focus:outline-none focus:ring-blue-900 hover:bg-gray-100 sm:text-sm"} %>
        </div>
        
      <div>

    <div class="flex items-center">
      <div class="mb-5">
      <br>   <%= link_to "Cancel", club_path(@club), class: clear_button_class %>
      </div>

      <div>
          <%= form.submit "Save Record", class: form_button_class %>
      </div>
    </div>
<% end %>
