<div id="<%= dom_id member_key_role %>">

<%= turbo_frame_tag member_key_role do %>
<div class="block justify-between items-center border border-blue-900 rounded-lg m-2 p-2">
  <div class="ml-4">
   <span class="text-base text-gray-500">  <%= member_key_role.key_role  %></span>
   : <span class= "ml-2 text-base"><%= Member.find(member_key_role.member_id).full_name  %></span><br>
   <% if member_key_role.key_role=="Team President"%>
   Phone:  <%= Member.find(member_key_role.member_id).phone %><br>
   <span class="text-sm text-gray-400">Phone mandatory for Team President</span>
   <% end %>
  </div>
  
  <div class="justify-between flex content-end w-28">
    <div class="ml-4">
    <%= button_to "Delete",
                  club_member_key_role_path(@club, member_key_role),
                  method: :delete,
                  form: { data: { turbo_confirm: "Are you sure?" } },
                  class: red_link_class %>
    </div>
    <div>
      <%= link_to "Edit",
                [:edit, @club, member_key_role],
                class: green_link_class %>
    </div>
  </div>
  </div>
<% end %>
</div>
