<div id="<%= dom_id member_key_role %>">

<%= turbo_frame_tag member_key_role do %>
<div class="flex justify-between items-center border border-gray-600 rounded m-2 ">
  <div class="ml-4">
   <span class="text-sm text-gray-500">  <%= member_key_role.key_role  %></span>
   : <span class= "ml-2"><%= Member.find(member_key_role.member_id).full_name  %></span>
  </div>
  
  <div class="justify-between flex items-center m-2 w-28">
    <div>
    <%= button_to "Delete",
                  team_member_key_role_path(team, member_key_role),
                  method: :delete,
                  form: { data: { turbo_confirm: "Are you sure?" } },
                  class: red_link_class %>
    </div>
    <div>
      <%= link_to "Edit",
                [:edit, team, member_key_role],
                class: green_link_class %>
    </div>
  </div>
  </div>
<% end %>
</div>
