<p style="color: green"><%= notice %></p>

<%= render @member_key_role %>

<div>
  <%= link_to "Edit this member key role", edit_member_key_role_path(@member_key_role) %> |
  <%= link_to "Back to member key roles", member_key_roles_path %>

  <%= button_to "Destroy this member key role", @member_key_role, method: :delete %>
</div>
