<div id="<%= dom_id educator %>">

<% unless user_signed_in? %>
   <br>
    <p class="text-xl text-blue-900">Educators Sign Up Form</p><br>
   
    <h2>Thank you for sharing your contact details, we will be in touch!<br><br></h2>
  <% end %>


  <p>
    <strong>First name:</strong>
    <%= educator.first_name %>
  
  </p>

  <p>
    <strong>Last name:</strong>
    <%= educator.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= educator.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= educator.phone %>
  </p>

  <p>
    <strong>School name:</strong>
    <%= educator.school_name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= educator.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= educator.state %>
  </p>

  <p>
    <strong>ZIP:</strong>
    <%= educator.zip %>
  </p>

  <p>
    <strong>Educator notes:</strong>
    <%= educator.educator_notes %>
  </p>

<% if user_signed_in? %>
  <p>
    <strong>Allocated To:</strong>
    <%= educator.user.full_name unless (educator.user_id.to_s.empty?) %>
  </p>

  <p>
    <strong>Mgmt notes:</strong>
    <%= educator.mgmt_notes %>
  </p>
  
<% end %>  

</div>
