<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> A  Reference record was updated for Group: <%= @reference.group %>.</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>ID: <%= @reference.id %></p>
    <p>Updated: <%= @reference.updated_at %></p>
    <p>Group: <%= @reference.group %></p>
    <p>Value: <%= @reference.value %></p>
    <p>Key: <%= @reference.key %></p>
    <p>Desc: <%= @reference.desc %></p>
    <p>Active: <%= @reference.active %></p>
    <p>
    ----------
    </p>
   
  </body>
</html>