<% content_for(:page_title, "Equipment Sales")%>

<div class="bg-white py-4 px-2 shadow sm:rounded-lg sm:px-10 text-sm">
 
<div class="font-xl border p-4 text-blue-900 m-4 font-semibold">
  Please ensure educator details exist before creating equipment sale record. Go to <span class="font-light border m-2 border-blue-900"> <%= link_to "Educator Search >>", search_path %></span>
</div>
 
<br>
<% if @equipment.any? %>
<div id="equipment">
<div class="relative overflow-x-auto">
    <table class="w-full text-left rtl:text-right">
        <thead class="bg-white border-b text-gray-300 font-light text-xs ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Details
                </th>
                <th scope="col" class="px-6 py-3">
                    Date of Sale
                </th>
                <th scope="col" class="px-6 py-3">
                    Items Purchased 
                </th>
                <th scope="col" class="px-6 py-3">
                    Purchase Ammount
                </th>
                <th scope="col" colspan="3" class="px-6 py-3">
                    Sale To:
                </th>
               </tr>
        </thead>
        <tbody>
        <% @equipment.each do |equipment| %>
            <tr class="bg-white border-b hover:bg-gray-100">
                <th scope="row" class="px-6 py-4 font-medium text-gray-800 whitespace-nowrap dark:text-white">
                    <%= link_to image_tag("view.png", :class=>"mx-2 h-6 w-auto"), equipment  %>
                </th>
                <td class="px-6 py-4">
                    <%= (link_to equipment.sale_date.to_formatted_s(:usa), edit_equipment_path(equipment), class: link_class) unless ( equipment.sale_date.to_s.empty?)  %>
                </td>
                <td class="px-6 py-4">
                    <%= equipment.items_purchased %>
                </td>
                <td class="px-6 py-4">
                    <%= equipment.purchase_amount %>
                </td>
                <td class="px-6 py-4">
                   <%= equipment.netball_educator.full_name %>
                </td>
                 <td class="px-6 py-4">
                    <%= equipment.netball_educator.school_and_location %>
                </td>
                <td class="px-6 py-4">
                    <%= equipment.netball_educator.contact_details %>
                </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
 </div>
</div>
<% else %>
<p class="px-6 py-4">
No records to view</p>
<% end %>
<br>

<%= link_to "Add New Equipment", new_equipment_path, class: small_button_class %>
