<% content_for(:page_title, "Equipment Purchased")%>

<%= render 'netball_educators/nav_tabs' %>

<div class="font-xl text-blue-900 m-4 font-semibold">
  Please ensure educator details exist before creating equipment sale record. Go to <span class="font-light border m-2 border-blue-900"> <%= link_to "Educator Search >>", search_path %></span>
</div>
 
<div class="p-4">
    <%= link_to "Add New Equipment Sale", new_equipment_path, class: form_button_class %>
</div>

<% if @equipment.any? %>
<div id="equipment">

<div class="relative overflow-x-auto">
    <table class="w-full text-left rtl:text-right table-fixed">
        <thead class="bg-gray-200 border-b text-gray-500 font-light text-xs">
            <tr>
                 <th scope="col" class="px-3 py-2 w-24 text-left">
                    State
                </th>
                <th scope="col" class="px-3 py-2 w-40">
                    City
                </th>
                <th scope="col" class="px-3 py-2 w-40">
                    Sale To:
                </th>
                <th scope="col" class="px-3 py-2 w-24">
                    Date of Sale
                </th>
                <th scope="col" class="px-3 py-2 w-40 text-right">
                    Purchase<br>Amount
                </th>
                <th scope="col" class="px-3 py-2 w-64">
                    Items Purchased 
                </th>
               
                <th scope="col" class="px-3 py-2 w-64">
                    School
                </th>
                <th scope="col" class="px-3 py-2 w-96">
                    Contact Details
                </th>
               </tr>
        </thead>
        <tbody>
        <% @equipment.each do |netball_educator| %>
            <tr class="bg-white border-b hover:bg-gray-100 whitespace-nowrap">
                  <td class="px-3 py-4">
                      <%= netball_educator.state %>
                  </td>  
                  <td class="px-3 py-4">
                      <%= netball_educator.city %>
                  </td> 
                  <td class="px-3 py-4">
                     <%= netball_educator.full_name %>
                 </td>   
                  
                  <td class="px-3 py-4 ">
                  <%= (link_to netball_educator.equipment.first.sale_date.to_formatted_s(:usa), edit_equipment_path(netball_educator.equipment.first.id), class: link_class) unless ( netball_educator.equipment.first.sale_date.to_s.empty?)  %>
                  </td>
                  <td class="px-3 py-4 text-right">
                      <%= number_to_currency(netball_educator.equipment.first.purchase_amount, precision: 2) unless netball_educator.equipment.first.purchase_amount.to_s.empty? %>
                  </td>
                  <td class="px-3 py-4 text-wrap break-words">
                      <%= netball_educator.equipment.first.items_purchased %>
                  </td>
                  
                  <td class="px-3 py-4">
                      <%= netball_educator.school_name %>
                  </td>
                  <td class="px-3 py-4">
                      <%= netball_educator.formatted_phone %><br>
                      <%= netball_educator.email %>
                  </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
  </div>
<% else %>
 <p class="px-3 py-4">
 No records to view</p>
<% end %>
<br>

