<% content_for(:page_title, "Equipment Purchased")%>

<%= render 'netball_educators/nav_tabs' %>

<div class="font-xl text-blue-900 m-4 font-semibold">
  Please ensure educator details exist before creating equipment sale record. Go to <span class="font-light border m-2 border-blue-900"> <%= link_to "Educator Search >>", search_path %></span>
</div>
 
<div class="p-4">
    <%= link_to "Add New Equipment Sale", new_equipment_path, class: form_button_class %>
</div>

<% if @equipment.any? %>
<div id="equipment">

<div class="relative overflow-x-auto rounded-lg shadow-md">
  <table class="w-full text-sm text-left rtl:text-right text-gray-700">
    <thead class="text-xs text-gray-500 uppercase bg-gray-200 border-b">
      <tr>
        <th scope="col" class="px-3 py-3">State</th>
        <th scope="col" class="px-3 py-3">City</th>
        <th scope="col" class="px-3 py-3">Sale To</th>
        <th scope="col" class="px-3 py-3">Date of Sale</th>
        <th scope="col" class="px-3 py-3 text-right">Purchase Amount</th>
        <th scope="col" class="px-6 py-3">Items Purchased</th>
        <th scope="col" class="px-3 py-3">School</th>
        <th scope="col" class="px-3 py-3">Contact Details</th>
      </tr>
    </thead>
    <tbody>
      <% @equipment.each do |equipment| %>
        <tr class="bg-white border-b hover:bg-gray-50 whitespace-nowrap">
          <td class="px-3 py-2"><%= equipment.netball_educator&.state || "N/A" %></td>
          <td class="px-3 py-2"><%= equipment.netball_educator&.city || "N/A" %></td>
          <td class="px-3 py-2"><%= equipment.netball_educator&.full_name || "N/A" %></td>
          <td class="px-3 py-2">
            <%= link_to equipment.sale_date.to_formatted_s(:usa), edit_equipment_path(equipment), class: link_class if equipment.sale_date.present? %>
          </td>
          <td class="px-3 py-2 text-right truncate">
            <%= number_to_currency(equipment.purchase_amount, precision: 2) if equipment.purchase_amount.present? %>
          </td>
          <td class="px-6 py-2 break-words"><%= equipment.items_purchased %></td>
          <td class="px-3 py-2"><%= equipment.netball_educator&.school_name || "N/A" %></td>
          <td class="px-3 py-2">
            <%= equipment.netball_educator&.formatted_phone %><br>
            <%= equipment.netball_educator&.email %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% else %>
 <p class="px-3 py-2">
 No records to view</p>
<% end %>
<br>

