<% content_for(:page_title, "Equipment Purchased")%>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md md:max-w-lg">
  <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">

   <%= render @equipment %>

   <br>

<div>
  <%= link_to "Edit this equipment sale", edit_equipment_path(@equipment), class: link_class  %> |
  <%= link_to "<< Back to all equipment sales", equipment_index_path, class: link_class  %><br>
   <%= link_to "Edit this educator", edit_netball_educator_path(@equipment.netball_educator), class: link_class  %> |
  <%= link_to "<< Back to all educators", netball_educators_path, class: link_class  %>

  <%= button_to "Destroy this equipment record", @equipment, method: :delete %>
</div>

