<% content_for(:page_title, "Equipment Purchased")%>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md md:max-w-lg">
  <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">

   <%= render @equipment %>

   <br>
<div>
  <%= link_to "Edit this equipment",
      edit_equipment_path(@equipment),
      class: link_class %>
  |
  <%= link_to "<< Back to all equipment",
      equipment_index_path,
      class: link_class %>

  <% if @equipment.netball_educator.present? %>
    <br>
    <%= link_to "Edit this educator",
        edit_netball_educator_path(@equipment.netball_educator),
        class: link_class %>
    |
    <%= link_to "<< Back to all educators",
        netball_educators_path,
        class: link_class %>
  <% end %>

  <div class="mt-4">
    <%= button_to "Destroy this equipment record",
        @equipment,
        method: :delete,
        data: { confirm: "Are you sure?" } %>
  </div>
</div>


