<div class="text-xl text-blue-900 mt-8"><%= title %></div>

<table class="table-fixed h_scrolling_list_table mt-2 w-full">
  <thead class="bg-gray-200 border-b text-gray-500 font-light text-xs">
    <tr>
      <th class="text-left p-2 w-40">First Name</th>
      <th class="text-left p-2 w-32">Last Name</th>
      <th class="text-left p-2 w-64 break-words">Email</th>
      <th class="text-center p-2 w-36 whitespace-nowrap">Created</th>
      <th class="text-center p-2 w-36 whitespace-nowrap">Last Sign In</th>
      <th class="text-center p-2 w-44 whitespace-nowrap">Confirmed?</th>
      <th class="text-left p-2 w-48">Role</th>
      <th class="text-center p-2 w-24">Is_admin?</th>
      <th class="text-left p-2 w-24 text-center">Is_active?</th>
      <th class="text-right p-2 w-20">[:Id]</th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <% row_class = user.account_active? ? "hover:bg-gray-100" : "bg-gray-300" %>
      <tr class="<%= row_class %>">
        <td class="p-2 border-b text-left"><%= user.first_name %></td>
        <td class="p-2 border-b text-left"><%= user.last_name %></td>
        <td class="p-2 border-b text-left break-words"><%= user.email %></td>

        <td class="p-2 border-b text-center whitespace-nowrap"><%= user.created_at.to_formatted_s(:short_usa_year) %></td>
        <td class="p-2 border-b text-center whitespace-nowrap"><%= user.last_sign_in_at&.to_formatted_s(:short_usa_year) %></td>
        <td class="p-2 border-b text-center whitespace-nowrap"><%= user.confirmation_sent_at&.to_formatted_s(:short_usa_year) %></td>

        <td class="p-2 border-b text-left"><%= user.role %></td>

        <td class="p-2 border-b text-center">
          <% if user.admin? %>
            <span class="inline-block px-3 py-1 text-sm font-semibold bg-green-100 text-green-800 rounded-full">
              Yes
            </span>
          <% else %>
            No
          <% end %>
        </td>

        <td class="p-2 border-b text-center <%= user.account_active? ? "" : "font-semibold italic" %>">
          <%= user.account_active? ? 'Active' : 'Locked' %>
        </td>

        <td class="p-2 border-b text-right"><%= user.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
