<h2>Forgot your password?</h2><br>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: {turbo: "false"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <br>
  <div class="field">
    <%= f.label :email, class: label_class %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: input_class %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: form_button_class %>
  </div>
<% end %>


