<div class=" sm:mx-auto sm:w-full sm:max-w-md max-w-md">
  <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">

<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label :event_type, class: label_class  %>
    <div class="mt-1">
     <%= form.select :event_type, options_for_select(event_type, :selected => event.event_type),{}, class: input_class %>
    </div>
  </div>
  
  <div class="mb-6">
   <%= form.label :name, class: label_class%>
    <div class="mt-1">
   <%= form.text_field :name, class: input_class  %>
  </div> </div>

  <div class="mb-6">
   <%= form.label :date, class: label_class%>
    <div class="mt-1">
   <%= form.date_field :date, class: input_class  %>
  </div> </div>
    
  <div class="mb-6">
    <%= form.label :status, class: label_class  %>
    <div class="mt-1">
     <%= form.select :status, options_for_select(event_status, :selected => event.status),{}, class: input_class %>
    </div>
  </div>

   <div class="mb-6">
    <%= form.label :website, class: label_class%>
     <div class="mt-1">
    <%= form.text_field :website, placeholder: "please use format http://wwww.xxx", class: input_class  %>
   </div> </div>

   <div class="mb-6">
    <%= form.label :key_contact, class: label_class%>
     <div class="mt-1">
    <%= form.text_area :key_contact, class: input_class  %>
   </div> </div>

    <div class="mb-6">
     <%= form.label :city, class: label_class%>
      <div class="mt-1">
     <%= form.text_field :city, class: input_class  %>
    </div> </div>
   
    <div class="mb-6">
      <%= form.label :state, class: label_class  %>
      <div class="mt-1">
       <%= form.select :state, options_for_select(us_states, :selected => event.state),{}, class: input_class %>
      </div>
    </div>
  
    <div class="mb-6">
     <%= form.label :location, class: label_class%>
      <div class="mt-1">
     <%= form.text_field :location, placeholder: "event street address", class: input_class  %>
    </div> </div>
   
  <div class="mb-6">
     <%= form.label :details, style: "display: block", class: label_class  %>
     <div class="mt-1">
     <%= form.text_area :details, class: input_class %>
    </div>
   </div>
   
   <div class="mb-6">
    <%= form.label :booth,"Booth #", class: label_class%>
     <div class="mt-1">
    <%= form.text_field :booth, class: input_class  %>
   </div> </div>
  
   <div class="mb-6">
      <%= form.label :cost_notes, "Costs", style: "display: block", class: label_class  %>
      <div class="mt-1">
      <%= form.text_area :cost_notes, class: input_class %>
     </div>
    </div>
    
    <div class="mb-6">
       <%= form.label :outcome, style: "display: block", class: label_class  %>
       <div class="mt-1">
       <%= form.text_area :outcome, class: input_class %>
      </div>
     </div>
     
     <div class="mb-6">
     <p class="block text-sm font-medium text-gray-700" %>Personnel (check box to assign)</p>
     <div class="mt-1">
        <%= form.collection_check_boxes :person_ids, @people, :id, :role_full_name, not_checked: Person.all.map(&:id) do |b| %>
          <span class="indent-3">
            <%= b.check_box %>
            <%= b.label %><br>
          </span>
      <% end %>
     <div>
     <br>
     
      <% if is_admin? %>  
     <div class="mb-6">
     <p class="block text-sm font-medium text-gray-700" %>Budget</p>
     <div class="mt-1">
     <% if event.budget_count==0 %>
       <%= link_to "Add New budget >>", new_budget_path, class: routing_link_class %>
       <br>
       <% end %>
         <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
          <%= number_to_currency(event.budget.budget_total, precision: 2) unless event.budget.to_s.empty? %> <br>
          <br>
              <%=  link_to "View budget details =>", event.budget, class: link_class unless event.budget.to_s.empty? %>
         <br> <%=  link_to "Edit budget details =>", edit_budget_path(event.budget), class: link_class unless event.budget.to_s.empty? %>
      </p> 
     <div>
      <% end %>  
     <br>
  
   <div>
     <%= form.submit "Save Record", class: form_button_class %>
   </div>
 <% end %>

