<!-- Educational Events --> 
<% content_for(:page_title, "Educational Events") %>

<%= render 'netball_educators/nav_tabs' %>

<div class="flex flex-wrap justify-between items-center my-4 space-x-4">
  <div>
    <%= link_to "Add New Event", new_event_path, class: form_button_class %>
  </div>

  <div>
    <%= render "filter_form" %>
  </div>
</div>



<div class="m-4">
  <% if @events.any? %>

   <header class="ml-2 mt-4 mb-2 flex space-x-6">
    <a href="<%= educational_events_path %>" class="text-lg hover:text-blue-600 <%= current_tab_class %>">Current Educational Events</a>
    <a href="<%= educational_past_events_path %>" class="text-lg hover:text-blue-600 <%= past_tab_class %>">Past Educational Events</a>
  </header>


    <%= render "events_table" %>
  <% else %>
    <p class="px-6 py-4">No educational events available</p>
  <% end %>
</div>
