<% content_for(:page_title, @page_title || "Educational Events") %>

<%= render 'netball_educators/nav_tabs' %>

<div class="flex flex-wrap justify-between items-center my-4 space-x-4">
  <div>
    <%= link_to "Add New Event", new_event_path, class: form_button_class %>
  </div>

  <div>
    <%= render "filter_form" %>
  </div>
</div>

<!-- Educational event tabs (always visible) -->
<header class="ml-2 mt-4 mb-2 flex space-x-6">
  <ul class="flex space-x-4 list-none">
    <li>
      <%= link_to "Current Educational Events",
        educational_events_path,
        class: events_tab_class(educational_events_path) %>
    </li>
    <li>
      <%= link_to "Past Educational Events",
        educational_past_events_path,
        class: events_tab_class(educational_past_events_path) %>
    </li>
    <li>
      <%= link_to "Calendar",
        calendar_events_path,
        class: events_tab_class(calendar_events_path) %>
    </li>
    <li>
      <%= link_to "My Events",
        my_events_path,
        class: events_tab_class(my_events_path) %>
    </li>
  </ul>
</header>

<div class="m-4">
  <% if @events.any? %>
    <%= render "events_table" %>
  <% else %>
    <p class="px-6 py-4">No educational events available</p>
  <% end %>
</div>

