<% content_for(:page_title, "#{@event.name}")%>

<div class="flex justify-center items-center py-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-4xl px-4">
    <%= render @event %>
  </div>
</div>

<div class="mt-2 space-y-2 ml-6 mb-4">
  <%= link_to "Edit this Event", edit_event_path(@event), class: link_class %><br>
  <%= link_to "New Event", new_event_path, class: link_class %><br>
  <%= link_to "<< Back to Events", events_path, class: link_class %><br>
  <%= link_to "<< Back to Educational Events", educational_events_path, class: link_class %>
</div>

