
<%= form_with(model: sponsor) do |form| %>
  <% if sponsor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
        <% sponsor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-4 gap-4 w-full">
     <div class="mb-4">
     <%= form.label :status, class: label_class%>
      <div class="mt-1">
     <%= form.select :status, options_for_select(sponsor_status, :selected => sponsor.status),{}, class: form_input_class %>
    </div> 
  </div>

  <div class="mb-4 basis-1/4">
     <%= form.label :allocated_to, class: label_class%>
      <div class="mt-1">
      <%= form.collection_select(:user_id, @users, :id, :full_name,{:prompt=>true}, {:class=>"block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-blue-900 focus:outline-none focus:ring-blue-900 sm:text-sm"
    }) %>
   </div> 
   </div>
   
   <div class="mb-4 col-start-4">
    <%= form.label :opportunity_area, class: label_class%>
     <div class="mt-1">
    <%= form.select :opportunity_area, options_for_select(sponsor_opportunity_area, :selected => sponsor.opportunity_area),{:prompt=>true}, class: input_class %>
   </div> </div>
      </div>

 <div class="grid grid-cols-4 gap-4">
   <div class="mb-4 col-span-2">
    <%= form.label :company_name, class: label_class%>
     <div class="mt-1">
    <%= form.text_field :company_name, class: form_input_class  %>
   </div> </div>
   
 <div class="mb-4">
    <%= form.label :sponsor_category, class: label_class%>
     <div class="mt-1">
     <%= form.select :sponsor_category, options_for_select(sponsor_category, :selected => sponsor.sponsor_category),{:prompt=>true}, class: form_input_class %>
  </div> </div>

   <div class="mb-4">
    <%= form.label :industry, class: label_class %>
     <div class="mt-1">
    <%= form.select :industry, options_for_select(sponsor_industry, :selected => sponsor.industry),{:prompt=>true}, class: form_input_class %>  
   </div> </div>
   </div>
  
  
   <div class="grid grid-cols-4 gap-4">
     <div class="mb-4 col-span-2">
      <%= form.label :about, class: label_class%>
       <div class="mt-1">
        <%= form.text_field :about, class: form_input_class  %>
       </div>
    </div>
    
    <div class="mb-4 col-span-2">
     <%= form.label :website, class: label_class%>
      <div class="mt-1">
       <%= form.text_field :website, placeholder: "Enter with prefix Http:// or https://", class: form_input_class  %>
      </div> 
    </div>
  </div>
   
   
  <div class="grid grid-cols-4 gap-4">
   <div class="mb-4 col-span-2">
    <%= form.label :location, class: label_class%>
     <div class="mt-1">
    <%= form.text_field :location, class: form_input_class  %>
   </div> </div>
   
   <div class="mb-4 ">
    <%= form.label :city, "City", class: label_class  %>
    <div class="mt-1">
    <%= form.text_field :city, class: form_input_class %>
   </div>
  </div>

   <div class="mb-4 ">
      <%= form.label :state, "State", class: label_class  %>
      <div class="mt-1">
       <%= form.select :state, options_for_select(us_states, :selected => sponsor.state),{:prompt=>true}, class: form_input_class %>
      </div>
    </div>
  </div>
 

  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 ">
   <div class="mb-4 md:col-span-2">
    <%= form.label :key_contacts, "Key Contact Names", class: label_class%>
     <div class="mt-1">
    <%= form.text_area :key_contacts, class: form_input_class  %>
   </div> </div>

   <div class="mb-4 md:col-span-2">
    <%= form.label :phone_numbers_emails, "Key Contact Phone/email", class: label_class%>
     <div class="mt-1">
    <%= form.text_area :phone_numbers_emails, class: form_input_class  %>
    </div> 
   </div>
      </div>
  
  <div class="grid grid-cols-4 gap-4">   
    <div class="mb-4 col-span-2">
      <%= form.label :pitch, class: label_class%>
       <div class="mt-1">
        <%= form.text_area :pitch, class: form_input_class  %>
     </div>
    </div>

   <div class="mb-4 col-span-2">
    <%= form.label :follow_up_actions, class: label_class%>
     <div class="mt-1">
      <%= form.text_area :follow_up_actions, class: form_input_class  %>
      </div> 
    </div>
    </div>

  <div class="grid grid-cols-4 gap-4">   
   <div class="mb-4 col-span-3">
    <%= form.label :notes, class: label_class%>
     <div class="mt-1">
      <%= form.text_area :notes, class: form_input_class  %>
     </div> 
   </div>
    
   <div class="justify-self-center self-center">
     <%= form.submit "Save Record", class: form_button_class %>
   </div>
<% end %>
   </div>




