
<%= form_with(model: sponsor) do |form| %>
  <% if sponsor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
        <% sponsor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 ">

    <div class="mb-2 md:col-span-2 sm:mt-4 md:mt-0">
      <%= form.label :company_name, class: label_class%>
        <div class="mt-1">
          <%= form.text_field :company_name, class: form_input_class  %>
        </div>
    </div>
    
    <div class="mb-2">
      <%= form.label :industry, class: label_class %>
        <div class="mt-1">
         <%= form.select :industry, options_for_select(sponsor_industry, :selected => sponsor.industry),{:prompt=>true}, class: form_input_class %>  
        </div> 
    </div>
   
    <div class="mb-2">
      <%= form.label :sponsor_category, "Category", class: label_class%>
       <div class="mt-1">
         <%= form.select :sponsor_category, options_for_select(sponsor_category, :selected => sponsor.sponsor_category),{:prompt=>true}, class: form_input_class %>
       </div> 
    </div>

      <div class="mb-2 md:col-span-2">
        <%= form.label :location, class: label_class%>
         <div class="mt-1">
          <%= form.text_field :location, class: form_input_class  %>
         </div> 
      </div>

      <div class="mb-2">
        <%= form.label :city, "City", class: label_class  %>
          <div class="mt-1">
            <%= form.text_field :city, class: form_input_class %>
          </div>
      </div>

      <div class="mb-2">
        <%= form.label :state, "State", class: label_class  %>
          <div class="mt-1">
            <%= form.select :state, options_for_select(us_states, :selected => sponsor.state),{:prompt=>true}, class: form_input_class %>
          </div>
      </div>

      <div class="mb-2 md:col-span-2">
       <%= form.label :about, class: label_class%>
         <div class="mt-1">
          <%= form.text_area :about, class: form_input_class,  size: "20x5" %>
         </div>
      </div>
    
      <div class="mb-2 md:col-span-2">
        <%= form.label :website, class: label_class%>
         <div class="mt-1">
           <%= form.text_field :website, placeholder: "Enter with prefix Http:// or https://", class: form_input_class  %>
         </div> 
      </div>

      <div class="mb-2 md:col-span-3">
      <%= form.label :notes, class: label_class%>
       <div class="mt-1">
        <%= form.text_area :notes, class: form_input_class,  size: "20x5"  %>
       </div> 
     </div>
     
     <%= form.hidden_field :user_id, value: current_user.id%>
   <div class="justify-self-center self-center">
     <%= form.submit "Save Record", class: form_button_class %>
   </div>
<% end %>
   </div>




