<div id="<%= dom_id sponsor %>">
  <p>
    <strong>Category:</strong>
    <%= sponsor.category %>
  </p>

  <p>
    <strong>Industry:</strong>
    <%= sponsor.industry %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= sponsor.company_name %>
  </p>
  
  <p>
    <strong>Allocated To:</strong>
    <%= sponsor.user.full_name unless (sponsor.user_id.to_s.empty?) %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= sponsor.status %>
  </p>

  <p>
    <strong>About:</strong>
    <%= sponsor.about %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= sponsor.location %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= sponsor.website %>
  </p>

  <p>
    <strong>Key contacts:</strong>
    <%= sponsor.key_contacts %>
  </p>

  <p>
    <strong>Phone numbers emails:</strong>
    <%= sponsor.phone_numbers_emails %>
  </p>

  <p>
    <strong>Opportunity area:</strong>
    <%= sponsor.opportunity_area %>
  </p>

  <p>
    <strong>Pitch:</strong>
    <%= sponsor.pitch %>
  </p>

  <p>
    <strong>Follow up actions:</strong>
    <%= sponsor.follow_up_actions %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= sponsor.notes %>
  </p>

</div>
