<div id="<%= dom_id sponsor %>">

<div class="grid grid-cols-1 sm:grid-cols-2 gap-2 p-2 border border-blue-900 rounded-lg shadow  ">

 <div class="">
    <p class="text-sm text-gray-500 ">
        Company name:
    </p>
    <p class="text-lg font-medium text-gray-900 ">
      <%= sponsor.company_name %>
    </p>
  </div>

  <div class="">
    <p class="text-sm text-gray-500 ">
        Industry / Category
    </p>
    <p class="text-sm font-medium text-gray-900 ">
      <%= sponsor.industry %> /  <%= sponsor.sponsor_category %>
    </p>
  </div>

  <div class="">
  </div>
 
  <div class="">
  </div>

  <div class="">
    <p class="text-sm text-gray-500 ">
        Location:
    </p>
    <p class="text-sm font-medium text-gray-900">
      <%= sponsor.location %>
      <% if sponsor.city? %>,  <%= sponsor.city %><% end %>
      <% if sponsor.state? %>,  <%= sponsor.state %><% end %>
    </p>
  </div>

  
<div class="md:col-span-2">
  <p class="text-sm text-gray-500 ">
      Website:
  </p>
  <p class="text-sm font-medium text-gray-900 truncate">
   <%= (link_to sponsor.website, sponsor.website, target: '_blank', class: link_class) unless (sponsor.website.to_s.empty?)%>
    <%= sponsor.website %>
  </p>
</div>

<div class=" md:col-span-4 p-2 border border-gray-200 rounded-lg hover:bg-gray-100">
   <p class="text-sm text-gray-500 ">
       About:
   </p>
   <p class="text-sm font-medium text-gray-900 ">
     <%= sponsor.about %>
   </p>
 </div>

<div class="md:col-span-4 p-2 border border-gray-200 rounded-lg hover:bg-gray-100">
  <p class="text-sm text-gray-500 dark:text-gray-400">
      Notes:
  </p>
  <p class="text-sm font-medium text-gray-900 ">
    <%= sponsor.notes %>
  </p>
</div>
</div>
</div>
