<div id="<%= dom_id sponsor %>">

<table class="table-fixed w-full">
<tbody>
    <tr>
      <td class=""><strong>Status:</strong><br><%= sponsor.status %></td>
      <td class="text-right"> <strong>Allocated To:</strong><br><%= sponsor.user.full_name unless (sponsor.user_id.to_s.empty?) %></td>
    </tr>
    <tr>
      <td class="border-b-4 border-blue-500 text-white ">--</td>
      <td class="border-b-4 border-blue-500 text-white text-right"> -- </td>
    </tr>
    <tr>
      <td class="border-t-4 border-blue-500"> <strong>Category:</strong></td>
      <td class="text-right"> <%= sponsor.category %></td>
    </tr>
    <tr>
      <td class=""> <strong>Industry:</strong></td>
      <td class="text-right"> <%= sponsor.industry %></td>
    </tr>
    <tr>
      <td class=""> <strong>Company name:</strong></td>
      <td class="text-right"> <%= sponsor.company_name %></td>
    </tr>
    <tr>
      <td class=""> <strong>About:</strong></td>
      <td class="text-right"> <%= sponsor.about %></td>
    </tr>
    <tr>
      <td class="border-b-4 border-blue-500 text-white ">--</td>
      <td class="border-b-4 border-blue-500 text-white text-right"> -- </td>
    </tr>
    <tr>
      <td class=""> <strong>Location:</strong></td>
      <td class="text-right"> <%= sponsor.location %></td>
    </tr>
    <tr>
      <td class=""> <strong>Website:</strong></td>
      <td class="text-right"> <%= sponsor.website %></td>
    </tr>
    <tr>
      <td class=""> <strong>Key contacts:</strong></td>
      <td class="text-right"> <%= sponsor.key_contacts %></td>
    </tr>
    <tr>
      <td class=""> <strong>Phone numbers<br> & emails:</strong></td>
      <td class="text-right"> <%= sponsor.phone_numbers_emails %></td>
    </tr>
    <tr>
      <td class="border-b-4 border-blue-500 text-white ">--</td>
      <td class="border-b-4 border-blue-500 text-white text-right"> -- </td>
    </tr>
    <tr>
      <td class=""> <strong>Opportunity area:</strong></td>
      <td class="text-right"> <%= sponsor.opportunity_area %></td>
    </tr>
    <tr>
      <td class=""> <strong>Pitch:</strong></td>
      <td class="text-right"> <%= sponsor.pitch %></td>
    </tr>
    <tr>
      <td class=""> <strong>Follow up actions:</strong></td>
      <td class="text-right"> <%= sponsor.follow_up_actions %></td>
    </tr>
    <tr>
      <td class=""> <strong>Notes:</strong></td>
      <td class="text-right"> <%= sponsor.notes %></td>
    </tr>
  </tbody>
</table>

</div>
