<div id="<%= dom_id sponsor %>">

<div class="grid grid-cols-1 md:grid-cols-4 gap-4 p-4 border border-blue-900 rounded-lg shadow  ">

<div class="">
    <p class="text-sm text-gray-500 dark:text-gray-400">
        Company name:
    </p>
    <p class="text-lg font-medium text-gray-900 dark:text-white">
      <%= sponsor.company_name %>
    </p>
  </div>

  <div class="">
    <p class="text-sm text-gray-500 dark:text-gray-400">
        Industry:
    </p>
    <p class="text-sm font-medium text-gray-900 dark:text-white">
      <%= sponsor.industry %>
    </p>
  </div>

  <div class="">
    <p class="text-sm text-gray-500 dark:text-gray-400">
      Category:
    </p>
    <p class="text-sm font-medium text-gray-900 dark:text-white">
      <%= sponsor.sponsor_category %>
    </p>
  </div>

  <div class="">
    <p class="text-sm text-gray-500 dark:text-gray-400">
        Location:
    </p>
    <p class="text-sm font-medium text-gray-900 dark:text-white">
      <%= sponsor.location %>
    </p>
  </div>

  <div class="">
    <p class="text-sm text-gray-500 dark:text-gray-400">
        City:
    </p>
    <p class="text-sm font-medium text-gray-900 dark:text-white">
      <%= sponsor.city %>
    </p>
  </div>

  <div class="">
  <p class="text-sm text-gray-500 dark:text-gray-400">
      State:
  </p>
  <p class="text-sm font-medium text-gray-900 dark:text-white">
    <%= sponsor.state %>
  </p>
</div>

<div class="md:col-span-2">
  <p class="text-sm text-gray-500 dark:text-gray-400">
      Website:
  </p>
  <p class="text-sm font-medium text-gray-900 dark:text-white">
    <%= sponsor.website %>
  </p>
</div>

<div class=" md:col-span-4 p-2 border border-gray-200 rounded-lg hover:bg-gray-100">
   <p class="text-sm text-gray-500 dark:text-gray-400">
       About:
   </p>
   <p class="text-sm font-medium text-gray-900 dark:text-white">
     <%= sponsor.about %>
   </p>
 </div>

<div class="md:col-span-4 p-2 border border-gray-200 rounded-lg hover:bg-gray-100">
  <p class="text-sm text-gray-500 dark:text-gray-400">
      Notes:
  </p>
  <p class="text-sm font-medium text-gray-900 dark:text-white">
    <%= sponsor.notes %>
  </p>
</div>
</div>
