<% content_for(:page_title, "Sponsors")%>

<% if @sponsors.any? %>
<div id="sponsors">
<div class="relative overflow-x-auto">
    <table class="w-full text-left rtl:text-right">
        <thead class="bg-white border-b text-gray-300 font-light text-xs ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Company 
                </th>
                <th scope="col" class="px-6 py-3">
                    Ind:Cat
                </th>
                <th scope="col" class="px-6 py-3">
                    Location
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Opps(#)
                </th>
                <th scope="col" class="px-6 py-3">
                    Opp Details
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Contacts(#)
                </th>
                <th scope="col" class="px-6 py-3 truncate">
                    Contact Details
                </th>
                <th scope="col" class="px-6 py-3 truncate">
                    Website
                </th>
                
                <th scope="col" class="px-6 py-3 truncate">
                    Notes
                </th>
            </tr>
        </thead>
        <tbody>
        <% @sponsors.each do |sponsor| %>
            <tr class="bg-white border-b hover:bg-gray-100 whitespace-nowrap">
                <td scope="row" class="align-top px-6 py-4 font-medium text-gray-800 whitespace-nowrap dark:text-white">
                    <%= link_to sponsor.company_name, sponsor_path(sponsor), class: link_class %>
                </td>
                <td class="px-6 py-4 align-top">
                  <%= sponsor.sponsor_category %>  <br>
                   <%= sponsor.industry %>
                </td>
                <td class="px-6 py-4 align-top">
                   <%= sponsor.location %><br> 
                   <%= sponsor.city %>, <%= sponsor.state %> 
                </td>
                <td class="px-6 py-4 text-center align-top ">
                    [<%= sponsor.opportunities.count %>]
                </td>
                <td class="px-6 py-4 text-left align-top">
                <% sponsor.opportunities.each do |opportunity| %>
                    <%= opportunity.opportunity_type %> - <%= opportunity.status %><br>
                <% end %>
                </td>
                <td class="px-6 py-4 text-center align-top ">
                [<%= sponsor.contacts.count %>]
                </td>
                <td class="px-6 py-4 text-left align-top">
                <% sponsor.contacts.each do |contact| %>
                    <%= contact.full_name %> - <%= contact.phone %><br>
                <% end %>
                </td>
                <td class="px-6 py-4 truncate">
                    <%= sponsor.website %>
                </td>
                <td class="px-6 py-4 truncate">
                   <%= sponsor.notes %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
 </div>

<% else %>
<p class="px-6 py-4">
No records to view</p>
<% end %>
<br>
<div class="m-2">
    <%= link_to "Add New Sponsor", new_sponsor_path, class: form_button_class %>
    <br>
   </div>

