<% content_for(:page_title, "Sponsors")%>

<div class="bg-white py-4 px-2 shadow sm:rounded-lg sm:px-10 text-sm">
 
<div id="sponsors">
<div class="relative overflow-x-auto">
    <table class="w-full text-left rtl:text-right">
        <thead class="bg-white border-b text-gray-300 font-light text-xs ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Company 
                </th>
                <th scope="col" class="px-6 py-3">
                    Allocated To
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Location
                </th>
                <th scope="col" class="px-6 py-3">
                    Website
                </th>
                <th scope="col" class="px-6 py-3">
                    Key Contacts
                </th>
                <th scope="col" class="px-6 py-3">
                    Phone/Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Opportunity Area
                </th>
            </tr>
        </thead>
        <tbody>
        <% @sponsors.each do |sponsor| %>
            <tr class="bg-white border-b hover:bg-gray-100">
                <th scope="row" class="px-6 py-4 font-medium text-gray-800 whitespace-nowrap dark:text-white">
                    <%= link_to sponsor.company_name, edit_sponsor_path(sponsor), class: link_class %><br><%= sponsor.category %> / <%= sponsor.industry %>
                </th>
                <td class="px-6 py-4">
                    <%= sponsor.user.full_name unless (sponsor.user_id.to_s.empty?) %>
                </td>
                <td class="px-6 py-4">
                    <%= sponsor.status %>
                </td>
                <td class="px-6 py-4">
                   <%= sponsor.location %>
                </td>
                 <td class="px-6 py-4">
                    <%= sponsor.website %>
                </td>
                <td class="px-6 py-4">
                    <%= sponsor.key_contacts %>
                </td>
                <td class="px-6 py-4">
                   <%= sponsor.phone_numbers_emails %>
                </td>
                <td class="px-6 py-4">
                   <%= sponsor.opportunity_area %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
 </div>
</div>
<br>
<div class="m-2">
    <%= link_to "Add New Sponsor", new_sponsor_path, class: small_button_class %>
    <br>
   </div>


 
   
