<% content_for(:page_title, "Sponsors")%>

<div class="m-4">
    <%= link_to "Add New Sponsor", new_sponsor_path, class: form_button_class %>
   </div>

<div class="bg-gray-100 p-2 rounded-lg border border-gray-200">
<p class="text-sm">SEARCH OR FILTER BY ANY OF THESE PARAMETERS</p>
  <%= form_with(url: sponsors_path, method: :get, local: true, class: "flex flex-wrap items-center space-x-4") do %>
   <!-- Company Name Search -->
    <div class="flex flex-col">
      <%= label_tag :company_name, "Company Name", class: "text-sm font-medium text-gray-700" %>
      <%= text_field_tag :company_name, params[:company_name], class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" %>
    </div>

    <!-- City Filter -->
    <div class="flex flex-col">
      <%= label_tag :city, "City", class: "text-sm font-medium text-gray-700" %>
      <%= text_field_tag :city, params[:city], class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" %>
    </div>

    <!-- State Filter -->
    <div class="flex flex-col">
      <%= label_tag :state, "State", class: "text-sm font-medium text-gray-700" %>
      <%= select_tag :state, options_for_select(us_states, params[:state]),
        include_blank: "Select",
        class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" %>
    </div>

    <!-- ExPatCo Filter -->
    <div class="flex flex-col">
      <%= label_tag :expat_co, "ExPat Co", class: "text-sm font-medium text-gray-700" %>
      <%= select_tag :expat_co, options_for_select(expat_co, params[:expat_co]),
        include_blank: "Select",
        class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" %>
    </div>

    <!-- Submit Button -->
    <div class="mt-7">
      <%= submit_tag "Filter", class: "block text-left px-2 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-800 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
    </div>

    <!-- Clear Filter Button -->
    <div class="mt-7">
      <%= link_to "Clear", sponsors_path, 
        class: "block text-left px-2 py-2 border border-gray-300 text-sm font-medium rounded-md shadow-sm text-gray-700 bg-white hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
    </div>
  <% end %>
</div>

<br>

<% if @sponsors.any? %>
<div id="sponsors">
<div class="relative overflow-x-auto">
    <table class="table-fixed text-left rtl:text-right">
        <thead class="bg-white border-b text-gray-400 font-light text-xs ">
            <tr>
                <th scope="col" class="px-4 py-2 w-1/4">
                    Company 
                </th>
                <th scope="col" class="px-4 py-2 w-1/6">
                    Ind:Cat
                </th>
                <th scope="col" class="px-4 py-2 w-1/6">
                    Location
                </th>
                <th scope="col" class="px-4 py-2 w-1/6">
                    ExPat Co
                </th>
                <th scope="col" class="px-4 py-2 w-1/5">
                    Opp Details - Assigned To
                </th>
                <th scope="col" class="px-4 py-2 w-1/4">
                    Contact Details
                </th>
                <th scope="col" class="px-4 py-2 truncate overflow-hidden text-ellipsis w-[50px]">
                    Website
                </th>
                <th scope="col" class="px-4 py-2 truncate w-[100px]">
                    Notes
                </th>
            </tr>
        </thead>
        <tbody>
        <% @sponsors.each do |sponsor| %>
            <tr class="bg-white border-b hover:bg-gray-100 whitespace-nowrap">
                <td scope="row" class="align-top px-4 py-3 font-medium text-gray-800 break-normal whitespace-wrap dark:text-white">
                    <%= link_to sponsor.company_name, sponsor_path(sponsor), class: link_class %>
                </td>
                <td class="px-4 py-3 align-top">
                  <%= sponsor.sponsor_category %>  <br>
                   <%= sponsor.industry %>
                </td>
                <td class="px-4 py-3 align-top">
                   <%= sponsor.city_state %>
                </td>
                <td class="px-4 py-3 align-top">
                   <%= sponsor.expat_co %>
                </td>
                <td class="px-4 py-3 text-left align-top">
                <% sponsor.opportunities.each do |opportunity| %>
                    <%= opportunity.opportunity_type %> - <%= opportunity.status %> - <%= opportunity.user.initials %><br>
                <% end %>
                </td>
                <td class="px-4 py-3 text-left align-top">
                <% sponsor.contacts.each do |contact| %>
                    <%= contact.full_name %> - <%= contact.phone %><br>
                <% end %>
                </td>
                <td class="px-4 py-3 truncate">
                     <%= (link_to sponsor.website, sponsor.website, target: '_blank', class: link_class) unless (sponsor.website.to_s.empty?)%>
                </td>
                <td class="px-4 py-3 truncate">
                   <%= sponsor.notes %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
 </div>

<% else %>
<p class="px-4 py-3">
No records to view</p>
<% end %>
<br>


