<div id="<%= dom_id tour %>">
  <p>
    <strong>Company:</strong>
    <%= tour.company %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tour.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= tour.location %>
  </p>

  <p>
    <strong>City:</strong>
    <%= tour.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= tour.us_state %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= tour.website %>
  </p>

  <p>
    <strong>Date initially connected:</strong>
    <%= tour.date_initially_connected %>
  </p>

  <p>
    <strong>Date pitch to na:</strong>
    <%= tour.date_pitch_to_na %>
  </p>

  <p>
    <strong>Date pitch by na:</strong>
    <%= tour.date_pitch_by_na %>
  </p>

  <p>
    <strong>Pitch to na:</strong>
    <%= tour.pitch_to_na %>
  </p>

  <p>
    <strong>Pitch by na:</strong>
    <%= tour.pitch_by_na %>
  </p>

  <p>
    <strong>Follow up action:</strong>
    <%= tour.follow_up_action %>
  </p>

  <p>
    <strong>Tour agreement:</strong>
    <%= tour.tour_agreement %>
  </p>

  <p>
    <strong>Accept tour:</strong>
    <%= tour.accept_tour %>
  </p>

  <p>
    <strong>Date of decision:</strong>
    <%= tour.date_of_decision %>
  </p>

  <p>
    <strong>First name primary:</strong>
    <%= tour.first_name_primary %>
  </p>

  <p>
    <strong>Last name primary:</strong>
    <%= tour.last_name_primary %>
  </p>

  <p>
    <strong>Role primary:</strong>
    <%= tour.role_primary %>
  </p>

  <p>
    <strong>Email primary:</strong>
    <%= tour.email_primary %>
  </p>

  <p>
    <strong>Cell primary:</strong>
    <%= tour.cell_primary %>
  </p>

  <p>
    <strong>Work phone primary:</strong>
    <%= tour.work_phone_primary %>
  </p>

  <p>
    <strong>First name secondary:</strong>
    <%= tour.first_name_secondary %>
  </p>

  <p>
    <strong>Last name secondary:</strong>
    <%= tour.last_name_secondary %>
  </p>

  <p>
    <strong>Role secondary:</strong>
    <%= tour.role_secondary %>
  </p>

  <p>
    <strong>Email secondary:</strong>
    <%= tour.email_secondary %>
  </p>

  <p>
    <strong>Cell secondary:</strong>
    <%= tour.cell_secondary %>
  </p>

  <p>
    <strong>Work phone secondary:</strong>
    <%= tour.work_phone_secondary %>
  </p>

</div>
