<% content_for(:page_title, "Tours")%> 

<% if @tours.any? %>
<div id="tours">
<div class="relative overflow-x-auto">
    <table class="w-full text-left rtl:text-right">
        <thead class="bg-white border-b text-gray-300 font-light text-xs ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Company 
                </th>
                
                <th scope="col" class="px-6 py-3">
                    Location
                </th>
                
                <th scope="col" class="px-6 py-3 truncate">
                    Website
                </th>
                
                <th scope="col" class="px-6 py-3 truncate">
                    Date of Initial Connect
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
        <% @tours.each do |tour| %>
            <tr class="bg-white border-b hover:bg-gray-100 whitespace-nowrap">
                
                <td scope="row" class="align-top px-6 py-4 font-medium text-gray-800 whitespace-nowrap dark:text-white">
                    <%= link_to tour.company, tour_path(tour), class: link_class %>
                </td>
               
                <td class="px-6 py-4 align-top text-wrap">
                   <%= tour.address_condensed %>
                </td>
                <td class="px-6 py-4 align-top truncate">
                     <%= (link_to tour.website, tour.website, target: '_blank', class: link_class) unless (tour.website.to_s.empty?)%>
                </td>
                <td class="px-6 py-4 align-top truncate">
                   <%= tour.date_initially_connected.to_formatted_s(:usa) unless  tour.date_initially_connected.to_s.empty? %>
                </td> 
                <td class="px-6 py-4 align-top truncate">
                <%= tour.description %>
             </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
 </div>

<% else %>
<p class="px-6 py-4">
No records to view</p>
<% end %>
<br>
<div class="m-2">
    <%= link_to "Add New Tour", new_tour_path, class: form_button_class %>
    <br>
   </div>


 
   


