<% content_for(:page_title, "Tour: #{@tour.company}")%>

<div class="m-2">

 <div class="flex flex-row">
    <div class="basis-1/2  max-w-1/2">
        <div class="ml-2 text-lg font-bold text-gray-800 mb-2">
          Tour Details
        </div>
          <%= render "tour_summary", tour: @tour %>
    </div>
    
    <div class="basis-1/2 max-w-1/2">
      <div class="flex flex-row justify-between">
        <div class=" text-lg font-bold text-gray-800 ml-6">
          Contacts
        </div>
        <div class="">
         
        </div>
      </div>
        
      <div class="container">
        <div class="ml-2 p-2 overflow-auto utility">
          <%= render 'tour_contacts'%>
          
        </div>
      </div>
    </div>
    </div>
  
 <br>

    <div class="border border-blue-900 rounded-lg mr-4 pr-4 min-h-20">
      <div class="m-2 p-2 border border-gray-200 rounded-lg hover:bg-gray-100">
        <p class="text-sm text-gray-500 ">
            Pitch To NA:
        </p>
        <p class="text-sm font-medium text-gray-900 ">
          <%= simple_format(@tour.pitch_to_na) %>
        </p>
      </div>

      <div class="m-2 p-2 border border-gray-200 rounded-lg hover:bg-gray-100">
        <p class="text-sm text-gray-500 ">
            Pitch By NA:
        </p>
        <p class="text-sm font-medium text-gray-900 ">
          <%= simple_format(@tour.pitch_by_na) %>
        </p>
      </div>

      <div class="m-2 p-2 border border-gray-200 rounded-lg hover:bg-gray-100">
        <p class="text-sm text-gray-500 ">
            Follow Up Actions:
        </p>
        <p class="text-sm font-medium text-gray-900 ">
          <%= simple_format(@tour.follow_up_action) %>
        </p>
      </div>

      <div class="m-2 p-2 border border-gray-200 rounded-lg hover:bg-gray-100">
        <p class="text-sm text-gray-500 ">
            Tour Agreement:
        </p>
        <p class="text-sm font-medium text-gray-900 ">
          <%= simple_format(@tour.tour_agreement) %>
        </p>
      </div>

     
        <div class="flex">
        <div class="basis-1/5 m-2 p-2 border border-gray-200 rounded-lg hover:bg-gray-100">
            <p class="text-sm text-gray-500 ">
              Decision:
            </p>
            <p class="text-sm font-medium text-gray-900 ">
            <%= @tour.accept_tour %>
          </p>
          </div>
          <div class="basis-1/5 m-2 p-2 border border-gray-200 rounded-lg hover:bg-gray-100">
            <p class="text-sm text-gray-500 ">
              Date:
            </p>
            <p class="text-sm font-medium text-gray-900 ">
            <%= @tour.date_of_decision.to_formatted_s(:usa) unless @tour.date_of_decision.to_s.empty? %>
          </p>
      
          </div>
        </div>
      </div>
     
 
    <div class="p-4">
      <%= link_to "Edit this tour", edit_tour_path(@tour), class:form_button_class %> <br>
    </div> 
      <%= link_to "<< Back to tours", tours_path, class: link_class %>
      <% if current_user.admin? %>
        <%= button_to "Delete this tour", @tour, method: :delete,
        form: { data: { turbo_confirm: "Are you sure?" } }  %>
      <% end %>
    </div>
    </div>
    </div> 
