<!-- Statistics Cards -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 p-4 gap-4 min-h-[200px]">

  <%= render partial: "dashboard/cards/educators" %>

  <%= render partial: "dashboard/cards/us_open" %>

  <%= render partial: "dashboard/cards/people" %>

  <%= render partial: "dashboard/cards/membership" %>

  
  <%= render partial: "dashboard/cards/follow_ups" %>

  <%= render partial: "dashboard/cards/equipment" %>

  <%= render partial: "dashboard/cards/events" %>

  <%= render partial: "dashboard/cards/media" %>

  
  <%= render partial: "dashboard/cards/sponsors" %>

  <%= render partial: "dashboard/cards/grants" %>

  <%= render partial: "dashboard/cards/partners" %>

  <%= render partial: "dashboard/cards/vendors" %>


  <%= render partial: "dashboard/cards/tours" %>

  <%= render partial: "dashboard/cards/venues" %>

  <%= render partial: "dashboard/cards/programs" %>

  <%= render partial: "dashboard/cards/users" %>


</div>
<!-- ./Statistics Cards -->