<!-- Statistics Cards -->
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 p-4 auto-rows-fr max-w-screen-xl mx-auto">
  <%= render partial: "dashboard/cards/educators" %>
  <%= render partial: "dashboard/cards/follow_ups" %>
  <%= render partial: "dashboard/cards/equipment" %>
  <%= render partial: "dashboard/cards/events" %>
  <%= render partial: "dashboard/cards/us_open" %>
  <%= render partial: "dashboard/cards/people" %>
  <%= render partial: "dashboard/cards/membership" %>
  <%= render partial: "dashboard/cards/media" %>
  <%= render partial: "dashboard/cards/sponsors" %>
  <%= render partial: "dashboard/cards/grants" %>
  <%= render partial: "dashboard/cards/partners" %>
  <% if can_see_netball_academy_section? %>
    <%= render "dashboard/cards/netball_academies" %>
  <% end %>
  <%= render partial: "dashboard/cards/vendors" %>
  <%= render partial: "dashboard/cards/tours" %>
  <%= render partial: "dashboard/cards/venues" %>
  <%= render partial: "dashboard/cards/programs" %>
    <%= render partial: "dashboard/cards/filings" %>
  <%= render partial: "dashboard/cards/users" %>
</div>
<br><br><br>
<!-- ./Statistics Cards -->