<!-- Statistics Cards -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 p-4 gap-4">

  <%= render partial: "dashboard/cards/educators" %>

   <%= render partial: "dashboard/cards/follow_ups" %>

  <%= render partial: "dashboard/cards/sponsors" %>

  <%= render partial: "dashboard/cards/grants" %>

  <%= render partial: "dashboard/cards/people" %>

  <%= render partial: "dashboard/cards/events" %>
          
  <%= render partial: "dashboard/cards/equipment" %>

  <%= render partial: "dashboard/cards/partners" %>

  <%= render partial: "dashboard/cards/users" %>

  <%= render partial: "dashboard/cards/membership" %>

  <%= render partial: "dashboard/cards/us_open" %>
  
  <%= render partial: "dashboard/cards/tours" %>

</div>
<!-- ./Statistics Cards -->