<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
  <div class="bg-blue-400 py-8 px-4 shadow sm:rounded-lg sm:px-10">
  
  <p class="text-xl text-blue-900">Educators Sign Up Form</p><br>

<%= form_with(model: educator) do |form| %>
  <% if educator.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(educator.errors.count, "error") %> prohibited this educator from being saved:</h2>

      <ul>
        <% educator.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label :first_name, class: ex_label_class  %>
     <div class="mt-1">
    <%= form.text_field :first_name, class: ex_input_class %>
   </div>
  </div>

 <div class="mb-6">
    <%= form.label :last_name, class: ex_label_class %>
    <div class="mt-1">
    <%= form.text_field :last_name, class: ex_input_class %>
  </div>
 </div>

 <div class="mb-6">
    <%= form.label :email, class: ex_label_class  %>
    <div class="mt-1">
    <%= form.text_field :email, class: ex_input_class %>
   </div>
  </div>

   <div class="mb-6">
    <%= form.label :phone, class: ex_label_class  %>
    <div class="mt-1">
    <%= form.text_field :phone, class: ex_input_class %>
   </div>
  </div>

  <div class="mb-6">
    <%= form.label :school_name, class: ex_label_class  %>
    <div class="mt-1">
    <%= form.text_field :school_name, class: ex_input_class %>
   </div>
  </div>

   <div class="mb-6">
    <%= form.label :city, class: ex_label_class  %>
    <div class="mt-1">
    <%= form.text_field :city, class: ex_input_class %>
   </div>
  </div>
  
 <div class="mb-6">
    <%= form.label :state, class: ex_label_class  %>
    <div class="mt-1">
    <%= form.select :state, options_for_select(us_states),{}, class: ex_input_class %>
   </div>
  </div>

 <div class="mb-6">
    <%= form.label :educator_notes, 'What would you like more information on?', style: "display: block", class: ex_label_class  %>
    <div class="mt-1">
    <%= form.text_area :educator_notes, class: ex_input_class %>
   </div>
  </div>
  
  <div class="mb-6">
     <%= form.label :feedback, 'Feedback or Comments on your session', style: "display: block", class: ex_label_class  %>
     <div class="mt-1">
     <%= form.text_area :feedback, class: ex_input_class %>
    </div>
   </div>
  

  <div>
    <%= form.submit "Save Record", class: form_button_class %>
  </div>
<% end %>

  </div>
    </div>