<div class=" sm:mx-auto sm:w-full sm:max-w-md">
  <div class="bg-white-400 py-2 px-2 shadow sm:rounded-lg sm:px-4">
  
  <p class="text-xl text-blue-900">Educator's Request for<br> More Information</p><br>

<%= form_with(model: educator) do |form| %>
  <% if educator.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(educator.errors.count, "error") %> prohibited this educator from being saved:</h2>

      <ul>
        <% educator.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p class="text-xs">Complete the form below with your contact details and we will reach out to you with follow up information. <p>
  </p><br>

  <div class="mb-6">
    <%= form.label :first_name, "First Name*", autofocus: true, autocomplete: "name", class: "required block text-sm font-medium text-gray-700 invalid:border-red-500 required"%>
     <div class="mt-1">
    <%= form.text_field :first_name, class: input_class %>
   </div>
  </div>

 <div class="mb-6">
    <%= form.label :last_name, "Last Name*", autofocus: true, autocomplete: "name", class: label_class %>
    <div class="mt-1">
    <%= form.text_field :last_name, class: input_class %>
  </div>
 </div>

 <div class="mb-6">
    <%= form.label :email, "Email*", autofocus: true, autocomplete: "email", class: label_class  %>
    <div class="mt-1">
    <%= form.text_field :email, class: input_class, autocomplete: "email" %>
   </div>
  </div>

   <div class="mb-6">
    <%= form.label :phone, "Phone (include area code)", autofocus: true, autocomplete: "phone", class: label_class  %>
    <div class="mt-1">
    <%= form.text_field :phone, class: input_class %>
   </div>
  </div>

  <div class="mb-6">
    <%= form.label :school_name, "School Name*", class: label_class  %>
    <div class="mt-1">
    <%= form.text_field :school_name, class: input_class %>
   </div>
  </div>

  <div class="mb-6">
    <%= form.label :website, "Shool Website", class: label_class  %>
    <div class="mt-1">
    <%= form.text_field :website, class: input_class %>
   </div>
  </div>

   <div class="mb-6">
    <%= form.label :city, "City*", class: label_class  %>
    <div class="mt-1">
    <%= form.text_field :city, class: input_class %>
   </div>
  </div>
  
 <div class="mb-6">
    <%= form.label :state, "State*", class: label_class  %>
    <div class="mt-1">
    <%= form.select :state, options_for_select(us_states),{:prompt=>true}, class: input_class %>
   </div>
  </div>

   <div class="mb-6">
    <%= form.label :level, "Role/Level*", class: label_class  %>
    <div class="mt-1">
    <%= form.select :level, options_for_select(educator_level),{:prompt=>true}, class: input_class %>
   </div>
  </div>

 <div class="mb-6">
    <%= form.label :educator_notes, 'What would you like more information on?', style: "display: block", class: label_class  %>
    <div class="mt-1">
    <%= form.text_area :educator_notes, class: input_class %>
   </div>
  </div>
  
  <div class="mb-6">
     <%= form.label :feedback, 'Quote/Feedback on your session', style: "display: block", class: label_class  %>
     <div class="mt-1">
     <%= form.text_area :feedback, class: input_class %>
    </div>
   </div>
   
   <div class="mb-6">
      <%= form.label :authorize, 'Do you authorize us to use feedback on social media?', style: "display: block", class: label_class  %>
      <div class="mt-1">
      <%= form.check_box :authorize, class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
     </div>
    </div>
  

  <div>
    <%= form.submit "Submit", class: form_button_class %>
  </div>
<% end %>


  </div>
    </div>