<!-- Statistics Cards -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 p-4 gap-4">
  <% if can? :manage, NetballEducator %>
    <%= render partial: "dashboard/cards/educators" %>
  <% end %>

  <% if can? :manage, FollowUp %>
    <%= render partial: "dashboard/cards/follow_ups" %>
  <% end %>

  <% if can? :manage, Sponsor %>
    <%= render partial: "dashboard/cards/sponsors" %>
  <% end %>

  <% if can? :manage, Grant %>
    <%= render partial: "dashboard/cards/grants" %>
  <% end %>

  <% if can? :manage, Person %>
    <%= render partial: "dashboard/cards/people" %>
  <% end %>

  <% if can? :manage, Event %>
    <%= render partial: "dashboard/cards/events" %>
  <% end %>

  <% if can? :manage, Medium %>
    <%= render partial: "dashboard/cards/media" %>
  <% end %>

  <% if can? :manage, Club %>
    <%= render partial: "dashboard/cards/membership" %>
  <% end %>

  <% if can? :manage, Tour %>
    <%= render partial: "dashboard/cards/tours" %>
  <% end %>

  <% if can? :manage, Venue %>
    <%= render partial: "dashboard/cards/venues" %>
  <% end %>

  <% if can? :manage, Program %>
    <%= render partial: "dashboard/cards/programs" %>
  <% end %>

  <% if can? :manage, Partner %>
    <%= render partial: "dashboard/cards/partners" %>
  <% end %>

  <% if can? :manage, Equipment %>
    <%= render partial: "dashboard/cards/equipment" %>
  <% end %>

  <% if current_user.admin? %>
    <%= render partial: "dashboard/cards/users" %>
  <% end %>
</div>
<!-- ./Statistics Cards -->