<% content_for(:page_title, "Management Summary")%>
<br>

<!-- Statistics Cards -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 p-4 gap-4">
          <div class="bg-blue-800 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 dark:border-gray-600 text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
              <i class="fa-solid fa-chalkboard-user text-blue-800 dark:text-white hover:underline"></i>
            </div>
            <div class="text-right">
              <p class="text-2xl"><%= link_to NetballEducator.all.count, netball_educators_path %></p>
              <p><%= link_to "Educators", netball_educators_path %></p>
            </div>
          </div>
       
          <div class="bg-blue-800 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 dark:border-gray-600 text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
              <i class="fa-solid fa-clipboard text-blue-800 dark:text-white hover:underline"></i>
            </div>
            <div class="text-right">
              <p class="text-2xl"><%= link_to NetballEducator.all.count, netball_educators_path %></p>
              <p><%= link_to "Educator Follow-Ups", netball_educators_path %></p>
            </div>
          </div>
          
          <div class="bg-blue-800 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 dark:border-gray-600 text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
            <i class="fa-solid fa-bag-shopping text-blue-800 dark:text-white hover:underline"></i>
          </div>
            <div class="text-right">
              <p class="text-2xl"><%= link_to Sponsor.all.count, sponsors_path %></p>
              <p><%= link_to "Sponsors", sponsors_path %></p>
            </div>
          </div>
          
          <div class="bg-blue-800 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 dark:border-gray-600 text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
            <i class="fa-solid fa-dollar-sign text-blue-800 dark:text-white hover:underline"></i>
          </div>
            <div class="text-right">
              <p class="text-2xl"><%= link_to Grant.all.count, grants_path %></p>
             <p><%= link_to "Grants", grants_path %></p>
            </div>
          </div>
          
          <div class="bg-blue-800 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 dark:border-gray-600 text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
            <i class="fa-solid fa-person text-blue-800 dark:text-white hover:underline"></i>
          </div>
            <div class="text-right">
              <p class="text-2xl"> <p><%= link_to Person.all.count, people_path %></p>
             <p><%= link_to "People", people_path %></p>
            </div>
          </div>
          
          <div class="bg-blue-800 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 dark:border-gray-600 text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
            <i class="fa-solid fa-calendar-days text-blue-800 dark:text-white hover:underline"></i>
          </div>
            <div class="text-right">
              <p class="text-2xl"><%= link_to Event.all.count, events_path %></p>
              <p><%= link_to "Events", events_path %></p>
            </div>
          </div>
          <% if is_admin? %>  
          <div class="bg-blue-800 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 dark:border-gray-600 text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
            <i class="fa-solid fa-money-check-dollar text-blue-800 dark:text-white hover:underline"></i>
          </div>
            <div class="text-right">
              <p class="text-2xl"><%= link_to Budget.all.count, budgets_path %></p>
             <p><%= link_to "Budgets", budgets_path %></p>
            </div>
          </div>
         
          <div class="bg-blue-800 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 dark:border-gray-600 text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
            <i class="fa-solid fa-users text-blue-800 dark:text-white hover:underline"></i>
          </div>
            <div class="text-right">
              <p class="text-2xl"> <p><%= link_to User.all.count, users_path %></p>
             <p><%= link_to "Users", users_path %></p>
            </div>
          </div>
          <% end %>
        </div>
        <!-- ./Statistics Cards -->


