<% content_for(:page_title, "Venues")%>

<div class="my-4">
  <%= link_to "Add New Venue", new_venue_path, class: form_button_class %>
</div>
<% if @venues.any? %> 
<div id="venues">
<div class="relative overflow-x-auto">
  <!-- switch to table-auto so columns size naturally -->
  <table class="table-auto w-full text-left rtl:text-right">
    <thead class="bg-gray-200 border-b text-gray-500 font-light text-xs">
      <tr>
        <th class="px-4 py-2">Type</th>
        <th class="px-4 py-2 min-w-[16rem]">Name</th>
        <th class="px-4 py-2 min-w-[10rem]">Address</th>
        <th class="px-4 py-2 min-w-[12rem]">Website</th>
        <th class="px-4 py-2">Contact</th>
        <th class="px-4 py-2">Role</th>
        <th class="px-4 py-2">Courts #</th>
        <th class="px-4 py-2">Date Added</th>
        <!-- make notes wide by giving it a min width -->
        <th class="px-4 py-2 min-w-[28rem]">Notes</th>
      </tr>
    </thead>

    <tbody>
      <% @venues.each do |venue| %>
        <tr class="bg-white border-b hover:bg-gray-100">
          <td class="px-4 py-2 align-top">
          <%= venue.facility_type %></td>

       <td class="px-4 py-2 align-top text-base min-w-[16rem] overflow-hidden">
          <%= link_to venue.venue_name, edit_venue_path(venue),
                class: "#{link_class} whitespace-normal break-words overflow-hidden",
                style: "display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical;" %>
        </td>


          <td class="px-4 py-2 align-top min-w-[10rem]  whitespace-normal">
            <%= venue.street %><br>
            <%= venue.city %><br>
            <%= venue.state %> <%= venue.zip %>
          </td>

        <td class="px-4 py-2 align-top overflow-hidden whitespace-nowrap truncate max-w-[12rem]">
  <%= link_to venue.website, venue.website, target: "_blank", class: link_class if venue.website.present? %>
</td>


          <!-- contact: prevent wrapping, truncate with ellipsis -->
          <td class="px-4 py-2 align-top max-w-xs overflow-hidden truncate whitespace-nowrap">
            <%= venue.contact_name %><br>
            <span class="text-sm text-gray-600"><%= venue.phone %></span>
          </td>

          <td class="px-4 py-2 align-top"><%= venue.role %></td>
          <td class="px-4 py-2 align-top"><%= venue.number_of_courts %></td>
          <td class="px-4 py-2 align-top whitespace-nowrap">
            <%= venue.created_at.to_formatted_s(:usa) if venue.created_at.present? %>
          </td>

          <!-- notes: allow wrapping and larger width -->
          <td class="px-4 py-2 align-top whitespace-normal break-words min-w-[28rem]">
            <%= venue.notes %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</div>

    <% else %>
    <p class="px-4 py-4">
    No records to view</p>
    <% end %>
<br>





