<div class="p-4">
<%= form_for [@sponsor, contact], html: { class: "form contact" } do |form| %>

  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 border rounded-lg border-blue-900 p-4">

  <div class="justify-self-end">
    <%= form.label :prefix, class: label_class%>
    <div class="mt-1 max-w-20">
      <%= form.text_field :prefix, class: form_input_class  %>
    </div> 
  </div>

  <div class="">
  <%= form.label :first_name, "First Name*",class: label_class%>
    <div class="mt-1">
      <%= form.text_field :first_name, class: form_input_class  %>
    </div> 
  </div>

  <div class="">
    <%= form.label :last_name, "Last Name*",class: label_class%>
    <div class="mt-1">
      <%= form.text_field :last_name, class: form_input_class  %>
    </div> 
  </div>

  <div class="flex justify-between">
    <div class="">
      <%= form.label :suffix, class: label_class%>
      <div class="mt-1  max-w-20 ">
        <%= form.text_field :suffix, class: form_input_class  %>
      </div> 
    </div>
  
    <div class="">
      <%= form.label :nickname, class: label_class%>
      <div class="mt-1 max-w-25">
        <%= form.text_field :nickname, class: form_input_class  %>
      </div> 
    </div>
  </div>

  <div class="">
    <%= form.label :email, class: label_class%>
    <div class="mt-1">
      <%= form.text_field :email, class: form_input_class  %>
    </div> 
  </div>

  <div class="">
    <%= form.label :mobile, "Cell Phone", class: label_class%>
    <div class="mt-1">
      <%= form.text_field :mobile, class: form_input_class  %>
    </div> 
  </div>

  <div class="">
    <%= form.label :phone, "Other phone", class: label_class%>
    <div class="mt-1">
      <%= form.text_field :phone, class: form_input_class  %>
    </div> 
  </div>
  
<div class="">
  <%= form.label :linked_in, class: label_class%>
  <div class="mt-1">
    <%= form.text_field :linked_in, class: form_input_class  %>
  </div> 
</div>

<div class="">
  <%= form.label :job_title, class: label_class%>
  <div class="mt-1">
    <%= form.text_area :job_title, class: form_input_class, size: "20x2"  %>
  </div> 
</div>
  
<div class="">
  <%= form.label :department, class: label_class%>
  <div class="mt-1">
    <%= form.text_area :department, class: form_input_class, size: "20x2"  %>
  </div> 
</div>

<div class="">
  <%= form.label :organisation, class: label_class%>
  <div class="mt-1">
    <%= form.text_area :organisation, class: form_input_class, size: "20x2"  %>
  </div> 
</div>
  
<div class="">
  <%= form.label :location, class: label_class%>
  <div class="mt-1">
    <%= form.text_area :location, class: form_input_class, size: "20x2"  %>
  </div> 
</div>

<div class="col-span-2 md:col-span-4">
    <%= form.label :notes, class: label_class%>
    <div class="mt-1">
    <%= form.text_area :notes, class: form_input_class,  size: "20x3"  %>
    </div> 
  </div>
  
  <div>
    <%= form.submit class: form_button_class %>
  </div>
<% end %>

</div></div>
