<p>Hi <%= @new_user&.first_name || "there" %>,</p>
<p><%= @old_user&.first_name || "Someone" %> has allocated a <%= @object_type %> record to you for action.</p>
<p>Click this link to view the record:</p>

<p>
  <%= link_to "View Partner Record", @link %>
</p>


<p>
 regards, 
 </p>
 <p>
  <%= image_tag asset_url("Netball_America_Logo.png"), alt: "Netball America", style: "max-width: 200px;" %>
</p>
