<div id="<%= dom_id vendor %>" class="w-1/3 my-6 p-6 text-left">

  <div class="grid grid-cols-2 gap-x-4 gap-y-2">

    <div class="font-semibold text-gray-700">Company name:</div>
    <div class="text-gray-900"><%= vendor.company_name %></div>

    <div class="font-semibold text-gray-700">Contact name:</div>
    <div class="text-gray-900"><%= vendor.contact_name %></div>

    <div class="font-semibold text-gray-700">Email:</div>
    <div class="text-gray-900"><%= vendor.email %></div>

    <div class="font-semibold text-gray-700">Phone:</div>
    <div class="text-gray-900"><%= vendor.phone %></div>

    <div class="font-semibold text-gray-700">Website:</div>
    <div class="text-gray-900"><%= vendor.website %></div>

    <div class="font-semibold text-gray-700">Categories:</div>
    <div class="text-gray-900"> <%= vendor.references.where(group: "vendor_category").pluck(:value).join(", ") %></div>

    <div class="font-semibold text-gray-700">Notes:</div>
    <div class="text-gray-900"><%= vendor.notes %></div>
  </div>
</div>

