<div id="<%= dom_id payment %>">
  <p>
    <strong>Payment type:</strong>
    <%= payment.payment_type %>
  </p>

  <p>
    <strong>Na team:</strong>
    <%= payment.na_team_id %>
  </p>

  <p>
    <strong>Individual member:</strong>
    <%= payment.individual_member_id %>
  </p>

  <p>
    <strong>Payment recorded by:</strong>
    <%= payment.payment_recorded_by_id %>
  </p>

  <p>
    <strong>Payment received date:</strong>
    <%= payment.payment_received_date %>
  </p>

  <p>
    <strong>Payment transaction reference:</strong>
    <%= payment.payment_transaction_reference %>
  </p>

  <p>
    <strong>Payment year:</strong>
    <%= payment.payment_year %>
  </p>

  <p>
    <strong>Payment notes:</strong>
    <%= payment.payment_notes %>
  </p>

</div>
