<% content_for(:page_title, "Payment Details")%>
  <div class="m-4>
  <%= render @payment %>

  <div class="ml-5">
    <%= link_to "Edit this payment", edit_payment_path(@payment) %> <br>
    <%= link_to "Add new payment", new_payment_path %> <br>
  </div>
    <%= link_to "<< Back to all payments", payments_path %>
  <div class="ml-5">
    <% if is_admin? %>
        <%= button_to "Destroy this payment", @payment, method: :delete %>
    <% end %>
  </div>
</div>
