<%= form_with(model: medium) do |form| %>

  <%= form_errors_for(medium) %>

  <div class="grid grid-cols-3 gap-4 mt-4 mx-4">
  
    <div>
      <%= form.label :media_type, class: label_class %>
      <%= form.select :media_type, options_for_select(media_type, :selected => medium.media_type),{:prompt=>true}, class: tight_form_input_class %>
      <%= field_error_for(medium, :media_type) %>
    </div>

    <div>
      <%= form.label :company_name, class: label_class %>
      <%= form.text_field :company_name, class: tight_form_input_class %>
      <%= field_error_for(medium, :company_name) %>
    </div>

    <div>
      <%= form.label :company_website, class: label_class %>
      <%= form.text_field :company_website, class: tight_form_input_class %>
    </div>

    <div>
      <%= form.label :contact_name,  class: label_class %>
      <%= form.text_area :contact_name, rows: 2, class: tight_form_input_class  %>
    </div>

    <div>
      <%= form.label :contact_position,  class: label_class %>
      <%= form.text_area :contact_position, rows: 2, class: tight_form_input_class  %>
    </div>

    <div>
      <%= form.label :contact_email,  class: label_class %>
      <%= form.text_area :contact_email, rows: 2, class: tight_form_input_class  %>
    </div>

    <div>
      <%= form.label :email, "General Email", class: label_class %>
      <%= form.text_area :email, rows: 2, class: tight_form_input_class  %>
    </div>

    <div>
      <%= form.label :phone,  class: label_class %>
      <%= form.text_area :phone, rows: 2, class: tight_form_input_class  %>
    </div>

    <div>
      <%= form.label :socials,  "Other Socials", class: label_class %>
      <%= form.text_area :socials, rows: 2, class: tight_form_input_class  %>
    </div> 

    <div>
      <%= form.label :facebook,  class: label_class %>
      <%= form.text_field :facebook, class: tight_form_input_class  %>
    </div>

    <div>
      <%= form.label :twitter, "X", class: label_class %>
      <%= form.text_field :twitter, class: tight_form_input_class  %>
    </div>

    <div>
      <%= form.label :instagram,  class: label_class %>
      <%= form.text_field :instagram, class: tight_form_input_class  %>
    </div>

    <div class="col-span-2">
      <%= form.label :event_calender_link, "Event Calendar Link", class: label_class %>
      <%= form.text_field :event_calender_link, class: tight_form_input_class %>
    </div>

    <div>
      <%= form.label :calendar_login_details,  class: label_class %>
      <%= form.text_field :calendar_login_details, class: tight_form_input_class %>
    </div>

    <div>
      <%= form.label :city,  class: label_class %>
      <%= form.text_field :city, class: tight_form_input_class %>
    </div>

    <div>
      <%= form.label :state,  class: label_class %>
      <%= form.select :state, options_for_select(us_states, medium.state), { prompt: "Select a state" }, class: tight_form_input_class %>
    </div>

    <div>
      <%= form.label :country,  class: label_class %>
      <%= form.text_field :country, class: tight_form_input_class  %>
    </div>

    <div class="col-span-2">
      <%= form.label :notes,  class: label_class %>
      <%= form.text_area :notes, rows: 5, class: tight_form_input_class  %>
    </div>

    <div>
      <%= form.label :region_other,  "Region if NOT USA State", class: label_class %>
     <%= form.text_field :region_other, class: "#{tight_form_input_class} mb-4" %>
   
      <%= form.label :allocated_to, class: label_class%>
      <div class="mt-1">
      <%= form.collection_select(:user_id, @users, :id, :full_name,{:prompt=>true}, {:class=>"bg-gray-100 block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 hover:border-blue-900 shadow-sm focus:border-blue-900 focus:outline-none focus:ring-blue-900 sm:text-sm"}) %>
      </div> 
    </div>

    <div class="col-span-3">
      <%= form.label :pitch,  class: label_class %>
      <%= form.text_area :pitch, rows: 3, class: tight_form_input_class  %>
    </div>

    <div class="col-span-3">
      <%= form.label :action_taken,  class: label_class %>
      <%= form.text_area :action_taken, rows: 3, class: tight_form_input_class  %>
    </div>

    <div class="col-span-2">
      <%= form.label :media_announcement_link,  class: label_class %>
      <%= form.text_field :media_announcement_link, class: tight_form_input_class  %>
    </div>

     <%= form.hidden_field :old_user_id, value: medium.user_id%>
      
    <div class=mt-3>
      <%= form.submit "Save Media", class: form_button_class %>
    </div>
<% end %>

</div>
