<div id="<%= dom_id medium %>">
  <p class="mt-2">
    <strong>Media Type:</strong>
    <%= medium.media_type %>
  </p>  

  <p class="mt-2">
    <strong>Company name:</strong>
    <%= medium.company_name %>
  </p>

  <p class="mt-2">
    <strong>Contact name:</strong>
    <%= medium.contact_name %>
  </p>

  <p class="mt-2">
    <strong>Contact position:</strong>
    <%= medium.contact_position %>
  </p>

  <p class="mt-2">
    <strong>Email:</strong>
    <%= medium.email %>
  </p>

  <p class="mt-2">
    <strong>Phone:</strong>
    <%= medium.phone %>
  </p>

  <p class="mt-2">
    <strong>City:</strong>
    <%= medium.city %>
  </p>

  <p class="mt-2">
    <strong>State/Region:</strong>
    <% if medium.state.present? %><%= medium.state %><% end %>
    <% if medium.region_other.present? %><%= medium.region_other %><% end %>
  </p>

  <p class="mt-2">
    <strong>Country:</strong>
    <%= medium.country %>
  </p>

  <p class="mt-2">
    <strong>Pitch:</strong>
    <%= medium.pitch %>
  </p>

  <p class="mt-2">
    <strong>Media announcement link:</strong>
    <%= medium.media_announcement_link %>
  </p>

  <p class="mt-2">
  <strong>Action Taken:</strong>
  <%= medium.action_taken %>
</p>

</div>
