<div id="<%= dom_id medium %>">

<div class="flex flex-wrap w-2/3">
<%# Loop through the key-value pairs for consistency %>
<%[
  ["Media Type", medium.media_type],
  ["Company Name", medium.company_name],
  ["Company Website", medium.company_website],
  ["Contact Name", medium.contact_name],
  ["Contact Position", medium.contact_position],
  ["Contact Email", medium.contact_email],
  ["General Email", medium.email],
  ["Phone", medium.phone],
  ["Other Socials", medium.socials],
  ["Facebook", medium.facebook],
  ["X", medium.twitter],
  ["Instagram", medium.instagram],
  ["Event Calendar Link", medium.event_calender_link],
  ["Calendar login details", medium.calendar_login_details],
  ["City", medium.city],
  ["State/Region", [medium.state, medium.region_other].compact.join(' ')],
  ["Country", medium.country],
  ["Region", medium.region_other],
  ["Allocated To", medium.user_id? ? medium.user.full_name : nil],
  ["Notes", medium.notes],
  ["Pitch", medium.pitch],
  ["Action Taken", medium.action_taken],
  ["Media Announcement Link", medium.media_announcement_link]
].each do |label, value| %>
 
    <div class="w-1/3 p-2">
      <strong><%= label %>:</strong>
    </div>
    <div class="w-2/3 p-2">
      <%= value %>
    </div>
  <% end %>


<%# Special case for company website (if present) %>
<% if medium.company_website? %>
  <div class="w-1/3 p-2">
    <strong>QUICK LINK: Company Website:</strong>
  </div>
  <div class="w-2/3 p-2">
    <span class="<%= link_class %>">
      <%= link_to medium.company_website, medium.company_website, target: "_blank", rel: "noopener noreferrer" %>
    </span>
  </div>
<% end %>
</div>


</div>
