<div class="grid grid-cols-3 gap-4 border m-4 p-4 rounded-md bg-white shadow-sm mb-2">

  <div class='col-span-2'>
    <%= f.label :media_announcement_link, class: label_class %>
    <%= f.text_field :media_announcement_link, class: tight_form_input_class %>
  </div>

  <div class="flex items-center gap-6">
  <div>
    <%= f.label :release_date, class: label_class %>
    <%= f.date_field :release_date, class: small_input_class %>
  </div>

  <div class="flex items-center pt-6">
    <%= f.check_box :_destroy, class: "mr-2" %>
    <%= f.label :_destroy, "Remove", class: "text-sm" %>
  </div>
</div>

</div>

