<div id="<%= dom_id reference %>">
  <p>
    <strong>Group:</strong>
    <%= reference.group %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= reference.value %>
  </p>

  <p>
    <strong>Key:</strong>
    <%= reference.key %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= reference.desc %>
  </p>

</div>
