<% content_for(:page_title, "References")%>

<div class="bg-white py-4 px-2 shadow sm:rounded-lg sm:px-10 text-sm">

  <% @references_by_group.each do |group, references| %>
  <div class="text-xl pt-10 pb-4">
      <%= group %>
  </div>

  <div id="references">
  <div class="relative">
      <table class="table-auto place-content-center text-left rtl:text-right pl-20">
          <thead class="bg-white border-b-3 text-gray-300 font-light text-xs ">
               <tr>
                  <th scope="col" class="px-6 py-3 w-52">
                      Value
                  </th>
                  <th scope="col" class="px-6 py-3 w-52">
                      Key (if required)
                  </th>
                  <th scope="col" class="px-6 py-3 w-52">
                      Description
                  </th>
                  <th scope="col" class="px-6 py-3 w-52">
                      Active?
                  </th>
                </tr>
          </thead>
          <tbody>
        
          <% references.each do |reference| %>
              <tr class="bg-white border-b hover:bg-gray-100">
               
                  <td class="px-6 py-4">
                     <%= link_to reference.value, edit_reference_path(reference), class: link_class %>
                  </td>
              
                  <td class="px-6 py-4">
                    <%= reference.key%>
                  </td>
                
                  <td class="px-6 py-4">
                    <%= reference.desc %>
                  </td>
              
                  <td class="px-6 py-4">
                     <%= reference.active? ? 'Yes' : 'No'  %>
                  </td>
                
              </tr>
              <% end %>
            
          </tbody>
      
      </table>
       <br>  <br>
    <% end %>
 
   </div>
  </div>
  </div>
  <br>

  <div class="mt-1">
  <%= link_to "Add New Reference", new_reference_path, class: small_button_class %>
  <br>
  </div>



