
<% if @opportunities.any? %>
<table class="table-auto w-full text-left rtl:text-right ">
<thead class="bg-gray-200 text-gray-600 font-light text-xs mb-2">
<tr class="border-b border-gray-200 rounded-md">
    <th class="border-l border-white px-4">Sponsor</th>    
    <th class="border-l border-white px-4">Type</th>
    <th class="border-l border-white px-4">Area</th>
    <th class="border-l border-white px-4">Status</th>
    <th class="border-l border-white px-4">Allocated To</th>
    <th class="border-l border-white px-4">In Progress Status</th>
    <th class="border-l border-white px-4">Website</th>
    <th class="border-l border-white px-4">Primary Contact</th>
    <th class="border-l border-white px-4">Pitch</th>
    <th class="border-l border-white px-4">Follow Up Actions</th>
    <th class="border-l border-white px-4">Outcome</th>
    <th class="border-l border-white px-4">Submitted Date</th>
    <th class="border-l border-white px-4">Notes</th>
   
  </tr>
</thead>
<tbody>
 <% @opportunities.each do |opportunity| %>
<tr class="align-top border-b <%= 'bg-gray-100' if opportunity.status == 'Completed' %>">
    <td class="align-top border-l border-gray-200 px-4 py-2 whitespace-nowrap"> <% if opportunity.sponsor_id? %><%= link_to Sponsor.find(opportunity.sponsor_id).company_name, sponsor_path(opportunity.sponsor_id), class:link_class %><% end %></td>
    <td class="align-top border-l border-gray-200 px-4 py-2"> <%=  opportunity.opportunity_type %></td>
    <td class="align-top border-l border-gray-200 px-4 py-2 whitespace-nowrap"> <%= opportunity.area %></td>
    <td class="align-top border-l border-gray-200 px-4 py-2 whitespace-nowrap"> <%= link_to opportunity.status, [:edit, opportunity.sponsor, opportunity], class:link_class %></td>
    <td class="align-top border-l border-gray-200 px-4 py-2 whitespace-nowrap"> <% if opportunity.user_id? %><%= User.find(opportunity.user_id).full_name %><% end %></td>
    <td class="align-top border-l border-gray-200 px-4 py-2 whitespace-nowrap"> <%= opportunity.in_progress_status %></td>
    <td class="align-top border-l border-gray-200 px-4 py-2 w-64"> <%= opportunity.website %></td>
    <td class="align-top border-l border-gray-200 px-4 py-2 w-40"> <% if opportunity.contact_id? %><%= Contact.find(opportunity.contact_id).full_name %><% end %></td>
    <td class="align-top border-l border-gray-200 px-4 py-2 w-64"> <%= opportunity.pitch %></td>
    <td class="align-top border-l border-gray-200 px-4 py-2 w-64"> <%= opportunity.follow_up_actions %></td>
    <td class="align-top border-l border-gray-200 px-4 py-2 w-40"> <%= opportunity.outcome %></td>
    <td class="align-top border-l border-gray-200 px-4 py-2 w-32"><%= opportunity.date_submitted.to_formatted_s(:usa) unless (opportunity.date_submitted.to_s.empty?) %> 
    <td class="align-top border-l border-gray-200 px-4 py-2 w-64"> <%= opportunity.notes %></td>
   <td></td>
  </tr>
  <% end %>
</tbody>
</table>
<% else %>
  <div class="text-center py-6">
    <p class="text-gray-500 text-lg">No opportunities currently assigned.</p>
  </div>
<% end %>
<br>