<div id="<%= dom_id opportunity %>">

  <div class="relative overflow-x-auto">
    <table class="table-fixed w-full text-left rtl:text-right ">
      <thead class="bg-white border-blue-900 text-gray-300 font-light text-xs mb-2">
      <tr class="border-b border-gray-400">
          <th class=" pl-1">Type</th>
          <th class="border-l border-gray-400 pl-1">Area</th>
          <th class="border-l border-gray-400 pl-1">Status</th>
          <th class="border-l border-gray-400 pl-1">Allocated To</th>
          <th class="border-l border-gray-400 pl-1">Submission Details</th>
          <th class="border-l border-gray-400 pl-1">Primary Contact</th>
          <th class="border-l border-gray-400 pl-1">Pitch</th>
          <th class="border-l border-gray-400 pl-1">Follow Up Actions</th>
          <th class="border-l border-gray-400 pl-1">Outcome</th>
          <th class="border-l border-gray-400 pl-1">Submitted Date</th>
          <th class="border-l border-gray-400 pl-1">Notes</th>
          <th class="border-l border-gray-400 pr-1 text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
      <tr class="border border-gray-400">
          <td class="align-top  pl-1"> <%= link_to opportunity.opportunity_type,[:edit, @sponsor, opportunity], class: link_class %></td>
          <td class="align-top border-l border-gray-400 pl-1"> <%= opportunity.area %></td>
          <td class="align-top border-l border-gray-400 pl-1"> <%= opportunity.status %></td>
          <td class="align-top border-l border-gray-400 pl-1"> <% if opportunity.user_id? %><%= opportunity.user.full_name %><% end %></td>
        
          <td class="align-top border-l border-gray-400 pl-1 truncate"> <%= opportunity.website %></td>
          <td class="align-top border-l border-gray-400 pl-1 truncate"> <% if opportunity.contact_id? %><%= Contact.find(opportunity.contact_id).full_name %><% end %></td>
          <td class="align-top border-l border-gray-400 pl-1 truncate"> <%= opportunity.pitch %></td>
          <td class="align-top border-l border-gray-400 pl-1 truncate"> <%= opportunity.follow_up_actions %></td>
          <td class="align-top border-l border-gray-400 pl-1 truncate"> <%= opportunity.outcome %></td>
          <td class="align-top border-l border-gray-400 pl-1 truncate"><%= opportunity.date_submitted.to_formatted_s(:usa) unless (opportunity.date_submitted.to_s.empty?) %> 
          <td class="align-top border-l border-gray-400 pl-1 truncate"> <%= opportunity.notes %></td>
          <td class="align-top border-l border-gray-400 pr-1 text-right"> <%= button_to "Delete",
          [@sponsor, opportunity],
          method: :delete,
          class: red_link_class %>
          <%= link_to "Edit",
            [:edit, @sponsor, opportunity],
            class: green_link_class %></td>
        </tr>
      </tbody>
    </table>
  <br>
  </div>
</div>
