<div class="w-full">
  <!-- ===============================
       ðŸ”— Event & Person Details
       =============================== -->
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="mb-6">
      <p class="text-sm text-gray-500 ml-4">Event</p>
      <p class="text-base font-medium text-gray-900 ml-4"><%= @transfer.event&.name %></p>
    </div>
    <div class="mb-6">
      <p class="text-sm text-gray-500 ml-4">Person</p>
      <p class="text-base font-medium text-gray-900 ml-4"><%= @transfer.person&.full_name %></p>
    </div>
    <div class="mb-6">
      <p class="text-sm text-gray-500 ml-4">Role</p>
      <p class="text-base font-medium text-gray-900 ml-4"><%= @transfer.role %></p>
    </div>
    <div class="mb-6">
      <p class="text-sm text-gray-500 ml-4">Event Title</p>
      <p class="text-base font-medium text-gray-900 ml-4"><%= @transfer.event_title %></p>
    </div>
  </div>

  <!-- ===============================
       âœ… Form Completion Checkboxes
       =============================== -->
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="mb-2">
      <p class="text-sm text-gray-500 ml-4">Registration Form Completed</p>
      <p class="text-base font-medium text-gray-900 ml-4"><%= @transfer.registration_form_completed ? "Yes" : "No" %></p>
    </div>
    <div class="mb-2">
      <p class="text-sm text-gray-500 ml-4">Waiver Form Completed</p>
      <p class="text-base font-medium text-gray-900 ml-4"><%= @transfer.waiver_form_completed ? "Yes" : "No" %></p>
    </div>
    <div class="mb-2">
      <p class="text-sm text-gray-500 ml-4">Headshot Obtained</p>
      <p class="text-base font-medium text-gray-900 ml-4"><%= @transfer.obtain_headshot ? "Yes" : "No" %></p>
    </div>
    <div class="mb-2">
      <p class="text-sm text-gray-500 ml-4">Data Consent</p>
      <p class="text-base font-medium text-gray-900 ml-4"><%= @transfer.consent ? "Yes" : "No" %></p>
    </div>
  </div>
  <hr>
  <br>

  <!-- ===============================
       ðŸš Pickup Section
       =============================== -->
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 ">

    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow">
      <div class="text-lg font-semibold text-blue-900 mb-4">ARRIVALS Pickup Details</div>

      <p class="text-sm text-gray-500">Arrivals Airport Transport Request</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.arrival_airport_transport_request %></p>

      <p class="text-sm text-gray-500">Phone</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.arrival_phone %></p>

      <p class="text-sm text-gray-500">Pickup Grouping</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.pick_up_grouping %></p>

      <p class="text-sm text-gray-500">Pickup Grouping Time</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.grouping_pickup_time&.strftime("%-l:%M %p") %></p>

      <p class="text-sm text-gray-500">Pickup Type</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.pickup_type %></p>

      <p class="text-sm text-gray-500">Pickup Location</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.pickup_location %></p>

      <p class="text-sm text-gray-500">Pickup Notes</p>
      <p class="text-base font-medium text-gray-900"><%= simple_format(@transfer.pickup_note) %></p>
    </div>
  

    <!-- ===============================
         ðŸ›« Departure Section
         =============================== -->
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow">
      <div class="text-lg font-semibold text-blue-900 mb-4">DEPARTURES Pickup Details</div>
    
      <p class="text-sm text-gray-500">Departure Airport Transport Request</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.departure_airport_transport_request %></p>

      <p class="text-sm text-gray-500">Departure Phone</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.departure_phone %></p>

      <p class="text-sm text-gray-500">Departure Grouping</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.departure_grouping %></p>

      <p class="text-sm text-gray-500">Departure Grouping Time</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.grouping_departure_time&.strftime("%-l:%M %p") %></p>

      <p class="text-sm text-gray-500">Departure Type</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.departure_type %></p>

       <p class="text-sm text-gray-500">Departure Meetup  Location</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.departure_meetup_location %></p>

     
      <p class="text-sm text-gray-500">Departure Notes</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.departure_note %></p>
    </div>
  

  <!-- ===============================
       ðŸ¨ Hotel Request 
       =============================== -->

    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow">
      <div class="text-lg font-semibold text-blue-900 mb-4">Hotel Request</div>
      
      <p class="text-sm text-gray-500">Hotel Arrival</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.hotel_arrival %></p>

      <p class="text-sm text-gray-500">Hotel Departure</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.hotel_departure %></p>

      <p class="text-sm text-gray-500">Room Type</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.room_type %></p>

      <p class="text-sm text-gray-500">Room Share</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.share_volunteer %></p>

      <p class="text-sm text-gray-500">Personal Hotel Confirmation #</p>
      <p class="text-base font-medium text-gray-900 m-4"><%= @transfer.hotel_confirmation_personal %></p>

      <div class="mb-4">
        <%= link_to "Â» Click HERE to book your event hotel (personal stay, not covered by NA)",
                  "https://www.marriott.com/event-reservations/reservation-link.mi?id=1732664035228&key=GRP&guestreslink2=true&app=resvlink",
                  target: "_blank",
                  rel: "noopener",
                  class: "inline-block px-4 py-2 bg-gray-200 hover:bg-gray-400 text-black font-semibold rounded shadow-lg transition duration-200" %>
      </div>
    </div>

     
      <div class="p-4 bg-white border border-gray-200 rounded-lg shadow">
      <div class="text-lg font-semibold text-blue-900 mb-4">Hotel Booking Confirmation</div>

      <p class="text-sm text-gray-500">Reservation #</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.hotel_reservation %></p>

      <p class="text-sm text-gray-500">Hotel Name</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.hotel_name %></p>

      <p class="text-sm text-gray-500">Check-In</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.check_in %></p>

      <p class="text-sm text-gray-500">Check-Out</p>
      <p class="text-base font-medium text-gray-900"><%= @transfer.check_out %></p>
    </div>
  </div>

  <!-- ===============================
       âœˆï¸ Flight Info & Misc
       =============================== -->
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-6">

      <div class="p-4 bg-white border border-gray-200 rounded-lg shadow">
        <div class= "font-xl font-bold text-blue-600 mb-2">
          Only provide if requesting NA pickup: 
        </div>
      <div class="text-lg font-semibold text-blue-900 mb-4">Arrival Details</div>

      <p class="text-sm text-gray-500">Arrival Airline</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.arrival_airline %></p>

      <p class="text-sm text-gray-500">Arrival Flight</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.arrival_flight %></p>

      <p class="text-sm text-gray-500">U.S. Open City Arrival Terminal</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.arrival_terminal %></p>

      <p class="text-sm text-gray-500">U.S. Open City Arrival Date & Time</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.arrival_time&.strftime("%a, %d %y, %-I:%M %p") %></p>
    </div>

    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow">
      <div class= "font-xl font-bold text-blue-600 mb-2">
        Only provide if requesting NA pickup: 
      </div>
      <div class="text-lg font-semibold text-blue-900 mb-4">Departure Details</div>

      <p class="text-sm text-gray-500">Departure Airline</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.departure_airline %></p>

      <p class="text-sm text-gray-500">Departure Flight</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.departure_flight %></p>

      <p class="text-sm text-gray-500">U.S. Open City Departure Terminal</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.departure_terminal %></p>

      <p class="text-sm text-gray-500">U.S. Open City Departure Date & Time</p>
      <p class="text-base font-medium text-gray-900"><%= @transfer.departure_time&.strftime("%a, %d %y, %-I:%M %p") %></p>
    </div>

    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow">
      <div class="text-lg font-semibold text-blue-900 mb-4">Miscellaneous</div>

      <p class="text-sm text-gray-500">Visa Type</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.visa_type %></p>

      <p class="text-sm text-gray-500">Dietary Requirements / Allergies</p>
      <p class="text-base font-medium text-gray-900 mb-4"><%= @transfer.dietary_requirements_allergies %></p>

      <p class="text-sm text-gray-500">T-Shirt Size</p>
      <p class="text-base font-medium text-gray-900"><%= @transfer.person&.tshirt_size %></p>
    </div>


  <!-- ===============================
       ðŸ“ Notes
       =============================== -->
  <div class="p-4 bg-white border border-gray-200 rounded-lg shadow">
    <div class="text-lg font-semibold text-blue-900 mb-4">Additional Notes</div>
    <p class="text-base font-medium text-gray-900 whitespace-pre-wrap"><%= @transfer.notes %></p>
  </div>
</div>
