
<% if current_user.role == "na_people" %>

  <%= render "form_attendee", transfer: @transfer %>
  <% content_for(:page_title, "US Open - Attendee Information") %>
<% else %>
  <%= render "form", transfer: @transfer %>
  <% content_for(:page_title, "Hotel and Airport: Edit") %>

  <div class="ml-4 mb-4">
    <%= link_to "Show this record", @transfer, class: link_class %> <br>
    <%= link_to "Event Attendees", transfers_path, class: link_class %> <br>
    <%= link_to "Arrivals Transfers", inbound_pickups_transfers_path, class: link_class %> |
    <%= link_to "Departure Transfers", outbound_pickups_transfers_path, class: link_class %>
  </div>
<% end %>
