<% content_for(:page_title, "US Open")%>

  <div class="">
   <ul class="flex flex-wrap text-xs font-medium text-left text-gray-500">
      <li class="me-2">
        <a href="/transfers" class="inline-block p-4 text-gray-500 rounded-t-lg active" aria-current="page">Hotel<br>& Flight</a>
      </li>
      <li class="me-2">
        <a href="/transfers/index_inbound_pickup/" class="inline-block p-4 ttext-gray-500  rounded-t-lg active" >Arrivals<br>Transfer</a>
      </li>
      <li class="me-2">
         <a href="/transfers/index_outbound_pickup/" class="inline-block p-4 text-blue-900 bg-gray-100 rounded-t-lg active" aria-current="page">Departures<br>Transfers</a>
      </li>
      <li class="me-2">
         <div class="inline-block p-4 text-gray-500 rounded-t-lg active">
           <%= link_to "Departures Transfer Sheet PDF", download_transfers_out_sheet_pdf_path(:value => Date.today.beginning_of_year, :format => 'pdf'), :style => "color:blue" %>
        <div>
        </li>
    </ul>
</div>

 <% @transfers_by_departure_date_only.each do |departure_date_only, transfers| %>
   
   <div class="text-2xl text-center text-blue-900 mt-8 bg-gray-100">
       <%= transfers.first.departure_time.strftime("%A") unless (transfers.first.departure_time.to_s.empty?) %>  <%= departure_date_only %> 
  </div>
  
   <% transfers_by_departure_flight = transfers.group_by { |t| t.departure_flight } %>   
    
     <% transfers_by_departure_flight.each do |departure_flight, transfers| %>
      
       <div class="text-xl text-gray-500 mt-8">
        <%= departure_flight %>   <%= transfers.first.departure_time.to_formatted_s(:time_24) unless (transfers.first.departure_time.to_s.empty?)  %>
        </div>
        <div id="transfers">
        <div class="relative overflow-x-auto">
            <table class="table-auto w-full text-left rtl:text-right">
                <thead class="bg-white border-b text-gray-300 font-light text-xs ">
                     <tr>
                       <th scope="col" class="px-6 py-3 w-52">
                           Grouping 
                       </th>
                        <th scope="col" class="px-6 py-3 w-52">
                            Name 
                        </th>
                        <th scope="col" class="px-6 py-3 w-52">
                            Phone
                        </th>
                        <th scope="col" class="px-6 py-3 w-52">
                            Dep. Date
                        </th>
                        <th scope="col" class="px-6 py-3 w-52">
                            Dep. Time
                        </th>
                        <th scope="col" class="px-6 py-3 w-52">
                            Flight #
                        </th>
                        <th scope="col" class="px-6 py-3 w-52">
                            Airline
                        </th>
                        <th scope="col" class="px-6 py-3 w-52">
                            Pick Up
                        </th>
                        <th scope="col" class="px-6 py-3 w-52">
                            Hotel 
                        </th>
                        <th scope="col" colspan="10" class="px-6 py-3 w-60">
                            Notes
                        </th>
                      </tr>
                 </thead>
       
        <% transfers.each do |transfer| %>
         
          <tbody>
           <tr class="bg-white border-b hover:bg-gray-100">

               <td class="px-6 py-4">
               <% if transfer.departure_grouping? %>
                  <%= transfer.departure_grouping %>
                  <% else %>
                  <p class="text-gray-400">#</p>
                <% end %>
                </td>

               <td class="px-6 py-4">
                  <%= link_to transfer.full_name, edit_transfer_path(transfer), class: link_class %>
                  </td>

                  <td class="px-6 py-4">
                     <%= transfer.phone %>
                  </td>

                 <td class="px-6 py-4">
                    <%= transfer.departure_time.to_formatted_s(:usa) unless (transfer.departure_time.to_s.empty?)  %>
                   </td>
                 <td class="px-6 py-4">
                   <%= transfer.departure_time.to_formatted_s(:time_24) unless (transfer.departure_time.to_s.empty?)  %><br>
                   <%= transfer.departure_time_only_12_hour unless (transfer.departure_time.to_s.empty?)  %>
                 </td>

                 <td class="px-6 py-4">
                    <%= transfer.departure_flight %>
                  </td>

                 <td class="px-6 py-4">
                   <%= transfer.departure_airline %>
                 </td>

                  <td class="px-6 py-4">
                     <%= transfer.departure_type %>
                 </td>

                 <td class="px-6 py-4">
                    <%= transfer.hotel_name %>
                 </td>

                 <td colspan="10" class="px-6 py-4">
                    <%= transfer.departure_note  %>
                 </td>
               </tr>
            </tbody>
         
        <% end %>
       </table>
      <% end %>
    
  <% end %>
   
    



