<% content_for(:page_title, "US Open")%>
 
  <div class="">
   <ul class="flex flex-wrap text-xs font-medium text-left text-gray-500">
      <li class="me-2">
        <a href="/transfers" class="inline-block p-4 text-gray-500 rounded-t-lg ">Event Attendees</a>
      </li>
      <li class="me-2">
        <a href="/transfers/index_inbound_pickup/" class="inline-block p-4 text-blue-900 bg-gray-100 rounded-t-lg active" aria-current="page">Arrivals Transfer</a>
      </li>
      <li class="me-2">
         <a href="/transfers/index_outbound_pickup/" class="inline-block p-4 text-gray-500 rounded-t-lg">Departures Transfers</a>
      </li>
      <li class="me-2">
         <div class="inline-block p-4 text-gray-500 rounded-t-lg active">
           <%= link_to "Arrivals Transfer Sheet PDF", download_transfers_in_sheet_pdf_path(:value => Date.today.beginning_of_year, :format => 'pdf'), :style => "color:blue" %>
        <div>
        </li>
    </ul>
</div>

 <% @transfers_by_arrival_date_only.each do |arrival_date_only, transfers| %>
   
   <div class="text-2xl text-center text-blue-900 mt-8 bg-gray-100">
       <%= transfers.first.arrival_time.strftime("%A") if transfers.first.arrival_time.present? %>  <%= arrival_date_only %> 
  </div>
 
     
   <% transfers_by_arrival_flight = transfers.group_by { |t| t.arrival_flight } %>   
     <% transfers_by_arrival_flight.each do |arrival_flight, transfers| %>
      
       <div class="text-2xl text-gray-800 ml-6 ">
        <%= arrival_flight %>   <%= transfers.first.arrival_time.to_formatted_s(:time_24) unless (transfers.first.arrival_time.to_s.empty?)  %>
        </div>
        <div id="transfers">
        <div class="relative overflow-x-auto">
            <table class="table-fixed w-full text-left rtl:text-right">
                <thead class="bg-white border-b text-gray-300 font-light text-xs ">
                     <tr>
                       <th scope="col" class="px-6 py-3 w-10">
                           Group
                       </th>
                        <th scope="col" class="px-6 py-3 w-40">
                            Name 
                        </th>
                        <th scope="col" class="px-6 py-3 w-40">
                            Phone
                        </th>
                        <th scope="col" class="px-6 py-3 w-32">
                            Arr. Date
                        </th>
                        <th scope="col" class="px-6 py-3 w-32">
                            Arr. Time
                        </th>
                        <th scope="col" class="px-6 py-3 w-24">
                            Flight #
                        </th>
                        <th scope="col" class="px-6 py-3 w-40">
                            Airline
                        </th>
                        <th scope="col" class="px-6 py-3 w-16">
                            Terminal
                        </th>
                        <th scope="col" class="px-6 py-3 w-40">
                            Pick Up
                        </th>
                        <th scope="col" class="px-6 py-3 w-52">
                            Pick Up Location
                        </th>
                        <th scope="col" class="px-6 py-3 w-52">
                            Hotel 
                        </th>
                        <th scope="col" colspan="10" class="px-6 py-3 w-60">
                            Notes
                        </th>
                      </tr>
                 </thead>
       
        <% transfers.each do |transfer| %>
         
          <tbody>
           <tr class="bg-white border-b hover:bg-gray-100">

               <td class="px-6 py-4">
               <% if transfer.pick_up_grouping? %>
                  <%= transfer.pick_up_grouping %>
                  <% else %>
                  <p class="text-gray-400">#</p>
                <% end %>
               </td>

               <td class="px-6 py-4">
                  <%= link_to transfer.person.full_name, edit_transfer_path(transfer), class: link_class %>
                  </td>

                  <td class="px-6 py-4">
                     <%= transfer.phone %>
                  </td>

                 <td class="px-6 py-4">
                    <%= transfer.arrival_time.to_formatted_s(:usa) unless (transfer.arrival_time.to_s.empty?)  %>
                   </td>
                 <td class="px-6 py-4">
                   <%= transfer.arrival_time.to_formatted_s(:time_24) unless (transfer.arrival_time.to_s.empty?)  %><br>
                   <%= transfer.arrival_time_only_12_hour unless (transfer.arrival_time.to_s.empty?)  %>
                 </td>

                 <td class="px-6 py-4">
                    <%= transfer.arrival_flight %>
                  </td>

                 <td class="px-6 py-4">
                   <%= transfer.arrival_airline %>
                 </td>

                 <td class="px-6 py-4">
                  <%= transfer.arrival_terminal %>
                  </td>

                  <td class="px-6 py-4 whitespace-nowrap">
                     <%= transfer.pickup_type %>
                 </td>

                 <td class="px-6 py-4">
                 <%= transfer.pickup_location %>
             </td>

                 <td class="px-6 py-4">
                    <%= transfer.hotel_name %>
                 </td>

                 <td colspan="10" class="px-6 py-4 whitespace-nowrap">
                    <%= transfer.pickup_note  %>
                 </td>

               </tr>
                    
            </tbody>
         
        <% end %>
        <br>
       </table>
      <% end %>
    
  <% end %>
   
    



