<% content_for(:page_title, "US Open")%>

 <% if user_signed_in? %> 
   <div class="bg-white py-4 px-2 shadow sm:rounded-lg sm:px-4 text-sm">
<div class="">
   <ul class="flex flex-wrap text-xs font-medium text-left text-gray-500">
      <li class="me-2">
        <a href="/transfers" class="inline-block p-4 text-blue-900 bg-gray-100 rounded-t-lg active" aria-current="page">Hotel<br>& Flight</a>
      </li>
        <li class="me-2">
           <a href="/transfers/index_inbound_pickup/" class="inline-block p-4 text-gray-600 rounded-t-lg active" aria-current="page">Arrivals<br>Transfers</a>
        </li>
        <li class="me-2">
           <a href="/transfers/index_outbound_pickup/" class="inline-block p-4 text-gray-600 rounded-t-lg active" aria-current="page">Departures<br>Transfers</a>
        </li>
      </ul>
</div>

<br>

<div id="transfers">
<div class="relative overflow-x-auto">
    <table class="table-auto w-full text-left rtl:text-right">
        <thead class="bg-white border-b text-gray-300 font-light text-xs ">
             <tr>
                <th scope="col" class="px-6 py-3 w-52">
                    Name 
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Role
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Check In
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Check Out
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Room Type
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Room Share
                </th>
                <th scope="col" class="px-6 py-3 w-60">
                    Pick Up Required
                </th>
                <th scope="col" colspan="2" class="px-6 py-3 w-40">
                    Arrival  Details
                </th>
                <th scope="col" colspan="2" class="px-6 py-3 w-52">
                   Departure
                </th>
                <th scope="col" class="px-6 py-3 w-60 truncate text-left">
                    Notes
                </th>
            </tr>
        </thead>
        <tbody>
         <% if @transfers.count >0 %>
         <% @transfers.each do |transfer| %>
            <tr class="bg-white border-b hover:bg-gray-100">
               
                <td class="px-6 py-4">
                   <%= link_to transfer.full_name, edit_transfer_path(transfer), class: link_class %>
                   </td>
               
                <td class="px-6 py-4">
                   <%= transfer.role %>
                </td>
                
                <td class="px-6 py-4">
                   <%= transfer.check_in.to_formatted_s(:usa) unless (transfer.check_in.to_s.empty?) %>
                 </td>
                
                <td class="px-6 py-4">
                  <%= transfer.check_out.to_formatted_s(:usa) unless (transfer.check_out.to_s.empty?) %>
                </td>
                
                 <td class="px-6 py-4">
                    <%= transfer.room_type %>
                </td>
                
                <td class="px-6 py-4">
                   <%= transfer.share_volunteer %>
                </td>
                
                <td class="px-6 py-4">
                   <%= transfer.no_pick_up? ? 'Yes' : 'No'  %>
                </td>
                
                <td class="px-6 py-4">
                   <%= transfer.arrival_airline  %> <br> <%= transfer.arrival_flight %>
                  </td>
                <td class="px-6 py-4">
                   <%= transfer.arrival_time.to_formatted_s(:usa_dt) unless (transfer.arrival_time.to_s.empty?)  %>
                </td>
                
                <td class="px-6 py-4">
                   <%= transfer.departure_airline  %><br> <%= transfer.departure_flight  %>
                </td>
                
                <td class="px-6 py-4">
                 <%= transfer.departure_time.to_formatted_s(:usa_dt) unless (transfer.departure_time.to_s.empty?)  %>
                </td>

                 <td class="px-6 py-4">
                  <p class="text-wrap truncate"> <%= transfer.notes %></p>
                </td>
             </tr>
            <% end %>
              <% else %>
              No Records
              <% end %>
        </tbody>
    </table>
  </div>
 </div>
</div>

<br>
<div class="mt-1">
  <%= link_to "Add New Record", new_transfer_path, class: small_button_class %>
  <br>
</div>

<% else %>

<div class="text-sm text-blue-900">
Please click on your name and enter details in the form provided.<br><br> Please remember to click SAVE RECORD when finished.<br><br>
</div>

<div class="bg-white py-4 px-2 shadow sm:rounded-lg sm:px-4 text-sm">
<div class="relative overflow-x-auto">
    <table class="table-auto w-full text-left rtl:text-right">
        <thead class="bg-white border-b text-gray-300 font-light text-xs ">
             <tr>
                <th scope="col" class="px-6 py-3 w-52">
                    Name 
                </th>
              </tr>
              <tbody>
              <% if @transfers.count >0 %>
              <% @transfers.each do |transfer| %>
                 <tr class="bg-white border-b hover:bg-gray-100">
               
                     <td class="px-6 py-4">
                        <%= link_to transfer.full_name, edit_transfer_path(transfer), class: link_class %>
                        </td>
                        <% end %>
                          <% else %>
                          No Records
                          <% end %>
                    </tbody>
                </table>
              </div>
             </div>
            
<% end %>

