<% if user_signed_in? %> 
  <div class="mt-1 mb-4">
    <%= link_to "<< Back to Event Attendees", transfers_path, class: link_class if current_user.role != "na_people" %>
  </div>

  <% if current_user.role == "na_people" %>
    <%= render "transfer_external", transfer: @transfer %>
  <% content_for(:page_title, "US Open - Attendee Information") %>
  <% else %>
    <%= render @transfer %>
    <% content_for(:page_title, "Hotel and Airport: Edit") %>
  <% end %>

<% else %>
  <%= render "transfer_external", transfer: @transfer %>
  <% content_for(:page_title, "Airport : Hotel : Qualifications : Visas") %>
<% end %>

<br>

<% if user_signed_in? && current_user.role != "na_people" %>
  <div>
    <%= link_to "Edit this record", edit_transfer_path(@transfer), class: link_class %> <br>
    <%= link_to "Event Attendees", transfers_path, class: link_class %><br>
    <a href="/transfers/index_inbound_pickup/" class="text-md font-medium text-blue-900 italic">Arrivals Transfers</a> |
    <a href="/transfers/index_outbound_pickup/" class="text-md font-medium text-blue-900 italic">Departures Transfers</a>

    <%= button_to "Destroy this transfer", @transfer, method: :delete %>
  </div>
<% end %>
