<div class="border-b border-gray-200">
  <nav class="flex space-x-2 border-b border-gray-200" aria-label="Tabs">
    <ul class="flex space-x-1 list-none">

      <li>
        <%= link_to "All Educators",
          netball_educators_path,
          class: educators_tab_class(netball_educators_path) %>
      </li>

      <li>
        <%= link_to "My Educators (Allocated)",
          my_educators_netball_educators_path,
          class: educators_tab_class(my_educators_netball_educators_path) %>
      </li>

      <li>
        <%= link_to "PE Directors",
          pe_directors_netball_educators_path,
          class: educators_tab_class(pe_directors_netball_educators_path) %>
      </li>

      <li>
        <%= link_to "Kidos",
          kidos_netball_educators_path,
          class: educators_tab_class(kidos_netball_educators_path) %>
      </li>

      <li>
        <%= link_to "Talentlockr",
          talentlockr_netball_educators_path,
          class: educators_tab_class(talentlockr_netball_educators_path) %>
      </li>

      <li>
        <%= link_to "Equipment",
          equipment_index_path,
          class: educators_tab_class(equipment_index_path) %>
      </li>

      <li>
        <%= link_to "Follow-ups",
          follow_ups_path,
          class: educators_tab_class(follow_ups_path) %>
      </li>

      <li>
        <%= link_to "Educational Events",
          educational_events_path,
          class: educators_tab_class(educational_events_path) %>
      </li>

      <li>
        <%= link_to "Trainers & Ambassadors",
          trainers_etc_netball_educators_path,
          class: educators_tab_class(trainers_etc_netball_educators_path) %>
      </li>

      <li>
        <%= link_to "Search",
          search_netball_educators_path,
          class: educators_tab_class(search_netball_educators_path) %>
      </li>

      <li>
        <%= link_to "Map",
          heat_map_netball_educators_path,
          class: educators_tab_class(heat_map_netball_educators_path) %>
      </li>

    </ul>
  </nav>
</div>
