<div class="border-b border-gray-200">
  <nav class="flex space-x-4 border-b border-gray-200" aria-label="Tabs">
    <ul class="flex space-x-4 list-none">
      <li>
        <%= link_to "All Educators", netball_educators_path, class: tab_class(current_page?(netball_educators_path)) %>
      </li>
      <li>
        <%= link_to "My Educators", my_educators_path, class: tab_class(current_page?(my_educators_path)) %>
      </li>
      <li>
        <%= link_to "PE Directors", pe_directors_netball_educators_path, class: tab_class(current_page?(pe_directors_netball_educators_path)) %>
      </li>
      <li>
        <%= link_to "Equipment", equipment_index_path, class: tab_class(current_page?(equipment_index_path)) %>
      </li>
      <li>
        <%= link_to "Follow-ups", follow_ups_path, class: tab_class(current_page?(follow_ups_path)) %>
      </li>
    </ul>
  </nav>
</div>