<div class="border-b border-gray-200">
  <nav class="flex space-x-2 border-b border-gray-200" aria-label="Tabs">
    <ul class="flex space-x-4 list-none">
      <li>
        <%= link_to "All Educators", netball_educators_path, class: tab_class(request.path == netball_educators_path) %>
      </li>
      <li>
        <%= link_to "My Educators (Allocated)", my_educators_path, class: tab_class(request.path == my_educators_path) %>
      </li>
      <li>
        <%= link_to "PE Directors", pe_directors_netball_educators_path, class: tab_class(request.path == pe_directors_netball_educators_path) %>
      </li>
      <li>
        <%= link_to "Equipment", equipment_index_path, class: tab_class(request.path == equipment_index_path) %>
      </li>
      <li>
        <%= link_to "Follow-ups", follow_ups_path, class: tab_class(request.path == follow_ups_path) %>
      </li>
      <li>
        <%= link_to "Educational Events", educational_events_path, class: tab_class(request.path == educational_events_path) %>
      </li>
      <li>
        <%= link_to "Trainers & Ambassadors", trainers_etc_path, class: tab_class(request.path == trainers_etc_path) %>
      </li>
      <li>
        <%= link_to "SEARCH", search_netball_educators_path, class: tab_class(request.path == search_netball_educators_path) %>
      </li>
    </ul>
  </nav>
</div>

