<div id="<%= dom_id netball_educator %>" class="text-center">

<% unless user_signed_in? %>
  <h2>Thank you for sharing your contact details, we will be in touch!<br><br></h2>
  <% end %>
  </div>

  <div class="block max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <% if is_admin? %>
    <div class="mt-2 mb-2">
        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
           Is P.E. Director?:
        </p>
        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
        
        <%= netball_educator.is_pe_director? ? 'Yes' : 'No' %>
        </p>
        </div>
        <% end %>


        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
            Name:
        </p>
        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
        <%= netball_educator.first_name %> <%= netball_educator.last_name %> 
        </p>
    
      
       <div class="mt-2">
         <p class="text-sm text-gray-500 truncate dark:text-gray-400">
             Email:
         </p>
         <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
         <%= netball_educator.email %> 
         </p> 
        </div>
        
      <div class="mt-2">
         <p class="text-sm text-gray-500 truncate dark:text-gray-400">
             Phone:
         </p>
         <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
         <%= netball_educator.formatted_phone %> 
         </p>
      </div>    
      
      <div class="mt-2">
      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
          Title:
      </p>
      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
      <%= netball_educator.title %> 
      </p>
       </div>
    
        <div class="mt-2">
        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
            School Name:
        </p>
        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
        <%= netball_educator.school_name %> 
        </p>
         </div>

          <div class="mt-2">
        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
            School Website:
        </p>
        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
        <%= netball_educator.website %> 
        </p>
         </div>
       
        <div class="mt-2">
          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
             Address, City, State, ZIP:
          </p>
          <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
           <%= netball_educator.address %> <%= netball_educator.city %>,   <%= netball_educator.state %>  <%= netball_educator.zip %> 
          </p>
        </div>
       
        <div class="mt-2">
          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
              Level:
          </p>
          <p class="text-sm font-medium text-gray-900 dark:text-white">
          <%= netball_educator.level %> 
          </p>
        </div>

        <div class="mt-2">
        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
            Role:
        </p>
        <p class="text-sm font-medium text-gray-900 dark:text-white">
        <%= netball_educator.role %> 
        </p>
      </div>
       

        <div class="mt-2">
          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
               More Information:
          </p>
          <p class="text-sm font-medium text-gray-900 dark:text-white">
           <%= netball_educator.educator_notes %> 
          </p>
        </div>
            
            <% unless netball_educator.level=="School/District Lead" %>
        <div class="mt-2">
          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                Feedback:
          </p>
          <p class="text-sm font-medium text-gray-900 dark:text-white">
            <%= netball_educator.feedback %> 
          </p>
        </div>
             
       
        <div class="mt-2">
          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                 Authorize use of feedback on social media?:
          </p>
          <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
             <%= netball_educator.authorize? ? 'Yes' : 'No' %>
          </p>
        </div>
              
        <% end %>
 
<% if user_signed_in? %>
  
        <div class="mt-2">
          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
              Allocated To:
          </p>
          <p class="text-sm font-medium text-gray-900 dark:text-white">
           <%= netball_educator.user.full_name unless (netball_educator.user_id.to_s.empty?) %>
          </p>
         </div>
  
         <div class="mt-2">
            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                Mgmt Notes:
            </p>
            <p class="text-sm font-medium text-gray-900 dark:text-white">
            <%= netball_educator.mgmt_notes %> 
            </p>
        </div>
           
        <div class="mt-2">
          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                  Equipment Sales:
          </p>
          <p class="text-sm font-medium text-gray-900 dark:text-white">
              <% if netball_educator.equipment.any? %>
                <% netball_educator.equipment.each do |equipment| %>
                  <ul>
                  <li><%= equipment.sale_date.to_formatted_s(:usa) unless (equipment.sale_date.to_s.empty?) %>  <%= equipment.items_purchased %>   <%= number_to_currency(equipment.purchase_amount, precision: 2) %><br>
                  </li></ul>
                 <% end %>
                <% end %>
          </p>
        </div>
        
  <% end %>  
</div>

