<% content_for(:page_title, "Educators - By User Allocation")%>

  <div class="">
     <ul class="flex flex-wrap text-xs font-medium text-left text-gray-500">
        <li class="me-2">
              <a href="/netball_educators/" class="inline-block p-2 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">By Created Date</a>
          </li>
          <li class="me-2">
              <a href="/netball_educators/index_state" class="inline-block p-2 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">By State</a>
          </li>
          <li class="me-2">
              <a href="/netball_educators/index_user" class="inline-block p-2 text-blue-900 bg-gray-100 rounded-t-lg active " aria-current="page">By Allocation</a>
          </li>
          <li class="me-2">
             <a href="/netball_educators/index_level" class="inline-block p-2 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">By Level</a>
         </li>
         <li class="me-2">
            <a href="/netball_educators/search" class="inline-block p-2 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">Search</a>
        </li>
        </ul>
  </div>

<div class="mt-4 mb-2">
<%= link_to "Add New Educator", new_netball_educator_path, class: form_button_class %>
</div>

    <% if @netball_educators.any? %>
    <br>
    <% @netball_educators_by_user.each do |user, educators| %>
    <div class="text-xl text-blue-900">
        Allocated to <%= User.find(user).first_name unless user.nil? %>  <%= User.find(user).last_name unless user.nil? %>
        <% if user.nil? %> Not Allocated <% end %>
    </div>

<div id="educators">
<div class="relative overflow-x-auto overflow-y-auto">
    <table class="table-fixed w-full text-left rtl:text-right">
        <thead class="bg-white border-b text-gray-300 font-light text-xs ">
            <tr>
                <th scope="col" class="px-6 py-3 w-52">
                    Date Created 
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Name
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Contact
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    School/District
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Level
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    City
                </th>
                <th scope="col" class="px-6 py-3 w-40">
                    State
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Allocated To
                </th>
                <th scope="col" class="px-6 py-3 w-60 truncate">
                    Notes
                </th>
            </tr>
        </thead>
        <tbody>
        <% educators.each do |educator| %>
            <tr class="bg-white border-b hover:bg-gray-100 whitespace-nowrap">
                <th scope="row" class="px-6 py-4 font-medium text-gray-800 whitespace-nowrap dark:text-white">
                    <%= educator.created_at.to_formatted_s(:usa) unless (educator.created_at.to_s.empty?) %>
                </th>
                
                <td class="px-6 py-4">
                   <%= link_to educator.full_name, edit_netball_educator_path(educator), class: link_class %>
                </td>
                
                <td class="px-6 py-4">
                   <%= educator.formatted_phone %><br><%= educator.email %>
                </td>
                
                <td class="px-6 py-4 truncate">
                  <%= educator.school_name %><br>
                  <%= (link_to educator.website, educator.website, target: '_blank', class: link_class) unless (educator.website.to_s.empty?)%>
                  
                </td>
                <td class="px-6 py-4">
                   <%= educator.level %>
                </td>
                
                 <td class="px-6 py-4">
                    <%= educator.city %>
                </td>
                
                <td class="px-6 py-4">
                   <%= educator.state %>
                </td>
                
                <td class="px-6 py-4">
                   <%= educator.user.full_name unless (educator.user_id.to_s.empty?)  %>
                </td>

                 <td class="px-6 py-4">
                  <p class="text-wrap truncate"> <%= educator.mgmt_notes %></p>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
<br>
    <% end %>
    <% else %>
    <p class="px-6 py-4">
    No records to view</p>
    <% end %>
    
</div>
 </div>

<br>

</div>


    
   
