<% content_for(:page_title, "All Educators") %>

<%= render 'nav_tabs' %>

<div class="p-4 flex justify-between items-center">
  <% if current_user.admin?  %>
    <div>
      <%= link_to "Export educators as spreadsheet", netball_educators_path(format: "xlsx"), class: clear_button_class %> 
      <%= link_to "Add New Educator", new_netball_educator_path, class: form_button_class %>
    </div> 
  <% end %>

  <div class="flex items-center gap-4" data-controller="multi-filter" data-multi-filter-url-value="<%= netball_educators_path %>">
  
  <!-- State Filter -->
  <div class="flex items-center gap-2">
    <label for="state_filter" class="text-sm font-medium text-gray-700">State:</label>
    <select id="state_filter"
            name="state"
            class="rounded-md border-gray-300 shadow-sm focus:border-blue-900 focus:ring-blue-900 sm:text-sm"
            data-multi-filter-target="field"
            data-action="change->multi-filter#filter">
      <option value="">All States</option>
      <% us_states.each do |state| %>
        <option value="<%= state[1] %>" <%= 'selected' if params[:state] == state[1] %>><%= state[0] %></option>
      <% end %>
    </select>
  </div>

  <!-- City Filter -->
  <div class="flex items-center gap-2">
    <label for="city_filter" class="text-sm font-medium text-gray-700">City:</label>
    <input id="city_filter"
          type="text"
          name="city"
          value="<%= params[:city] %>"
          placeholder="Enter city"
          class="rounded-md border-gray-300 shadow-sm focus:border-blue-900 focus:ring-blue-900 sm:text-sm"
          data-multi-filter-target="field"
          data-action="blur->multi-filter#filter keyup.enter->multi-filter#filter">
  </div>
  
</div>


  
</div>


<% if @netball_educators.any? %>
  <div id="educators">
    <%= render 'educators_table', educators: @netball_educators %>
  </div>
<% else %>
  <p class="px-4 py-2">No records to view</p>
<% end %>






    
   
