<% content_for(:page_title, "Educators")%>

<div class="bg-white py-4 px-2 shadow sm:rounded-lg sm:px-10 text-sm">
 

<div class="">
   <ul class="flex flex-wrap text-sm font-medium text-left text-gray-500">
      <li class="me-2">
            <a href="/netball_educators/" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">By Created Date</a>
        </li>
        <li class="me-2">
            <a href="/netball_educators/index_state" class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg active " aria-current="page">By State</a>
        </li>
        <li class="me-2">
            <a href="/netball_educators/index_user" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">By Allocation</a>
        </li>
      
      </ul>
</div>

<br>

<% @netball_educators_by_state.each do |state, educators| %>
<div class="text-xl">
    <%= state %>
</div>

<div id="educators">
<div class="relative overflow-x-auto">
    <table class="table-fixed w-full text-left rtl:text-right">
        <thead class="bg-white border-b text-gray-300 font-light text-xs ">
            <tr>
                <th scope="col" class="px-6 py-3 font-light w-52">
                    Date Created 
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Name
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Contact
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    School/District
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Level
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    City
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    State
                </th>
                <th scope="col" class="px-6 py-3 w-52">
                    Allocated To
                </th>
                <th scope="col" class="px-6 py-3 w-52 truncate">
                    Notes
                </th>
            </tr>
        </thead>
        <tbody>
        <% educators.each do |educator| %>
            <tr class="bg-white border-b hover:bg-gray-100">
                <th scope="row" class="px-6 py-4 font-medium text-gray-800 whitespace-nowrap dark:text-white">
                    <%= educator.created_at.to_formatted_s(:usa) unless (educator.created_at.to_s.empty?) %>
                </th>
                
                <td class="px-6 py-4">
                   <%= link_to educator.full_name, edit_netball_educator_path(educator), class: link_class %>
                </td>
                
                <td class="px-6 py-4">
                   <%= educator.formatted_phone %><br><%= educator.email %>
                </td>
                
                <td class="px-6 py-4">
                  <%= educator.school_name %><br>
                  <%= (link_to educator.website, educator.website, target: '_blank', class: link_class) unless (educator.website.to_s.empty?)%>
                  
                </td>
                <td class="px-6 py-4">
                   <%= educator.level %>
                </td>
                
                 <td class="px-6 py-4">
                    <%= educator.city %>
                </td>
                
                <td class="px-6 py-4">
                   <%= educator.state %>
                </td>
                
                <td class="px-6 py-4">
                   <%= educator.user.full_name unless (educator.user_id.to_s.empty?)  %>
                </td>

                 <td class="px-6 py-4">
                  <p class="text-wrap truncate"> <%= educator.mgmt_notes %></p>
                </td>
            </tr>
            <% end %>
        </tbody>


    </table>
<br><br>
    <% end %>
</div>
 </div>
</div>
<br>
<div class="mt-1">
<%= link_to "Add New Educator", new_netball_educator_path, class: small_button_class %>
<br>
</div>


    
   
