<p>Hi <%= @name %>,</p>

<p><%= @old_name %> has allocated an <%= @object_type %> to you for action.</p>
<p>Click this link to view the record:</p>
<p><%= link_to @object_type, @link %></p>

<p>
 regards, 
 </p>
 <p>
  <%= image_tag asset_url("Netball_America_Logo.png"), alt: "Netball America", style: "max-width: 200px;" %>
</p>

