<ul class="ml-6 text-xs xl:text-xs ">

  <% if current_user.teamlead? %>
  <!-- HARD BLOCK: If Teamlead, show nothing -->
  <%# You can show a message if you want, or just leave empty %>
  <% elsif current_user.admin? %>
    <!-- Admin menu items -->
    <li class="mt-2">
      <a href="/netball_educators" class="text-gray-100 hover:font-bold">EDUCATORS</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/equipment" class="text-gray-100">- Equipment</a>
    </li>
   <li class="mt-2 ml-2">
    <a href="<%= educational_events_path %>" class="text-gray-100">- Educational Events</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/netball_educators/trainers_etc" class="text-gray-100 hover:font-bold">- Trainers</a>
    </li>

    <li class="mt-2">
      <a href="/sponsors" class="text-gray-100 hover:font-bold">SPONSORS</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/opportunities" class="text-gray-100">- Opportunities</a>
    </li>
    <li class="mt-2">
      <a href="/grants/" class="text-gray-100 hover:font-bold">GRANTS</a>
    </li>
    <li class="mt-2">
      <a href="/partners/" class="text-gray-100 hover:font-bold">PARTNERS</a>
    </li>
    <li class="mt-2">
      <a href="/vendors/" class="text-gray-100 hover:font-bold">VENDORS</a>
    </li>
    <li class="mt-2">
      <a href="/tours/" class="text-gray-100 hover:font-bold">TOURS</a>
    </li>
    <li class="mt-2">
      <a href="/media/" class="text-gray-100 hover:font-bold">MEDIA</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="<%= published_media_path %>" class="text-gray-100">- Published Media</a>
    </li>
   <li class="mt-2">
      <%= link_to "NA PEOPLE", people_path(role: "All"), class: "mt-8 text-gray-100 hover:font-bold" %>
    </li>
    <li class="mt-2">
      <a href="/events/" class="text-gray-100 hover:font-bol">ALL EVENTS</a>
    </li>
     <li class="mt-2 ml-2">
      <a href="/events/calendar" class="text-gray-100">- Calendar</a>
    </li>
    <li class="mt-2">
      <a href="/programs" class="text-gray-100 hover:font-bol">BAI PROGRAMS</a>
    </li>
     <% if can_see_netball_academy_section? %>
     <li class="mt-2">
      <a href="/netball_academies" class="text-gray-100 hover:font-bol">MY NETBALL ACADEMY</a>
    </li>
    <% end %>
    <li class="mt-2">
      <a href="/venues" class="text-gray-100 hover:font-bol">VENUES</a>
    </li>
    <li class="mt-2">
      <a href="/transfers/" class="text-gray-100 hover:font-bol">US OPEN</a>
    </li>
   
    <li class="mt-2 ml-2">
      <a href="/transfers/new" class="text-gray-100 hover:font-bold">- Add New Attendee</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/transfers/" class="text-gray-100 hover:font-bold">- Event Attendees</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="<%= inbound_pickups_transfers_path %>" class="text-gray-100 hover:font-bold">- Arrivals Transfers</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="<%= outbound_pickups_transfers_path %>" class="text-gray-100 hover:font-bold">- Departure Transfers</a>
    </li>
  
    <li class="mt-2">
      <a href="/clubs/index_admin" class="text-gray-100 hover:font-bold">MEMBERSHIP</a>
    </li>
     <li class="mt-2 ml-2">
      <a href="/netball_associations/index" class="text-gray-100 hover:font-bold">- All Associations</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/clubs/index_admin" class="text-gray-100 hover:font-bold">- All Clubs</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/members" class="text-gray-100 hover:font-bold">- All Members</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/clubs" class="text-gray-100 hover:font-bold">- Admin Managed Clubs</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/individual_members/" class="text-gray-100 hover:font-bold">- Individual Members</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/clubs/teams_list_index" class="text-gray-100 hover:font-bold">- Clubs by Region</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/payments/" class="text-gray-100 hover:font-bold">- Payments</a>
    </li>

  <% else %>

  <% my_person   = my_person_for(current_user) %>

    <% if can? :manage, Person %>
      <% if current_user.admin? %>
        <!-- Admin sees full people index -->
        <li class="mt-2">
          <%= link_to "NA PEOPLE", people_path, class: "text-gray-100 hover:font-bold" %>
        </li>
      <% else %>
        <!-- Educators_events_plus (and similar) see just their own profile -->
        <li class="mt-2">
          <%= link_to "My Profile",
              (my_person ? edit_person_path(my_person)
                        : new_person_path(person: { email: current_user.email })),
              class: "text-gray-100 hover:font-bold" %>
        </li>
      <% end %>
    <% end %>


 <% if can? :manage, NetballEducator %>
        <li class="mt-2">
          <a href="/netball_educators" class="text-gray-100 hover:font-bold">EDUCATORS</a>
        </li>

         <% if can? :manage, Equipment %>
          <li class="mt-2 ml-2">
            <a href="/equipment" class="text-gray-100">- Equipment</a>
          </li>  
         <% end %> 

          <% if can? :manage, FollowUp %>
          <li class="mt-2 ml-2">
            <a href="/follow_ups" class="text-gray-100 hover:font-bold">- Follow Ups</a>
          </li>
        <% end %>

         <% if can? :manage, Event %>
          <li class="mt-2 ml-2">
            <a href="<%= educational_events_path %>" class="text-gray-100">- Educational Events</a>
          </li>
        <% end %>

       

        <li class="mt-2 ml-2">
          <a href="/netball_educators/trainers_etc" class="text-gray-100 hover:font-bold">- Trainers & Ambassadors</a>
        </li>

         <li class="mt-2 ml-2">
          <a href="/netball_educators/search" class="text-gray-100 hover:font-bold">- Search </a>
        </li>

         <li class="mt-2 ml-2">
          <a href="/netball_educators/heat_map" class="text-gray-100 hover:font-bold">- Heat Map </a>
        </li>

    <% end %>
    <!-- Dynamic menu based on user permissions -->
   

    <% if can? :manage, Sponsor %>
      <li class="mt-2">
        <a href="/sponsors" class="text-gray-100 hover:font-bold">SPONSORS</a>
      </li>
      <% if can? :manage, Opportunity %>
        <li class="mt-2 ml-2">
          <a href="/opportunities" class="text-gray-100 hover:font-bold">- Opportunities</a>
        </li>
      <% end %>
    <% end %>

    <% if can? :manage, Grant %>
      <li class="mt-2">
        <a href="/grants/" class="text-gray-100 hover:font-bold">GRANTS</a>
      </li>
    <% end %>

    <% if can? :manage, Person %>
      <li class="mt-2">
        <%= link_to "NA PEOPLE", people_path, class: "text-gray-100 hover:font-bold" %>
      </li>
    <% end %>

  <% if can?(:manage, Event) || can?(:read, Event) %>
      <li class="mt-2">
        <a href="/events" class="text-gray-100 hover:font-bold">EVENTS</a>
      </li>
      <li class="mt-2 ml-2">
        <a href="/events/calendar" class="text-gray-100 hover:font-bold">- Calendar</a>
      </li>
    <% end %>

    <% if can? :manage, Medium %>
      <li class="mt-2">
        <a href="/media" class="text-gray-100 hover:font-bold">MEDIA</a>
      </li>
      <li class="mt-2 ml-2">
        <%= link_to "- Published", published_media_path, class: "text-gray-100 hover:font-bold"%>
      </li>
    <% end %>

   
    <% if can?(:manage, Club) || can?(:read, Club) %>
    
      <li class="mt-2">
        <a href="/clubs/index_admin" class="text-gray-100 hover:font-bold">MEMBERSHIP</a>
      </li>
      <li class="mt-2 ml-2">
        <a href="/clubs/index_admin" class="text-gray-100 hover:font-bold">- All Clubs</a>
      </li>
      <li class="mt-2 ml-2">
        <a href="/members" class="text-gray-100 hover:font-bold">- All Members</a>
      </li>
       <% if can? :manage, Club %>
      <li class="mt-2 ml-2">
        <a href="/clubs" class="text-gray-100 hover:font-bold">- Admin Managed Clubs</a>
      </li>
      <% end %>
      <li class="mt-2 ml-2">
        <a href="/individual_members/" class="text-gray-100 hover:font-bold">- Individual Members</a>
      </li>
      <li class="mt-2 ml-2">
        <a href="/clubs/teams_list_index" class="text-gray-100 hover:font-bold">- Clubs by Region</a>
      </li>
    <% end %>

    <% if can? :manage, Payment %>
      <li class="mt-2 ml-2">
        <a href="/payments/" class="text-gray-100 hover:font-bold">- Payments</a>
      </li>
    <% end %>

    <% if can? :manage, Tour %>
      <li class="mt-2">
        <a href="/tours/" class="text-gray-100 hover:font-bold">TOURS</a>
      </li>
    <% end %>

    <% if can? :manage, Venue %>
      <li class="mt-2">
        <a href="/venues" class="text-gray-100 hover:font-bold">VENUES</a>
      </li>
    <% end %>

     <% if can? :manage, Vendor %>
      <li class="mt-2">
        <a href="/vendors/" class="text-gray-100 hover:font-bold">VENDORS</a>
      </li>
    <% end %>

    <% if can? :manage, Program %>
      <li class="mt-2">
        <a href="/programs" class="text-gray-100 hover:font-bold">BAI PROGRAMS</a>
      </li>
    <% end %>

    <% if can? :manage, Partner %>
      <li class="mt-2">
        <a href="/partners/" class="text-gray-100 hover:font-bold">PARTNERS</a>
      </li>
    <% end %>


   <% if can? :menu_all, Transfer %>
      <li class="mt-2">
        <a href="/transfers/" class="text-gray-100 hover:font-bold">US OPEN</a>
      </li>
      <li class="mt-2 ml-2">
        <a href="/transfers/new" class="text-gray-100 hover:font-bold">- Add New Attendee</a>
      </li>
      <li class="mt-2 ml-2">
        <a href="/transfers/" class="text-gray-100 hover:font-bold">- Event Attendees</a>
      </li>
      <li class="mt-2 ml-2">
        <%= link_to "- Arrivals Transfers",  inbound_pickups_transfers_path,  class: "text-gray-100 hover:font-bold" %>
      </li>
      <li class="mt-2 ml-2">
         <%= link_to "- Departures Transfers",  outbound_pickups_transfers_path,  class: "text-gray-100 hover:font-bold" %>
      </li>
      <% elsif can? :manage, Transfer %>
      <%# self-service only (educators_events_plus) %>
      <% my_transfer = Transfer.joins(:person).find_by(people: { email: current_user.email }) %>
      <li class="mt-2">
        <%= link_to "My US OPEN Details",
            (my_transfer ? edit_transfer_path(my_transfer) : new_transfer_path),
            class: "text-gray-100 hover:font-bold" %>
      </li>
    <% end %>
  <% end %>
      
  <% if can?(:manage, :all) %>
  <li class="mt-2 text-blue-300 font-semibold">
    Admin Only
  </li>

  <% if can?(:read, Budget) %>
    <li class="mt-2 ml-2">
      <%= link_to "Budgets", budgets_path,
          class: "text-blue-300 hover:font-bold" %>
    </li>
  <% end %>

   <% if can?(:read, :audit_log) %>
  <li class="mt-2 ml-2">
    <%= link_to "Club Audit", audits_path,
        class: "text-blue-300 hover:font-bold" %>
  </li>
<% end %>

  <% if can?(:read, Filing) %>
    <li class="mt-2 ml-2">
      <%= link_to "Filings",filings_path,
          class: "text-blue-300 hover:font-bold" %>
    </li>
  <% end %>

  <% if can?(:read, Reference) %>
    <li class="mt-2 ml-2">
      <%= link_to "Ref Data", references_path,
          class: "text-blue-300 hover:font-bold" %>
    </li>
  <% end %>

  <% if can?(:read, SampleWord) %>
    <li class="mt-2 ml-2">
      <%= link_to "Sample Wording", sample_words_path,
          class: "text-blue-300 hover:font-bold" %>
    </li>
  <% end %>

  <% if can?(:read, User) %>
    <li class="mt-2 ml-2">
      <%= link_to "Users", users_path,
          class: "text-blue-300 hover:font-bold" %>
    </li>
  <% end %>

  <br><br>
<% end %>

</ul>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 