<!DOCTYPE html>
<html class="h-full bg-gray-100" lang="en">
 
  <head>
    <title>NetballUsa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.turbo.min.js"></script>
    <script src="https://kit.fontawesome.com/d868e3ba9e.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
  </head>

  <body class="h-full">
   <% if user_signed_in? %> 
     
  <!-- Header bar sticky starts -->
  <header class="border-blue-900 text-blue-900 bg-white sticky top-0 z-10 w-screen">
  
   <div class="flex flex-row">
      <div class="flex w-4/5 items-center place-items-start m-4">
          <a href="https://netball-america.com" class="flex items-center space-x-3 rtl:space-x-reverse">
              <%= link_to image_tag("Netball_America_Logo.png", :class=>"mx-2 h-12 w-auto"), root_path %>
           </a>
      </div>
      <div class="flex w-1/5 items-center justify-between  m-4">
      <div class="p-2 " title= "Home">
           <%= link_to root_path do %>
             <i class="fa-solid fa-house text-blue-800 hover:underline"></i>
           <% end %>
     </div>
       <div class="p-2 " title= "Edit User">
         <%= link_to edit_user_registration_path do %>
           <i class="fa-solid fa-user text-blue-800"> </i>
          
         <% end %>
       </div>
       <div class="p-2 " title="Logout">
         <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
           <i class="fa-solid fa-arrow-right-from-bracket text-blue-800"></i>
         <% end %>
       </div>
       <div class="p-2 text-xl" title="Info">
         <%= link_to asset_path("NA_System_User_Guide_V1_1.pdf", skip_pipeline: true) do %>
           <i class="fa-solid fa-circle-info text-blue-800"></i>
         <% end %>
       </div>
      </div>
   </div>
  
    <div class="md:hidden sm:w-full  sm:justify-items bg-blue-900 text-white border border-white">
         
    <table class="m-1 w-full text-center">
      <tr>
        <td>
          <a href="/netball_educators/pe_directors" class="mt-8 hover:font-bold">PE DIRECTORS</a>
        </td>
        <td>
          <a href="/netball_educators/" class="hover:font-bold">EDUCATORS</a>
        </td>
        <td>
           <a href="/follow_ups/" class="hover:font-bold">ED. FOLLOW UPs</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/sponsors" class="hover:font-bold">SPONSORS</a>
        </td>
        <td>
          <a href="/grants" class="hover:font-bold">GRANTS</a>
        </td>
        <td>
           <a href="/events" class="hover:font-bold">EVENTS</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/equipment" class="hover:font-bold">EQUIPMENT</a>
        </td>
        <td>
          <a href="/people" class="hover:font-bold">PEOPLE</a>
        </td>
        <td>
           <a href="/transfers" class="hover:font-bold">US OPEN</a>
        </td>
      </tr>
    <% if is_admin? %>  
      <tr>
        <td>
          <a href="/budgets" class="text-blue-300 hover:font-bold">BUDGETS</a>
        </td>
        <td>
          <a href="/references" class="text-blue-300 hover:font-bold">REF DATA</a>
        </td>
        <td>
           <a href="/sample_words" class="text-blue-300 hover:font-bold">WORDING</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/users" class="text-blue-300 hover:font-bold">USERS</a>
        </td>
        <td>
          <a href="#" class="hover:font-bold"></a>
        </td>
        <td>
           <a href="#" class="hover:font-bold"></a>
        </td>
      </tr>
      <% end %>
    </table>
         
     
     </div>
  </header>
 
      
    
     <!-- Headerbar Sticky end -->
     
        <!--Sidebar nav starts -->
        <div class="flex flex-row w-screen h-screen ">
          <div class="hidden md:flex flex-col bg-white w-1/5 h-110 rounded">
          
          <div title=<%= current_user.full_name %> class="text-blue-900 text-lg ml-5 mt-4">
          Contents
             </div>
          
          <ul class="ml-6 text-xs xl:text-xs ">
               <li class="mt-4">
                   <a href="/netball_educators/pe_directors" class="mt-8 text-blue-800 hover:font-bold">PE DIRECTORS</a>
               </li>
               <li class="mt-2">
                   <a href="/netball_educators/" class="text-blue-800 hover:font-bold">EDUCATORS</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/netball_educators/index_level/" class="text-blue-800 hover:font-bold">- By Level</a>
               </li>
                 <li class="mt-2 ml-2">
                   <a href="/netball_educators/index_state" class="text-blue-800 hover:font-bold">- By State</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/netball_educators/index_user" class="text-blue-800 hover:font-bold">- By Allocation</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/netball_educators/search" class="text-blue-800 hover:font-bold">- Search</a>
               </li>
            <li class="mt-2">
               <a href="/follow_ups/" class="text-blue-800 hover:font-bold">ED. FOLLOW UPs</a>
           </li>
            <li class="mt-2">
               <a href="/sponsors" class="text-blue-800 hover:font-bold">SPONSORS</a>
           </li>
            <li class="mt-2">
               <a href="/grants/" class="text-blue-800 hover:font-bold">GRANTS</a>
           </li>
            <li class="mt-2">
               <a href="/people" class="mt-8 text-blue-800 hover:font-bold">NA PEOPLE</a>
           </li>
               <li class="mt-2 ml-2">
                   <a href="/people/" class="text-blue-800 hover:font-bold">- US Umpires</a>
               </li>
                 <li class="mt-2 ml-2">
                   <a href="/people/index_int" class="text-blue-800 hover:font-bold">- Int Umpires</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/people/index_scorers" class="text-blue-800 hover:font-bold">- Scorers</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/people/index_trainers_and_ambassadors" class="text-blue-800 hover:font-bold">- Trainers/Ambassadors</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/people/people_search" class="text-blue-800 hover:font-bold">- Search</a>
               </li>
                <li class="mt-2">
                   <a href="/events/" class="text-blue-800 hover:font-bol">EVENTS</a>
               </li>
                <li class="mt-2">
                   <a href="/equipment" class="text-blue-800 hover:font-bol">EQUIPMENT</a>
               </li>
                <li class="mt-2">
                   <a href="/transfers/" class="text-blue-800 hover:font-bol">US OPEN</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/transfers/" class="text-blue-800 hover:font-bold">- Hotel & Flight</a>
               </li>
                 <li class="mt-2 ml-2">
                   <a href="/transfers/index_inbound_pickup" class="text-blue-800 hover:font-bold">- Arrivals Transfers</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/transfers/index_outbound_pickup" class="text-blue-800 hover:font-bold">- Departure Transfers</a>
               </li>
               <% if is_admin? %>  
                    <li class="mt-2 text-gray-600 font-semibold">
                    Admin Only
                    </li>
                     <li class="mt-2">
                         <a href="/budgets" class="text-gray-600 hover:font-bold">Budgets</a>
                     </li>
                     <li class="mt-2">
                         <a href="/references/" class="text-gray-600 hover:font-bold">Ref Data</a>
                     </li>
                     
                      <li class="mt-2">
                         <a href="/sample_words" class="text-gray-600  hover:font-bold">Sample Wording</a>
                     </li>
                     <li class="mt-2">
                        <a href="/users" class="text-gray-600 hover:font-bold">Users</a>
                    </li>
              <% end %>
           </ul>
          </div>
        <!--Sidebar nav end -->
        
        <!--Main Bucket  starts -->
          <div class="flex w-full ">
            <div class="flex flex-col w-full h-full">
             
             <!--Content title   starts -->
              <div class="flex bg-blue-900 sticky">
              <% if content_for(:page_title)%>
                <div class="">
                  <div class="mx-auto max-w-7xl px-4 py-2 sm:px-6 lg:px-8">
                    <h1 class="text-md font-medium text-left font-bold tracking-tight text-white">
                    <%= yield(:page_title)%></h1>
                  </div>
                </div>
              <% end %>
              </div>
               <!--Content title end -->
              
               <!--Content Bucket  starts -->
              <div class="flex bg-gray-100 w-full h-screen sticky">
                <div class="m-4 w-full bg-white py-4 px-2 shadow sm:rounded-lg sm:px-10 text-sm overflow-x-auto ">
                    <main>
                      <p class="notice"><%= notice %></p>
                      <p class="alert"><%= alert %></p>
                       <%= yield %>
                    </main>
                  </div>
                </div>
               <!--Content bucket end -->  
              
              </div>
            </div>
            <!--Main bucket end -->
         
        </div>
      </div>
        <!--Main  end -->
   
     
    <% else %>
     <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-6 px-4 shadow sm:rounded-lg sm:px-10">
       <%= image_tag 'Netball_America_Logo.png', :class => "mx-auto h-13 w-auto" %>
       
       <% if content_for(:page_title)%>
         <header class="bg-white shadow">
           <div class="mx-auto max-w-7xl px-4 py-2 sm:px-6 lg:px-8">
             <h1 class="text-xl font-light font-bold border-2 border-white tracking-tight text-blue-900">
             <%= yield(:page_title)%></h1>
           </div>
         </header>
       <% end %>
     
   
       <main>
         <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
     
           <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
           <%= yield %>
     
         </div>
       </main>
    <% end %>

  </body>
  </html>