<!DOCTYPE html>
<html lang="en">
 
  <head>
    <title>NetballUsa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.turbo.min.js"></script>
    <script src="https://kit.fontawesome.com/d868e3ba9e.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
  </head>

  <body class="bg-blue-900">

   <% if current_user %> 
     
  <!-- Header bar sticky starts -->
  <header class="bg-blue-900 text-blue-900 sticky top-0 z-10 w-screen">
  
   <div class="flex flex-row bg-white w-screen">
      
      <div class="flex w-4/5 m-2 ml-4">
          <a href="https://netball-america.com" class="flex items-center space-x-3 rtl:space-x-reverse">
              <%= link_to image_tag("Netball_America_Logo.png", :class=>"mx-2 h-12 w-auto"), root_path %>
           </a>
      </div>
     
     <div class="flex w-1/5 items-center justify-between m-4">
        <div class="p-2 " title= "Home">
             <%= link_to root_path do %>
               <i class="fa-solid fa-house text-blue-800 hover:underline"></i>
             <% end %>
        </div>
         <div class="p-2 " title= "Edit User">
           <%= link_to edit_user_registration_path do %>
             <i class="fa-solid fa-user text-blue-800"> </i>
             <% end %>
         </div>
         <div class="p-2 " title="Logout">
           <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
             <i class="fa-solid fa-arrow-right-from-bracket text-blue-800"></i>
           <% end %>
         </div>
         <div class="p-2 text-xl" title="Info">
           <%= link_to asset_path("NA_System_User_Guide_V1_1.pdf", skip_pipeline: true) do %>
             <i class="fa-solid fa-circle-info text-blue-800"></i>
           <% end %>
         </div>
      </div>
      </div>      
      <div class="container">
          <div class="block border-0 w-screen bg-blue-900 text-center text-white">
            <% if content_for(:page_title)%>
                <p class="pb-2 pt-2 text-md font-2xl text-center font-bold tracking-tight text-white">
                <%= yield(:page_title)%></p>
              <% end %>
          </div>    
           </div>
    </div>
  
    <div class="md:hidden sm:w-full sm:justify-items bg-blue-900 text-white">
         
      <table class="m-1 w-full text-center">
      <br>
        <tr>
          <td>
            <a href="/netball_educators/pe_directors" class="mt-8 hover:font-bold">PE DIRECTORS</a>
          </td>
          <td>
            <a href="/netball_educators/" class="hover:font-bold">EDUCATORS</a>
          </td>
          <td>
             <a href="/follow_ups/" class="hover:font-bold">ED. FOLLOW UPs</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/sponsors" class="hover:font-bold">SPONSORS</a>
          </td>
          <td>
            <a href="/grants" class="hover:font-bold">GRANTS</a>
          </td>
          <td>
             <a href="/events" class="hover:font-bold">EVENTS</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/equipment" class="hover:font-bold">EQUIPMENT</a>
          </td>
          <td>
            <a href="/people" class="hover:font-bold">PEOPLE</a>
          </td>
          <td>
             <a href="/transfers" class="hover:font-bold">US OPEN</a>
          </td>
        </tr>
      <% if is_admin? %>  
        <tr>
          <td>
            <a href="/budgets" class="text-blue-300 hover:font-bold">BUDGETS</a>
          </td>
          <td>
            <a href="/references" class="text-blue-300 hover:font-bold">REF DATA</a>
          </td>
          <td>
             <a href="/sample_words" class="text-blue-300 hover:font-bold">WORDING</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/users" class="text-blue-300 hover:font-bold">USERS</a>
          </td>
          <td>
            <a href="#" class="hover:font-bold"></a>
          </td>
          <td>
             <a href="#" class="hover:font-bold"></a>
          </td>
        </tr>
        <% end %>
      </table>
      <br>
     
     </div>
  </header>
<!-- Headerbar Sticky end -->
     
  <!--Sidebar nav starts -->
  <div class="container">
     <div class="relative md:flex flex-row h-screen w-screen overflow-hidden">
      
    
       <div class="hidden md:flex flex-col w-1/5 h-screen bg-blue-900 border-0 relative">
      
         <ul class="ml-6 text-xs xl:text-xs ">
           <% unless current_user.teamlead? %>
             
             <div title=<%= current_user.full_name %> class="underline underline-offset-8 text-gray-100 text-sm tracking-tight ml-6">
                 Hi <%= current_user.full_name %>
             </div>
               <li class="mt-2">
                   <a href="/netball_educators/pe_directors" class="mt-8 text-gray-100 hover:font-bold">PE DIRECTORS</a>
               </li>
               <li class="mt-2">
                   <a href="/netball_educators/" class="text-gray-100 hover:font-bold">EDUCATORS</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/netball_educators/index_level/" class="text-gray-100 hover:font-bold">- By Level</a>
               </li>
                 <li class="mt-2 ml-2">
                   <a href="/netball_educators/index_state" class="text-gray-100 hover:font-bold">- By State</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/netball_educators/index_user" class="text-gray-100 hover:font-bold">- By Allocation</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/netball_educators/search" class="text-gray-100 hover:font-bold">- Search</a>
               </li>
                <li class="mt-2">
                   <a href="/follow_ups/" class="text-gray-100 hover:font-bold">ED. FOLLOW UPs</a>
               </li>
                <li class="mt-2">
                   <a href="/sponsors" class="text-gray-100 hover:font-bold">SPONSORS</a>
               </li>
                <li class="mt-2">
                   <a href="/grants/" class="text-gray-100 hover:font-bold">GRANTS</a>
               </li>
                <li class="mt-2">
                   <a href="/people" class="mt-8 text-gray-100 hover:font-bold">NA PEOPLE</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/people/" class="text-gray-100 hover:font-bold">- US Umpires</a>
               </li>
                 <li class="mt-2 ml-2">
                   <a href="/people/index_int" class="text-gray-100 hover:font-bold">- Int Umpires</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/people/index_scorers" class="text-gray-100 hover:font-bold">- Scorers</a>
               </li>
               <li class="mt-2 ml-2 mr-1 whitespace-nowrap">
                   <a href="/people/index_trainers_and_ambassadors" class="text-gray-100 hover:font-bold">- Trainers/Ambassadors</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/people/people_search" class="text-gray-100 hover:font-bold">- Search</a>
               </li>
                <li class="mt-2">
                   <a href="/events/" class="text-gray-100 hover:font-bol">EVENTS</a>
               </li>
                <li class="mt-2">
                   <a href="/equipment" class="text-gray-100 hover:font-bol">EQUIPMENT</a>
               </li>
                <li class="mt-2">
                   <a href="/transfers/" class="text-gray-100 hover:font-bol">US OPEN</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/transfers/" class="text-gray-100 hover:font-bold">- Hotel & Flight</a>
               </li>
                 <li class="mt-2 ml-2">
                   <a href="/transfers/index_inbound_pickup" class="text-gray-100 hover:font-bold">- Arrivals Transfers</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/transfers/index_outbound_pickup" class="text-gray-100 hover:font-bold">- Departure Transfers</a>
               </li>
               <li class="mt-2">
                   <a href="/teams/" class="text-gray-100 hover:font-bold">MEMBERSHIP</a>
               </li>
               <% end %>
                 <% if current_user.teamlead? %>
                   <div title=<%= current_user.full_name %> class="italic underline underline-offset-8 text-gray-100 text-sm tracking-tight ">
                       Hi <%= current_user.full_name %>
                   </div>
                   <li class="mt-2">
                       <a href="/" class="text-gray-100 hover:font-bold">Home</a>
                   </li>
                   <li class="mt-2">
                       <a href="/teams/" class="text-gray-100 hover:font-bold">My Team(s)</a>
                   </li>
                    <% end %>
              
            <% if is_admin? %>  
                    <li class="mt-2 text-sky-300 font-semibold">
                    Admin Only
                    </li>
                    <li class="mt-2 ml-2">
                      <a href="/teams/teams_list_index" class="text-sky-300 hover:font-bold">Teams Report</a>
                    </li>
                   <li class="mt-2 ml-2">
                       <a href="/budgets" class="text-sky-300 hover:font-bold">Budgets</a>
                   </li>
                   <li class="mt-2 ml-2">
                       <a href="/references/" class="text-sky-300 hover:font-bold">Ref Data</a>
                   </li>
                   
                    <li class="mt-2 ml-2">
                       <a href="/sample_words" class="text-sky-300  hover:font-bold">Sample Wording</a>
                   </li>
                   <li class="mt-2 ml-2">
                      <a href="/users" class="text-sky-300 hoover:font-bold">Users</a><br>
                  </li>
                   <br><br>
               <% end %>
           </ul>
           <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
        <!--Sidebar nav end -->
        
        <!--Main Bucket  starts -->
       
            <div class=" overflow-y-auto w-screen w-4/5 min-h-3/4 border-2 border-blue-900">
             
               <!--Content Bucket  starts -->
              
                <div class="m-2 mr-4 bg-white py-2 px-2 text-sm">
                 
                    <main>
                      <p class="notice"><%= notice %></p>
                      <p class="alert"><%= alert %></p>
                     
                      <div class="overflow-x-auto">
                       <%= yield %>
                      </div>
                    </main>
                  </div>
                </div>
               <!--Content bucket end -->  
              
              </div>
            </div>
                     </div>
            <!--Main bucket end -->
         
        </div>
      </div>
        <!--Main  end -->
   
     
    <% else %>
     <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-6 px-2 shadow rounded-lg sm:px-10 overflow-x-auto">
       <%= image_tag 'Netball_America_Logo.png', :class => "mx-auto h-13 w-auto" %>
       
       <% if content_for(:page_title)%>
         <header class="bg-white shadow">
           <div class="mx-auto max-w-7xl px-4 py-2 sm:px-6 lg:px-8">
             <h1 class="text-xl font-bold border-2 border-white tracking-tight text-blue-900">
             <%= yield(:page_title)%></h1>
           </div>
         </header>
       <% end %>
     
       <main>
         <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
     
           <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
           <%= yield %>
     
         </div>
       </main>
    <% end %>
  
  </body>
  </html>