<!DOCTYPE html>
<html lang="en">
 
  <head>
    <title>NetballUsa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.turbo.min.js"></script>
    <script src="https://kit.fontawesome.com/d868e3ba9e.js" crossorigin="anonymous"></script>
    </head>

  <body class="bg-blue-900 max-h-xl">

   <% if current_user %> 
     
  <!-- Header bar sticky starts -->
  <header class="bg-blue-900 text-blue-900 sticky top-0 z-10 w-screen">
  
   <div class="flex flex-row bg-white w-screen">
      
      <div class="flex w-4/5 mt-2 ml-4 mb-2">
          <a href="https://netball-america.com" class="flex align-content-end items-center space-x-3 rtl:space-x-reverse">
              <%= link_to image_tag("Netball_America_Logo.png", :class=>"h-12 w-auto"), root_path %>
           </a>
      </div>
     
     <div class="flex w-1/5 items-center justify-between m-2">
        
        <div class="p-2">
         <%= link_to root_path do %>
            <i data-tooltip-target="tooltip-home" class="fa-solid fa-house text-blue-800"> </i>
          <% end %>
          <div id="tooltip-home" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-blue-300 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Home Page
              <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
          </div>
        
        
         <div class="p-2">
           <%= link_to edit_user_registration_path do %>
             <i data-tooltip-target="tooltip-edit" class="fa-solid fa-user text-blue-800"> </i>
           <% end %>
           <div id="tooltip-edit" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-blue-300 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
               Edit Profile
               <div class="tooltip-arrow" data-popper-arrow></div>
           </div>
           </div>
           
         <div class="p-2">
           <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
             <i data-tooltip-target="tooltip-logout" class="fa-solid fa-arrow-right-from-bracket text-blue-800"> </i>
           <% end %>
           <div id="tooltip-logout" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-blue-300 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
               Logout
               <div class="tooltip-arrow" data-popper-arrow></div>
           </div>
           </div>
         
           <% unless current_user.teamlead? %>
           <div class="p-2 text-lg">
             <%= link_to asset_path("NA_System_User_Guide_V1_1.pdf", skip_pipeline: true) do %>
               <i data-tooltip-target="tooltip-help" class="fa-solid fa-circle-info text-blue-800"> </i>
             <% end %>
             <div id="tooltip-help" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-blue-300 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Help
                 <div class="tooltip-arrow" data-popper-arrow></div>
             </div>
             </div>
          <% end %>
     
      </div>
      </div>    
      
        
      <div class="container">
          <div class="block border-0 w-screen bg-blue-900 text-center text-white">
           <div class="flex flex-row">
              <div class="w-64 max-h-xl ">
                <div class="pb-2 pt-2 font-mono text-md font-2xl text-white text-left justify-middle text-sm ml-4">
                    Hello <%= current_user.first_name %><br>
                   <% if current_user.admin? %> <%= current_user.role %><% end %>
                </div>
              </div>
              <div class="w-4/5 self-center">
                <% if content_for(:page_title)%>
                    <p class="pt-2 text-xl font-2xl text-left font-semibold text-white">
                    <% if flash[:error] %>
                    <div class="alert alert-danger">
                      <%= flash[:error] %>
                    </div>
                  <% end %>
                    <%= yield(:page_title)%></p>
                  <% end %>
              </div>    
            </div>
          </div>    
        </div>
    </div>
  
   
     <% if current_user.role =="admin" %> 
    <div class="md:hidden sm:w-fit sm:justify-items bg-blue-900 text-white">
         
      <table class="m-1 w-full text-center">
      <br>
        <tr>
          <td>
            <a href="/netball_educators/pe_directors" class="mt-8 hover:font-bold">PE DIRECTORS</a>
          </td>
          <td>
            <a href="/netball_educators/" class="hover:font-bold">EDUCATORS</a>
          </td>
          <td>
             <a href="/follow_ups/" class="hover:font-bold">ED. FOLLOW UPs</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/sponsors" class="hover:font-bold">SPONSORS</a>
          </td>
          <td>
            <a href="/grants" class="hover:font-bold">GRANTS</a>
          </td>
          <td>
             <a href="/events" class="hover:font-bold">EVENTS</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/programs" class="hover:font-bold">BAI PROGRAMS</a>
          </td>
          <td>
            <a href="/people" class="hover:font-bold">PEOPLE</a>
          </td>
          <td>
             <a href="/transfers" class="hover:font-bold">US OPEN</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/clubs/index_admin" class="hover:font-bold">MEMBERSHIP</a>
          </td>
          <td>
             <a href="#" class="hover:font-bold"></a>
          </td>
          <td>
              <a href="#" class="hover:font-bold"></a>
          </td>
        </tr>
      <% if is_admin? %>  
        <tr>
          <td>
            <a href="/budgets" class="text-blue-300 hover:font-bold">BUDGETS</a>
          </td>
          <td>
            <a href="/references" class="text-blue-300 hover:font-bold">REF DATA</a>
          </td>
          <td>
             <a href="/sample_words" class="text-blue-300 hover:font-bold">WORDING</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/users" class="text-blue-300 hover:font-bold">USERS</a>
          </td>
          <td>
            <a href="#" class="hover:font-bold"></a>
          </td>
          <td>
             <a href="#" class="hover:font-bold"></a>
          </td>
        </tr>
        <% end %>
      </table>
      <br>
     
       <% end %>
     </div>
  </header>
<!-- Headerbar Sticky end -->
     
  <!--Sidebar nav starts -->
  <div class="container">
     <div class="relative md:flex flex-row h-2xl w-screen">
      
    
       <div class="hidden md:flex flex-col w-1/5 h-screen bg-blue-900 border-0 relative">
      
         <ul class="ml-6 text-xs xl:text-xs ">
           <% if current_user.admin?  %>
             
               <li class="mt-2">
                   <a href="/netball_educators/pe_directors" class="mt-8 text-gray-100 hover:font-bold">PE DIRECTORS</a>
               </li>
               <li class="mt-2">
                   <a href="/netball_educators/index_state" class="text-gray-100 hover:font-bold">EDUCATORS</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/equipment/" class="text-gray-100 hover:font-bold">- Equipment Purchased</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/netball_educators/index_level/" class="text-gray-100 hover:font-bold">- By Level</a>
               </li>
                 <li class="mt-2 ml-2">
                   <a href="/netball_educators/" class="text-gray-100 hover:font-bold">- By Date Added</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/netball_educators/index_user" class="text-gray-100 hover:font-bold">- By Allocation</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/netball_educators/search" class="text-gray-100 hover:font-bold">- Search</a>
               </li>
                <li class="mt-2">
                   <a href="/follow_ups/" class="text-gray-100 hover:font-bold">ED. FOLLOW UPs</a>
               </li>
                <li class="mt-2">
                   <a href="/sponsors" class="text-gray-100 hover:font-bold">SPONSORS</a>
               </li>
                <li class="mt-2">
                   <a href="/grants/" class="text-gray-100 hover:font-bold">GRANTS</a>
               </li>
               <li class="mt-2">
                   <a href="/partners/" class="text-gray-100 hover:font-bold">PARTNERS</a>
               </li>
               <li class="mt-2">
                    <a href="/tours/" class="text-gray-100 hover:font-bold">TOURS</a>
                </li>
                <li class="mt-2">
                <a href="/media/" class="text-gray-100 hover:font-bold">MEDIA</a>
            </li>
                <li class="mt-2">
                   <a href="/people" class="mt-8 text-gray-100 hover:font-bold">NA PEOPLE</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/people/" class="text-gray-100 hover:font-bold">- US Umpires</a>
               </li>
                 <li class="mt-2 ml-2">
                   <a href="/people/index_int" class="text-gray-100 hover:font-bold">- Int Umpires</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/people/index_scorers" class="text-gray-100 hover:font-bold">- Scorers</a>
               </li>
               <li class="mt-2 ml-2 mr-1 whitespace-nowrap">
                   <a href="/people/index_trainers_and_ambassadors" class="text-gray-100 hover:font-bold">- Trainers/Ambassadors</a>
               </li>
               <li class="mt-2 ml-2">
                <a href="/people/index_coaches" class="text-gray-100 hover:font-bold">- Coaches</a>
               </li>
               <li class="mt-2 ml-2">
                 <a href="/people/index_operations" class="text-gray-100 hover:font-bold">- Operations</a>
                </li>
               <li class="mt-2 ml-2">
                   <a href="/people/people_search" class="text-gray-100 hover:font-bold">- Search</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/people/new" class="text-gray-100 hover:font-bold">- Add New Person</a>
               </li>
                <li class="mt-2">
                   <a href="/events/" class="text-gray-100 hover:font-bol">EVENTS</a>
               </li>
                <li class="mt-2">
                   <a href="/programs" class="text-gray-100 hover:font-bol">BAI PROGRAMS</a>
               </li>
               <li class="mt-2">
                   <a href="/venues" class="text-gray-100 hover:font-bol">VENUES</a>
               </li>
                <li class="mt-2">
                   <a href="/transfers/" class="text-gray-100 hover:font-bol">US OPEN</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/transfers/new" class="text-gray-100 hover:font-bold">- Add New Attendee</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/transfers/" class="text-gray-100 hover:font-bold">- Event Attendees</a>
               </li>
                 <li class="mt-2 ml-2">
                   <a href="/transfers/index_inbound_pickup" class="text-gray-100 hover:font-bold">- Arrivals Transfers</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/transfers/index_outbound_pickup" class="text-gray-100 hover:font-bold">- Departure Transfers</a>
               </li>
               <li class="mt-2">
                   <a href="/clubs/index_admin" class="text-gray-100 hover:font-bold">MEMBERSHIP</a>
               </li>
               <li class="mt-2 ml-2">
                   <a href="/clubs/index_admin" class="text-gray-100 hover:font-bold">- All Clubs</a>
               </li>
               <li class="mt-2 ml-2">
                <a href="/members" class="text-gray-100 hover:font-bold">- All Members</a>
              </li>
               <li class="mt-2 ml-2">
                   <a href="/clubs" class="text-gray-100 hover:font-bold">- Admin Managed Clubs</a>
               </li>
               <li class="mt-2 ml-2">
                  <a href="/individual_members/" class="text-gray-100 hover:font-bold">- Individual Members</a>
               </li>
               <li class="mt-2 ml-2">
                      <a href="/clubs/teams_list_index" class="text-gray-100 hover:font-bold">- Clubs by Region</a>
                 </li>
                <li class="mt-2 ml-2">
                 <a href="/payments/" class="text-gray-100 hover:font-bold">- Payments</a>
              </li>
               <% elsif current_user.teamlead? %>
               <!-- commenting out link for now
                   <li class="mt-8">
                       <a href="/clubs/" class="text-gray-100 underline underline-offset-2 ">Navigation Links</a>
                   </li>
                   <li class="mt-2">
                       <a href="/clubs/" class="text-gray-100 hover:font-bold">My Club</a>
                   </li>
                   //-->
                <% elsif current_user.teams_grants? %>
                    <li class="mt-8">
                       <a href="/" class="text-gray-100 underline underline-offset-2 ">Navigation Links</a>
                    </li>
                    <li class="mt-2">
                      <a href="/clubs/index_admin" class="text-gray-100 hover:font-bold">All Clubs</a>
                    </li>
                    <li class="mt-2">
                      <a href="/clubs/teams_list_index" class="text-gray-100 hover:font-bold">Clubs by Region</a>
                    </li>
                    <li class="mt-2">
                      <a href="/clubs" class="text-gray-100 hover:font-bold">Admin Managed Clubs</a>
                    </li>
                    <li class="mt-2">
                      <a href="/members" class="text-gray-100 hover:font-bold">All Members</a>
                    </li>
                    <li class="mt-2">
                      <a href="/individual_members/" class="text-gray-100 hover:font-bold">Individual Members</a>
                    </li>
                    <li class="mt-2">
                        <a href="/grants/" class="text-gray-100 hover:font-bold">Grants</a>
                    </li>
                    <li class="mt-2">
                        <a href="/people/" class="text-gray-100 hover:font-bold">NA People</a>
                    </li>
                    <li class="mt-2">
                      <a href="/programs/" class="text-gray-100 hover:font-bold">BAI Programs</a>
                    </li>
                    <li class="mt-2">
                      <a href="/events/" class="text-gray-100 hover:font-bold">Events</a>
                    </li>
                    <li class="mt-2">
                      <a href="/venues/" class="text-gray-100 hover:font-bold">Venues</a>
                    </li>
                    <li class="mt-2">
                      <a href="/tours/" class="text-gray-100 hover:font-bold">Tours</a>
                    </li>
                    <li class="mt-2">
                      <a href="/partners/" class="text-gray-100 hover:font-bold">Partners</a>
                    </li>

                <% elsif current_user.grants? %>
                    <li class="mt-8">
                       <a href="/" class="text-gray-100 underline underline-offset-2 ">Navigation Links</a>
                   </li>
                   <li class="mt-2">
                       <a href="/grants/" class="text-gray-100 hover:font-bold">Grants</a>
                   </li>
                <% elsif current_user.educators? %>
                   <li class="mt-8">
                       <a href="/" class="text-gray-100 underline underline-offset-2 ">Navigation Links</a>
                   </li>
                   <li class="mt-2">
                       <a href="/netball_educators/" class="text-gray-100 hover:font-bold">Educators</a>
                   </li>
                   <li class="mt-2">
                   <a href="/follow_ups/" class="text-gray-100 hover:font-bold">Follow Ups</a>
               </li>
                <% elsif current_user.teams_admin? %>
                   <li class="mt-8">
                       <a href="/" class="text-gray-100 underline underline-offset-2 ">Navigation Links</a>
                   </li>
                   <li class="mt-2">
                       <a href="/clubs/index_admin" class="text-gray-100 hover:font-bold">All Clubs</a>
                   </li>
                   <li class="mt-2">
                       <a href="/clubs/teams_list_index" class="text-gray-100 hover:font-bold">Clubs by Region</a>
                   </li>
                   <li class="mt-2">
                       <a href="/clubs/" class="text-gray-100 hover:font-bold">Set Up Club</a>
                   </li>
                   <li class="mt-2">
                      <a href="/individual_members/" class="text-gray-100 hover:font-bold">Individual Members</a>
                    </li>
                    <li class="mt-2">
                      <a href="/payments/" class="text-gray-100 hover:font-bold">Payments</a>
                    </li>
                   <% elsif current_user.sponsors_events? %>
                    <li class="mt-8">
                        <a href="/" class="text-gray-100 underline underline-offset-2 ">Navigation Links</a>
                    </li>
                    <li class="mt-2">
                        <a href="/sponsors" class="text-gray-100 hover:font-bold">Sponsors</a>
                    </li>
                    <li class="mt-2">
                      <a href="/events" class="text-gray-100 hover:font-bold">Events</a>
                    </li>
                    <% elsif current_user.educators_events? %>
                      <li class="mt-8">
                          <a href="/" class="text-gray-100 underline underline-offset-2 ">Navigation Links</a>
                      </li>
                      <li class="mt-2">
                      <a href="/netball_educators/pe_directors" class="mt-8 text-gray-100 hover:font-bold">PE Directors</a>
                      </li>
                      <li class="mt-2">
                          <a href="/netball_educators" class="text-gray-100 hover:font-bold">Educators</a>
                      </li>
                      <li class="mt-2">
                          <a href="/follow_ups" class="text-gray-100 hover:font-bold">Follow Ups</a>
                      </li>
                      <li class="mt-2">
                      <a href="/events" class="text-gray-100 hover:font-bold">Events</a>
                  </li>
                  <% elsif current_user.sponsors_only? %>
                    <li class="mt-8">
                        <a href="/" class="text-gray-100 underline underline-offset-2 ">Navigation Links</a>
                    </li>
                    <li class="mt-2">
                        <a href="/sponsors" class="text-gray-100 hover:font-bold">Sponsors</a>
                    </li>
                    
                <% end %>
                    
              
            <% if current_user.admin? %>  
                    <li class="mt-2 text-blue-300 font-semibold">
                    Admin Only
                    </li>
                    <li class="mt-2 ml-2">
                      <a href="/clubs/teams_list_index" class="text-blue-300 hover:font-bold">Clubs Report</a>
                    </li>
                   <li class="mt-2 ml-2">
                       <a href="/budgets" class="text-blue-300 hover:font-bold">Budgets</a>
                   </li>
                   <li class="mt-2 ml-2">
                       <a href="/references/" class="text-blue-300 hover:font-bold">Ref Data</a>
                   </li>
                   
                    <li class="mt-2 ml-2">
                       <a href="/sample_words" class="text-blue-300  hover:font-bold">Sample Wording</a>
                   </li>
                   <li class="mt-2 ml-2">
                      <a href="/users" class="text-blue-300 hoover:font-bold">Users</a><br>
                  </li>
                   <br><br>
               <% end %>
           </ul>
           <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
        <!--Sidebar nav end -->
        
        <!--Main Bucket  starts -->
       
            <div class="w-screen w-4/5 min-h-3/4 border-2 border-blue-900 overflow-scroll">
             
               <!--Content Bucket  starts -->
              
                <div class="m-2 mr-2 bg-white py-2 px-2 text-sm">
                 
                    <main>
                     <div class="text-center text-blue-700 text-lg">
                      <p class="notice"><%= notice %></p>
                      <p class="alert"><%= alert %></p>
                     </div>  
                      <div class="overflow-x-auto overflow-y-auto overflow-scroll">
                       <%= yield %>
                      </div>
                    </main>
                  </div>
                </div>
               <!--Content bucket end -->  
              
              </div>
            </div>
          </div>
            <!--Main bucket end -->
         
        </div>
      </div>
        <!--Main  end -->
   
     
    <% else %>
     <div class="mt-8 max-w-lg sm:mx-auto sm:w-full ">
      <div class="bg-white py-6 px-2 shadow rounded-lg sm:px-10 overflow-x-auto">
       <%= image_tag 'Netball_America_Logo.png', :class => "mx-auto h-11 w-auto" %>
       
       <% if content_for(:page_title)%>
         <header class="bg-white shadow">
           <div class="mx-auto max-w-7xl px-4 py-2 sm:px-6 lg:px-8">
             <h1 class="text-xl font-bold border-2 border-white tracking-tight text-blue-900">
             <%= yield(:page_title)%></h1>
           </div>
         </header>
       <% end %>
     
       <main>
         <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
     
           <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
                       
           <%= yield %>
     
         </div>
       </main>
    <% end %>
  
  </body>
  </html>