<!DOCTYPE html>
<html lang="en">
 

 <title><%= content_for?(:page_title) ? yield(:page_title) : "Netball America" %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <!-- ✅ This is the critical line -->
  <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>

  <!-- Optional scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.turbo.min.js"></script>
  <script src="https://kit.fontawesome.com/d868e3ba9e.js" crossorigin="anonymous"></script>
</head>

  <body class="bg-blue-900">

   <% if current_user %> 
     
  <!-- Header bar sticky starts -->
  <header class="bg-blue-900 text-blue-900 sticky top-0 z-10">
  
   <div class="flex flex-row bg-white">
      
      <div class="flex w-4/5 mt-2 ml-4 mb-2">
          <%= link_to image_tag("Netball_America_Logo.png", class: "h-12 w-auto"), root_path %>
       </div>
     
     <div class="flex w-1/5 items-center justify-between m-2">
        
        <div class="p-2">
         <%= link_to root_path, class: "p-2", data: { tooltip_target: "tooltip-home" } do %>
            <i class="fa-solid fa-house text-blue-800"></i>
          <% end %>
          <div id="tooltip-home" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-blue-300 rounded-lg shadow-sm opacity-0 tooltip">
              Home Page
              <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
          </div>
        
        
         <div class="p-2">
           <%= link_to edit_user_registration_path, class: "p-2", data: { tooltip_target: "tooltip-edit" } do %>
             <i class="fa-solid fa-user text-blue-800"></i>
           <% end %>
           <div id="tooltip-edit" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-blue-300 rounded-lg shadow-sm opacity-0 tooltip">
               Edit Profile
               <div class="tooltip-arrow" data-popper-arrow></div>
           </div>
           </div>
           
     <div class="p-2">
        <%= link_to destroy_user_session_path, data: { turbo_method: :delete} do %>
          <i data-tooltip-target="tooltip-logout" class="fa-solid fa-arrow-right-from-bracket text-blue-800"></i>
        <% end %>

        <div id="tooltip-logout" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-blue-300 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
          Logout
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      </div>
         
           <% unless current_user.teamlead? %>
           <div class="p-2 text-lg">
             <%= link_to asset_path("NA_System_User_Guide_V1_1.pdf", skip_pipeline: true), class: "p-2 text-lg", data: { tooltip_target: "tooltip-help" } do %>
               <i class="fa-solid fa-circle-info text-blue-800"></i>
             <% end %>
             <div id="tooltip-help" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-blue-300 rounded-lg shadow-sm opacity-0 tooltip">
              Help
                 <div class="tooltip-arrow" data-popper-arrow></div>
             </div>
             </div>
          <% end %>
     
      </div>
      </div>    
      
        
      <div class="container">
          <div class="block border-0 w-screen bg-blue-900 text-center text-white">
           <div class="flex flex-row">
              <div class="w-64 max-h-xl ">
                <div class="pb-2 pt-2 font-mono text-md font-2xl text-white text-left justify-middle text-sm ml-4">
                    Hello <%= current_user.first_name %><br>
                   <% if current_user.admin? %> <%= current_user.role %><% end %>
                </div>
              </div>
              <div class="w-4/5 self-center">
                <% if content_for(:page_title)%>
                    <p class="pt-2 text-xl font-2xl text-left font-semibold text-white">
                    <% if flash[:error] %>
                    <div class="alert alert-danger">
                      <%= flash[:error] %>
                    </div>
                  <% end %>
                  <p data-page-title-target="text" class="pt-2 text-xl font-2xl text-left font-semibold text-white">
                  
                      <%= yield(:page_title) || "People – Umpires" %>
                      
                    </p>

                  <% end %>
              </div>    
            </div>
          </div>    
        </div>
    </div>
  
   
     <% if current_user.role =="admin" %> 
    <%= render 'layouts/mobile_menu' %>
    <% end %>
  </header>
<!-- Headerbar Sticky end -->
     
  <!--Sidebar nav starts -->
  <div class="container">
     <div class="relative md:flex flex-row h-2xl w-screen">
      
    
       <div class="hidden md:flex flex-col w-1/5 h-screen bg-blue-900 border-0 relative">
      
         <%= render 'layouts/main_menu' %>
          </div>
        <!--Sidebar nav end -->
        
        <!--Main Bucket  starts -->
       
              <div class="w-screen w-4/5 min-h-3/4 border-2 border-blue-900 overflow-scroll">
             
               <!--Content Bucket  starts -->
              
                <div class="m-2 mr-2 bg-white py-2 px-2 text-sm">
                
                <!-- Notices -->
                  <div class="text-center text-blue-700 text-lg">
                    <p class="notice"><%= notice %></p>
                    <p class="alert"><%= alert %></p>
                  </div>  

                     <!-- Scrollable main content area -->
                     <main>
                      <div class="overflow-x-auto overflow-y-auto overflow-scroll">
                        <%= yield %>
                      </div>
                    </main>
                  </div>
                </div>
               <!--Content bucket end -->  
              
              </div>
            </div>
          </div>
            <!--Main bucket end -->
         
        </div>
      </div>
        <!--Main  end -->
   
     
    <% else %>
     <div class="mt-8 max-w-lg sm:mx-auto sm:w-full ">
      <div class="bg-white py-6 px-2 shadow rounded-lg sm:px-10 overflow-x-auto">
       <%= image_tag 'Netball_America_Logo.png', :class => "mx-auto h-11 w-auto" %>
       <%= yield :auth_header if content_for?(:auth_header) %>
       <% if content_for(:page_title)%>
         <header class="bg-white shadow">
           <div class="mx-auto max-w-7xl px-4 py-2 sm:px-6 lg:px-8">
             <h1 class="text-xl font-bold border-2 border-white tracking-tight text-blue-900">
             <%= yield(:page_title)%></h1>
           </div>
         </header>
       <% end %>
     
       <main>
         <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
     
           <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
                       
           <%= yield %>
     
         </div>
       </main>
    <% end %>
  
    <%= render 'layouts/mobile_menu' %>
  </body>
  </html>