<!DOCTYPE html>
<html class="h-full bg-gray-100" lang="en">
  <head>
    <title>NetballUsa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <script src="https://kit.fontawesome.com/d868e3ba9e.js" crossorigin="anonymous"></script>
  </head>

  <body class="h-full">
   <% if user_signed_in? %> 
     
    <header class="bg-gradient-to-r from-indigo-900 to-blue-800">
      <div class="flex items-end justify-between mx-8 my-1 pt-4 pb-2">
           <div title="Netball America Home Page">
              <%= link_to image_tag("Netball_America_Logo.png", :class=>"mx-2 h-14 w-auto"), root_path %>
           </div>
         
           <div class="mx-10 sm:max-w-xl md:max-w-md items-end md:place-content-center justify-between px-1 py-2 text-xs text-thin">
            <a href="/netball_educators/" class="text-gray-300 hover:bg-blue-800 hover:text-white rounded-md px-3 py-2 font-medium">Educators</a>
            <a href="/sponsors" class="text-gray-300  hover:bg-blue-800 hover:text-white rounded-md px-3 py-2 font-medium">Sponsors</a>
            <a href="/grants/" class="text-gray-300 hover:bg-blue-800 hover:text-white rounded-md px-3 py-2 font-medium">Grants</a>
            <a href="/umpires/" class="text-gray-300 hover:bg-blue-800 hover:text-white rounded-md px-3 py-2 font-medium">People</a>
            <a href="/transfers/" class="text-gray-300 hover:bg-blue-800 hover:text-white rounded-md px-3 py-2 font-medium">US Open</a>
           
             <% if is_admin? %>  
                <a href="/users/" class="text-gray-300 hover:bg-blue-800 hover:text-white rounded-md px-3 py-2 font-medium">Users</a>
                <a href="/references/" class="text-gray-300 hover:bg-blue-800 hover:text-white rounded-md px-3 py-2 font-medium">Ref Data</a>
             <% end %>
           </div>
           
          <div class="flex items-end justify-baseline">
            <div class="p-2 " title="Edit User">
              <%= link_to edit_user_registration_path do %>
                <i class="fa-solid fa-user text-white"></i>
              <% end %>
            </div>
            <div class="p-2 " title="Logout">
              <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
                <i class="fa-solid fa-arrow-right-from-bracket text-white"></i>
              <% end %>
            </div>
          </div>   
        </div>
        </header>
    
    <% else %>
     <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
       <%= image_tag 'Netball_America_Logo.png', :class => "mx-auto h-13 w-auto" %>
    <% end %>
 
    <% if content_for(:page_title)%>
      <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
          <h1 class="text-2xl font-bold tracking-tight text-blue-900">
          <%= yield(:page_title)%></h1>
        </div>
      </header>
    <% end %>
   
    <main>
      <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
     
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      <%= yield %>
     
      </div>
    </main>
   
   
   </div>
  </div>

  </body>

</html>