<div class="container m-4">
<%= form_for [@club, member], html: { class: "form member" } do |form| %>

  <% if member.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
        <% member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="border border-blue-900 rounded pr-8 mr-8">
  <div class="border border-white rounded m-2">
  
      <div class="flex flex-wrap gap-4">
        <div>
          <%= form.label :first_name, "First Name*", class: label_class %>
          <%= form.text_field :first_name, class: input_class  %>
        </div>

        <div>
          <%= form.label :last_name, "Last Name*",  class: label_class %>
          <%= form.text_field :last_name, class: input_class  %>
        </div>

        <div>
          <%= form.label :email,  "Email*", class: label_class%>
          <%= form.text_field :email, class: input_class  %>
        </div>

        <div>
          <%= form.label :email,  "Phone (Required for Club Pres.)", class: label_class%>
          <%= form.text_field :phone, class: input_class  %>
        </div>

        <div>
          <%= form.label :address,  "Address", class: label_class %>
          <%= form.text_field :address, class: input_class  %>
        </div>

        <div>
          <%= form.label :city,  "City*", class: label_class %>
          <%= form.text_field :city, class: input_class  %>
        </div>

        <div>
          <%= form.label :state, "State*", class: label_class %>
          <%= form.select :state, options_for_select(us_states, :selected => member.state),{:prompt=>true}, style: "width:206px", class: input_class %>
        </div>

        <div>
          <%= form.label :zip,  "Zip", class: label_class %>
          <%= form.text_field :zip, class: input_class  %>
        </div>

        <div>
          <%= form.label :gender, "Gender*", class: label_class%>
          <%= form.select :gender, options_for_select(gender, :selected => member.gender),{:prompt=>true}, style: "width:206px", class: input_class %>
        </div>

        <div>
          <%= form.label :age_status, "Youth(under 18) or Adult*", class: label_class %>
          <%= form.select :age_status, options_for_select(member_age_status, :selected => member.age_status),{:prompt=>true}, style: "width:206px", class: input_class %>
       </div>

       <div>
          <%= form.label :engagement_status, "Player Engagement*", class: label_class %>
          <%= form.select :engagement_status, options_for_select(member_engagement_status, :selected => member.engagement_status),{:prompt=>true}, style: "width:206px", class: input_class %>
       </div>

        <div>
          <%= form.label :place_of_birth, class: label_class %>
          <%= form.text_field :place_of_birth, class: input_class %>
        </div>
        </div>
  
        <div class="grid grid-cols-4 gap-4">
        <div class="mt-4">
          <%= form.label :interested_in_coaching, class: label_class %>
          <%= form.check_box :interested_in_coaching, class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
        </div>

        <div class="mt-4">
          <%= form.label :interested_in_umpiring, class: label_class %>
          <%= form.check_box :interested_in_umpiring, class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
        </div>

         <div class="mt-4">
          <%= form.label :interested_in_usa_team, class: label_class%>
          <%= form.check_box :interested_in_usa_team, class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
        </div>
        <div>
        </div>

        <div class="col-span-2">
          <%= form.label :notes, class: label_class %>
          <%= form.text_area :notes, class: input_class  %>
        </div>
          </div>
          
       <div class="flex items-center">
        <div>
        <br>   <%= link_to "Cancel", club_path(@club), class: clear_button_class %>
        </div>

        <div>
           <br> <%= form.submit "Save Record", class: form_button_class %>
         </div>
      </div>
    </div>
  <% end %>
   </div> 
 </div>
</div>
