<% content_for(:page_title, "All Members")%>

<div id="members">
  
    <% if @members.any? %>

    <div class="relative overflow-x-auto">
    <table class="table-auto w-full text-left rtl:text-right">
        <thead class="bg-gray-200 border-b text-gray-500 font-light text-xs ">
             <tr>
                <th scope="col" class="px-6 py-1">
                    First Name
                </th>
                <th scope="col" class="px-6 py-1">
                    Last Name
                </th>
                <th scope="col" class="px-6 py-1">
                    City
                </th>
                <th scope="col" class="px-6 py-1 ">
                    State
                 </th>
                 <th scope="col" class="px-6 py-1">
                    Club
                </th>
                <th scope="col" class="px-6 py-1">
                    Email
                </th>
                <th scope="col" class="px-6 py-1">
                    Phone
                </th>
                <th scope="col" class="px-6 py-1">
                    Address
                </th>
                <th scope="col" class="px-6 py-1">
                    ZIP
                </th>                
                <th scope="col" class="px-6 py-1 w-60 text-left">
                    Gender
                </th>
                <th scope="col" class="px-6 py-1 w-60 truncate">
                    Place of Birth
                </th>
                <th scope="col" class="px-6 py-1 w-60 truncate">
                    Age Status
                </th>
               
                <th scope="col" class="px-6 py-1 w-60 ">
                    Engagement Status
                </th>
               
            </tr>
        </thead>
        <tbody>
        <% @members.each do |member| %>
            <tr class="bg-white border-b hover:bg-gray-100 whitespace-nowrap">
               
                <td class="px-6 py-4 ">
                   <%= link_to member.first_name, club_path(member.club_id), class: link_class %>
                </td>
                
                <td class="px-6 py-4">
                   <%= member.last_name  %>
                </td>
                
                <td class="px-6 py-4">
                   <%= member.city  %>
                </td>

                <td class="px-6 py-4">
                  <%= member.state  %>
                </td>

                <td class="px-6 py-4">
                  <%= member.club_name  %>
                </td>

                <td class="px-6 py-4">
                  <%= member.email  %>
                </td>

                <td class="px-6 py-4">
                  <%= member.phone  %>
                </td>

                <td class="px-6 py-4">
                  <%= member.address  %>
                </td>
                <td class="px-6 py-4">
                  <%= member.zip  %>
                </td>
                <td class="px-6 py-4">
                  <%= member.gender  %>
                </td>
                <td class="px-6 py-4">
                  <%= member.place_of_birth  %>
                </td>
                <td class="px-6 py-4">
                  <%= member.age_status  %>
                </td>
                <td class="px-6 py-4">
                  <%= member.engagement_status  %>
                </td>

                
               
              
            </tr>
        <% end %>
        </tbody>
    </table>
</div>

    <% else %>
        <p class="px-6 py-4">
        No records to view</p>
    <% end %>
<br>



</div>

