<% content_for(:page_title, @netball_association.name) %>


<%= render "netball_association", netball_association: @netball_association %>

<p class="text-left text-gray-600 text-lg mt-8 ml-2 mb-2">
  Clubs affiliated with this association. [You may only edit clubs you administer]
</p>

<div id="club_form_container" class="pb-4 pt-2">
 <%= link_to "New Club",
  new_club_path(context: "association", netball_association_id: @netball_association.id),
  class: "text-white bg-teal-600 hover:bg-teal-700 px-4 py-2 rounded-lg text-sm" %>

</div>
<br> 

<% if @netball_association.clubs.any? %>
  <% @netball_association.clubs.ordered.each do |club| %>
    <% if club.user_id == current_user.id %>
      <%= turbo_frame_tag "club-details-#{club.id}" do %>
        <%= render "clubs/club_lite", club: club %>
      <% end %>
    <% else %>
      <%= render partial: "clubs/readonly", locals: { club: club } %>
    <% end %>
  <% end %>
<% else %>
  <div class="text-center text-gray-500 mt-4">
    No clubs are currently associated.
  </div>
<% end %>

<div class="bg-teal-50 border-4 border-teal-600 rounded-xl p-6 md:flex md:items-center md:justify-around space-y-4 md:space-y-0 md:space-x-6  shadow-sm">
  <div class="flex items-center text-base space-x-3">
    <i class="fa-solid fa-book text-teal-700 text-xl"></i>
    <%= link_to "📘 PLEASE READ: New Club Information Pack >>",
      "https://www.canva.com/design/DAF5WqztxRU/zFpGHN93GTXKOVzqb4Hqsw/view?utm_content=DAF5WqztxRU&utm_campaign=designshare&utm_medium=link&utm_source=editor#2",
      target: "_blank",
      class: "text-teal-800 font-semibold underline hover:text-teal-900" %>
  </div>

 

  <div class="flex items-center text-base space-x-3">
    <i class="fa-regular fa-clipboard text-teal-700 text-xl"></i>
    <%= link_to "📄 Club Information Pack >>",
      "https://www.canva.com/design/DAF6lkdLaPg/27ttOqb7-siKFLro0JCZUA/view?utm_content=DAF6lkdLaPg&utm_campaign=designshare&utm_medium=link&utm_source=editor#1",
      target: "_blank",
      class: "text-teal-800 font-semibold underline hover:text-teal-900" %>
  </div>
</div>

